In [1]:
pip install xlrd  #necessary to read the files in the personal Mac

Requirement already satisfied: xlrd in /opt/anaconda3/lib/python3.11/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
!pip install thefuzz

Requirement already satisfied: thefuzz in /opt/anaconda3/lib/python3.11/site-packages (0.22.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.0.0 in /opt/anaconda3/lib/python3.11/site-packages (from thefuzz) (3.9.3)

In [3]:
import pandas as pd

In [4]:
url = "/Users/karollvivianalopezvillegas/00_Ironhack_exercises/Mini-Projects/02_Data Wrangling_Sharks./GSAF5.xls"

# It is need to add the location of the file in the computer and then the name of the file and .xls, like this: "/GSAF5.xls"

In [5]:
#url = "/Users/anca/Desktop/Bootcamp - Ironhack/Project - Shark Attack/GSAF5.xls"

# It is need to add the location of the file in the computer and then the name of the file and .xls, like this: "/GSAF5.xls"

In [6]:
sharks_df = pd.read_excel(url)

In [7]:
#define function for visual view

def print_with_hist(pd_series, size=12):
    min = 1000000000
    max = 0
    max_result_str_len = 0
    for i, k in pd_series.items():
        result_str_len = len(f"{i} {' '*(2-(len(str(i))-1))} {k}")
        if result_str_len > max_result_str_len:
            max_result_str_len = result_str_len
        if k > max:
            max = k
        if k < min:
            min = k
    
    for i, k in pd_series.items():
        result_str = f"{i} {' '*(2-(len(str(i))-1))} {k}"
        print(
            "MAX ->" if k == max else "MIN ->" if k == min else "      ", 
            result_str, 
            " " * (max_result_str_len - len(result_str)), 
            " | ",
            "*" * int((k / size)),
        )

more than 3 word to define as specific for activity;
cut until the end of word shark;
regular expression - until , Source.

In [8]:
#Cleaning Column Names

sharks_df.columns = pd.Series(sharks_df.columns).apply(lambda col: col.lower())
sharks_df.rename(columns = lambda x: x.replace(' ', '_'), inplace=True)

print(sharks_df.columns)

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'unnamed:_11', 'time', 'species_',
       'source', 'pdf', 'href_formula', 'href', 'case_number', 'case_number.1',
       'original_order', 'unnamed:_21', 'unnamed:_22'],
      dtype='object')

In [9]:
print(sharks_df.info())

sharks_df
#original Dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6969 entries, 0 to 6968
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            6944 non-null   object
 1   year            6942 non-null   float64
 2   type            6926 non-null   object
 3   country         6894 non-null   object
 4   state           6462 non-null   object
 5   location        6379 non-null   object
 6   activity        6358 non-null   object
 7   name            6724 non-null   object
 8   sex             6365 non-null   object
 9   age             3950 non-null   object
 10  injury          6909 non-null   object
 11  unnamed:_11     6382 non-null   object
 12  time            3418 non-null   object
 13  species_        3812 non-null   object
 14  source          6925 non-null   object
 15  pdf             6799 non-null   object
 16  href_formula    6819 non-null   object
 17  href            6796 non-null   object
 18  case_number     6798 non-null   object
 19  case_number.1   6797 non-null   object
 20  original_order  6799 non-null   float64
 21  unnamed:_21     1 non-null      object
 22  unnamed:_22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB
None

,date,year,type,country,state,location,activity,name,sex,age,...,species_,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#Column: date

import datetime as dt   
#it's nessesary for work with date

sharks_df.dropna(subset="date", inplace=True)    
#delete all null values

sharks_df["date"] = sharks_df["date"] \
    .str.replace("-", " ") \
    .str.replace("Nox", "Nov") \
    .str.extract(".*(\d{2} [a-zA-Z]{3} \d{4}).*")
    # .str.apply(lambda x: dt.datetime.strptime(x,'%d %b %Y'))



# print(tmp_sharks_df["Date"])
# tmp_sharks_df["Date"] = tmp_sharks_df["Date"].apply(lambda x: dt.datetime.strptime(x,'%d %b %Y') if type(x)==str else pd.NaT)
# print(tmp_sharks_df["Date"])


sharks_df["date"] = pd.to_datetime(sharks_df["date"], format="%d %b %Y", errors='coerce')
sharks_df.dropna(subset="date", inplace=True)

In [11]:
print(sharks_df.info())

sharks_df
#Dataframe after clining Data

<class 'pandas.core.frame.DataFrame'>
Index: 5976 entries, 0 to 6943
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            5976 non-null   datetime64[ns]
 1   year            5974 non-null   float64
 2   type            5960 non-null   object
 3   country         5947 non-null   object
 4   state           5648 non-null   object
 5   location        5610 non-null   object
 6   activity        5561 non-null   object
 7   name            5814 non-null   object
 8   sex             5534 non-null   object
 9   age             3738 non-null   object
 10  injury          5954 non-null   object
 11  unnamed:_11     5497 non-null   object
 12  time            3297 non-null   object
 13  species_        3423 non-null   object
 14  source          5961 non-null   object
 15  pdf             5842 non-null   object
 16  href_formula    5838 non-null   object
 17  href            5839 non-null   object
 18  case_number     5841 non-null   object
 19  case_number.1   5840 non-null   object
 20  original_order  5842 non-null   float64
 21  unnamed:_21     1 non-null      object
 22  unnamed:_22     2 non-null      object
dtypes: datetime64[ns](1), float64(2), object(20)
memory usage: 1.1+ MB
None

,date,year,type,country,state,location,activity,name,sex,age,...,species_,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22
0,2024-03-15,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-03-04,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-03-02,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-02-25,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-02-14,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6938,2013-12-02,2013.0,Unprovoked,USA,Hawaii,"Between Makena & Molokini, Maui",Kayaking / Fishing,Patrick Briney,M,57,...,NaN,"C. Sugidono, The Maui News, 12/2/2013",2013.12.02-Briney.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.12.02,2013.12.02,5732.0,NaN,NaN
6939,2013-11-30,2013.0,Unprovoked,AUSTRALIA,New South Wales,"Riecks Point, Campbell’s Beach,",Body boarding,Zac Young,M,19,...,"Tiger shark, 3m","The Sydney Morning Herald, 11/30/2013",2013.11.30-ZacYoung.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.30,2013.11.30,5731.0,NaN,NaN
6941,2012-01-15,2012.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Second Beach, Port St. Johns",Swimming,Lungisani Msungubana,M,25,...,Thought to involve a bull shark,"News 24, 1/15/2012; R. Bonorchis, Bloomberg Ne...",2012.01.15-Msungubana.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.15,2012.01.15,5503.0,NaN,NaN
6942,2012-01-13,2012.0,Unprovoked,USA,Oregon,"Lincoln City, Lincoln County",Surfing,Steve Harnack,M,53,...,White shark,R. Collier,2012.01.13-Harnack.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.13,2012.01.13,5502.0,NaN,NaN
6943,2012-01-03,2012.0,Unprovoked,AUSTRALIA,New South Wales,North Avoca Beach,Surfing,Mike Wells,M,28,...,2 m shark,"Daily Telegraph, 1/3/2012",2012.01.03-Wells.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.03,2012.01.03,5501.0,NaN,NaN

In [12]:
#Add new colimn: month
sharks_df['month'] = sharks_df['date'].dt.month

sharks_df

,date,year,type,country,state,location,activity,name,sex,age,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,2024-02-25,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4,2024-02-14,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6938,2013-12-02,2013.0,Unprovoked,USA,Hawaii,"Between Makena & Molokini, Maui",Kayaking / Fishing,Patrick Briney,M,57,...,"C. Sugidono, The Maui News, 12/2/2013",2013.12.02-Briney.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.12.02,2013.12.02,5732.0,NaN,NaN,12
6939,2013-11-30,2013.0,Unprovoked,AUSTRALIA,New South Wales,"Riecks Point, Campbell’s Beach,",Body boarding,Zac Young,M,19,...,"The Sydney Morning Herald, 11/30/2013",2013.11.30-ZacYoung.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.30,2013.11.30,5731.0,NaN,NaN,11
6941,2012-01-15,2012.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Second Beach, Port St. Johns",Swimming,Lungisani Msungubana,M,25,...,"News 24, 1/15/2012; R. Bonorchis, Bloomberg Ne...",2012.01.15-Msungubana.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.15,2012.01.15,5503.0,NaN,NaN,1
6942,2012-01-13,2012.0,Unprovoked,USA,Oregon,"Lincoln City, Lincoln County",Surfing,Steve Harnack,M,53,...,R. Collier,2012.01.13-Harnack.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.13,2012.01.13,5502.0,NaN,NaN,1
6943,2012-01-03,2012.0,Unprovoked,AUSTRALIA,New South Wales,North Avoca Beach,Surfing,Mike Wells,M,28,...,"Daily Telegraph, 1/3/2012",2012.01.03-Wells.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.03,2012.01.03,5501.0,NaN,NaN,1

In [13]:
#Add new colimn: month
sharks_df['year'] = sharks_df['date'].dt.year

sharks_df

,date,year,type,country,state,location,activity,name,sex,age,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,2024-02-25,2024,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4,2024-02-14,2024,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6938,2013-12-02,2013,Unprovoked,USA,Hawaii,"Between Makena & Molokini, Maui",Kayaking / Fishing,Patrick Briney,M,57,...,"C. Sugidono, The Maui News, 12/2/2013",2013.12.02-Briney.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.12.02,2013.12.02,5732.0,NaN,NaN,12
6939,2013-11-30,2013,Unprovoked,AUSTRALIA,New South Wales,"Riecks Point, Campbell’s Beach,",Body boarding,Zac Young,M,19,...,"The Sydney Morning Herald, 11/30/2013",2013.11.30-ZacYoung.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.30,2013.11.30,5731.0,NaN,NaN,11
6941,2012-01-15,2012,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Second Beach, Port St. Johns",Swimming,Lungisani Msungubana,M,25,...,"News 24, 1/15/2012; R. Bonorchis, Bloomberg Ne...",2012.01.15-Msungubana.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.15,2012.01.15,5503.0,NaN,NaN,1
6942,2012-01-13,2012,Unprovoked,USA,Oregon,"Lincoln City, Lincoln County",Surfing,Steve Harnack,M,53,...,R. Collier,2012.01.13-Harnack.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.13,2012.01.13,5502.0,NaN,NaN,1
6943,2012-01-03,2012,Unprovoked,AUSTRALIA,New South Wales,North Avoca Beach,Surfing,Mike Wells,M,28,...,"Daily Telegraph, 1/3/2012",2012.01.03-Wells.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.03,2012.01.03,5501.0,NaN,NaN,1

In [14]:
aggr_by_month = sharks_df['date'].groupby([sharks_df['date'].dt.month]).agg('count')

print_with_hist(aggr_by_month)

       1    535   |  ********************************************
MIN -> 2    389   |  ********************************
       3    423   |  ***********************************
       4    454   |  *************************************
       5    413   |  **********************************
       6    516   |  *******************************************
MAX -> 7    713   |  ***********************************************************
       8    610   |  **************************************************
       9    570   |  ***********************************************
       10   471   |  ***************************************
       11   419   |  **********************************
       12   463   |  **************************************

In [15]:
aggr_by_year = sharks_df['date'].groupby([sharks_df['date'].dt.year]).agg('count').sort_index(ascending=False)

print_with_hist(aggr_by_year)

       2024  10    |
       2023  100   |  ********
       2022  98    |  ********
       2021  109   |  *********
       2020  99    |  ********
       2019  112   |  *********
       2018  121   |  **********
       2017  138   |  ***********
       2016  129   |  **********
MAX -> 2015  141   |  ***********
       2014  118   |  *********
       2013  120   |  **********
       2012  114   |  *********
       2011  124   |  **********
       2010  101   |  ********
       2009  118   |  *********
       2008  116   |  *********
       2007  108   |  *********
       2006  98    |  ********
       2005  100   |  ********
       2004  89    |  *******
       2003  85    |  *******
       2002  87    |  *******
       2001  88    |  *******
       2000  90    |  *******
       1999  61    |  *****
       1998  59    |  ****
       1997  56    |  ****
       1996  55    |  ****
       1995  69    |  *****
       1994  54    |  ****
       1993  42    |  ***
       1992  50    |  ****
       1991  36    |  ***
       1990  38    |  ***
       1989  49    |  ****
       1988  53    |  ****
       1987  31    |  **
       1986  30    |  **
       1985  32    |  **
       1984  38    |  ***
       1983  45    |  ***
       1982  33    |  **
       1981  45    |  ***
       1980  28    |  **
       1979  21    |  *
       1978  24    |  **
       1977  23    |  *
       1976  37    |  ***
       1975  43    |  ***
       1974  33    |  **
       1973  21    |  *
       1972  33    |  **
       1971  20    |  *
       1970  23    |  *
       1969  24    |  **
       1968  38    |  ***
       1967  41    |  ***
       1966  51    |  ****
       1965  37    |  ***
       1964  58    |  ****
       1963  56    |  ****
       1962  78    |  ******
       1961  68    |  *****
       1960  71    |  *****
       1959  79    |  ******
       1958  40    |  ***
       1957  27    |  **
       1956  32    |  **
       1955  29    |  **
       1954  35    |  **
       1953  23    |  *
       1952  21    |  *
       1951  28    |  **
       1950  27    |  **
       1949  20    |  *
       1948  23    |  *
       1947  25    |  **
       1946  22    |  *
       1945  11    |
       1944  25    |  **
       1943  18    |  *
       1942  25    |  **
       1941  18    |  *
       1940  16    |  *
       1939  20    |  *
       1938  19    |  *
       1937  27    |  **
       1936  27    |  **
       1935  30    |  **
       1934  26    |  **
       1933  22    |  *
       1932  25    |  **
       1931  27    |  **
       1930  21    |  *
       1929  34    |  **
       1928  20    |  *
       1927  15    |  *
       1926  16    |  *
       1925  10    |
       1924  19    |  *
       1923  17    |  *
       1922  21    |  *
       1921  10    |
       1920  12    |  *
       1919  12    |  *
       1918  2     |
       1917  9     |
       1916  26    |  **
       1915  10    |
       1914  18    |  *
       1913  15    |  *
       1912  14    |  *
       1911  14    |  *
       1910  11    |
       1909  16    |  *
       1908  13    |  *
       1907  20    |  *
       1906  17    |  *
       1905  14    |  *
       1904  8     |
       1903  7     |
       1902  13    |  *
       1901  7     |
       1900  10    |
       1899  17    |  *
       1898  12    |  *
       1897  9     |
       1896  8     |
       1895  17    |  *
       1894  15    |  *
       1893  12    |  *
       1892  10    |
       1891  9     |
       1890  10    |
       1889  8     |
       1888  13    |  *
       1887  11    |
       1886  11    |
       1885  9     |
       1884  7     |
       1883  9     |
       1882  9     |
       1881  7     |
       1880  11    |
       1879  6     |
       1878  10    |
       1877  13    |  *
       1876  5     |
       1875  4     |
       1874  8     |
       1873  3     |
       1872  7     |
       1871  5     |
       1870  7     |
       1869  2     |
       1868  4     |
       1867  3     |
       1866  2     |
       1865  3     |
       1864  8     |
       1863  6     |
       1862  10    |
       1861  4     |
       1860  4     |
MIN -> 1859  1     |
       1858  6     |
MIN -> 1857  1     |
       1856  4     |
       1855  6     |
       1853  3     |
       1852  6     |
MIN -> 1851  1     |
       1850  2     |
       1849  7     |
       1848  3     |
       1847  6     |
       1846  3     |
       1845  5     |
       1844  2     |
       1842  2     |
MIN -> 1841  1     |
       1840  3     |
       1839  2     |
       1837  2     |
MIN -> 1836  1     |
       1835  2     |
MIN -> 1834  1     |
       1832  2     |
MIN -> 1831  1     |
       1830  4     |
       1829  2     |
MIN -> 1828  1     |
       1826  3     |
MIN -> 1823  1     |
MIN -> 1822  1     |
MIN -> 1819  1     |
MIN -> 1818  1     |
       1817  4     |
MIN -> 1811  1     |
MIN -> 1810  1     |
       1808  3     |
MIN -> 1807  1     |
MIN -> 1804  1     |
MIN -> 1801  1     |
MIN -> 1792  1     |
MIN -> 1788  1     |
MIN -> 1787  1     |
MIN -> 1786  1     |
MIN -> 1785  1     |
MIN -> 1784  1     |
MIN -> 1783  1     |
MIN -> 1780  1     |
MIN -> 1771  1     |
MIN -> 1753  1     |
MIN -> 1751  1     |
MIN -> 1742  1     |
MIN -> 1738  1     |
MIN -> 1703  1     |

In [16]:
#Column: year

#Updated it.

In [17]:
#Dataframe after updating Year

sharks_df

,date,year,type,country,state,location,activity,name,sex,age,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,2024-02-25,2024,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4,2024-02-14,2024,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6938,2013-12-02,2013,Unprovoked,USA,Hawaii,"Between Makena & Molokini, Maui",Kayaking / Fishing,Patrick Briney,M,57,...,"C. Sugidono, The Maui News, 12/2/2013",2013.12.02-Briney.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.12.02,2013.12.02,5732.0,NaN,NaN,12
6939,2013-11-30,2013,Unprovoked,AUSTRALIA,New South Wales,"Riecks Point, Campbell’s Beach,",Body boarding,Zac Young,M,19,...,"The Sydney Morning Herald, 11/30/2013",2013.11.30-ZacYoung.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.30,2013.11.30,5731.0,NaN,NaN,11
6941,2012-01-15,2012,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Second Beach, Port St. Johns",Swimming,Lungisani Msungubana,M,25,...,"News 24, 1/15/2012; R. Bonorchis, Bloomberg Ne...",2012.01.15-Msungubana.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.15,2012.01.15,5503.0,NaN,NaN,1
6942,2012-01-13,2012,Unprovoked,USA,Oregon,"Lincoln City, Lincoln County",Surfing,Steve Harnack,M,53,...,R. Collier,2012.01.13-Harnack.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.13,2012.01.13,5502.0,NaN,NaN,1
6943,2012-01-03,2012,Unprovoked,AUSTRALIA,New South Wales,North Avoca Beach,Surfing,Mike Wells,M,28,...,"Daily Telegraph, 1/3/2012",2012.01.03-Wells.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.03,2012.01.03,5501.0,NaN,NaN,1

In [18]:
#Column: type

sharks_df['type'] = sharks_df['type'].str.capitalize().str.strip()

In [19]:
replace_dict = {
    'Questionable': 'Indefined',
    'Unconfirmed': 'Indefined',
    'Unconfirmed': 'Indefined',
    'Invalid': 'Indefined',
    'Unverified': 'Indefined',
    'Invalid': 'Indefined',
    'Under investigation': 'Indefined',
    'Boat': 'Indefined',
    '?': 'Indefined'

}

sharks_df['type'] = sharks_df['type'].replace(replace_dict)

sharks_df.type.fillna('Indefined', inplace = True)

In [20]:
#Types after cleaning

sharks_df['type'].unique()

#Replaced NaN to 'Indefined'
#Replaced 'Questionable', 'Unconfirmed', 'Unverified', 'Invalid', 'Under investigation' ... -> 'Indefined'

array(['Unprovoked', 'provoked', 'Provoked', 'Indefined', 'Watercraft',
       'Sea disaster'], dtype=object)

In [21]:
#Column: country
#Check how many null values in column "country"
print(f'Column "country" has {sharks_df.country.isna().sum()} null values.')

Column "country" has 29 null values.

In [22]:
#Column: country
sharks_df.loc[sharks_df["country"].isna()]

#Rows with null values.
#Do we need to keep it? Maybe just delete?

,date,year,type,country,state,location,activity,name,sex,age,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
266,1909-01-17,1909,Indefined,NaN,NaN,Near the equator,Jumped overboard,Thomas Butler,M,36,...,"Star, 3/18/1909",1909.01.17-Butler.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1909.01.17,1909.01.17,886.0,NaN,NaN,1
446,1898-09-19,1898,Unprovoked,NaN,NaN,NaN,Diving,Halletts,M,NaN,...,"Lincoln Evening News & Daily Call, 9/19/1898",1898.09.19.b.R-Halletts.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1898.09.19.b.R,1898.09.19.b.R,725.0,NaN,NaN,9
447,1898-09-19,1898,Unprovoked,NaN,NaN,NaN,Diving,male,M,NaN,...,"Lincoln Evening News & Daily Call, 9/19/1898",1898.09.19.a.R.Sully.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1898.09.19.a.R,1898.09.19.a.R,724.0,NaN,NaN,9
478,1897-03-15,1897,Unprovoked,NaN,Mediterranean Sea,NaN,Swimming,male,M,NaN,...,"Daily Northwestern, 5/15/1897",1897.03.15.b.R-Mediterranean.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1897.03.15.b.R,1897.03.15.b.R,698.0,NaN,NaN,3
504,1895-06-13,1895,Unprovoked,NaN,NaN,NaN,Diving,Marsh,M,NaN,...,"Lima Times, 6/13/1895",1895.06.13.R-EnglishDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1895.06.13.R,1895.06.13.R,674.0,NaN,NaN,6
673,1887-07-30,1887,Sea disaster,NaN,Gulf of California,NaN,"Sea disaster, wreck of the sloop Sara",2 males,M,NaN,...,"Austin Weekly Statesman, 8/11/1887",1887.07.30-TheSara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1887.07.30,1887.07.30,568.0,NaN,NaN,7
992,1885-04-16,1885,Unprovoked,NaN,NaN,NaN,Swimming,2 males,M,NaN,...,"Gleaner (Jamaica), 4/16/1885",1885.04.16.R-GermanShip.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1885.04.16.R,1885.04.16.R,539.0,NaN,NaN,4
1413,1881-08-16,1881,Unprovoked,NaN,Western Banks,NaN,"Floating, holding onto an oar after dory capsized",George Sedgwick,M,20,...,"Lewiston Evening Journal, 8/16/1881",1881.08.16.R-Sedgwick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.08.16.R,1881.08.16.R,501.0,NaN,NaN,8
1437,1881-07-25,1881,Unprovoked,NaN,NaN,Santa Cruz,Bathing,Father Hudson,M,NaN,...,"Grey River Argus,10/3/1881, p.2",1881.06.25-FatherHudson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.06.25,1881.06.25,499.0,NaN,NaN,7
1758,1878-10-13,1878,Unprovoked,NaN,NaN,NaN,Jumped overboard after murdering 2 shipmates,Sherrington,M,NaN,...,The Maitland Mercury & Hunter River General Ad...,1878.10.13-Sherrington.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1878.10.13,1878.10.13,470.0,NaN,NaN,10
2269,1874-06-15,1874,Unprovoked,NaN,NaN,NaN,Salvaging a shipwreck,male,M,NaN,...,"Daily Southern Cross, 6/15/1874",1874.06.15.a.R-Achilles-tendon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1874.06.15.a.R,1874.06.15.a.R,424.0,NaN,NaN,6
2659,1869-04-10,1869,Indefined,NaN,NaN,NaN,Fell overboard,Christian Frederick,M,NaN,...,"Nelson Examiner & New Zealand Chronicle, 4/24/...",1869.04.10-Frederick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1869.04.10,1869.04.10,389.0,NaN,NaN,4
3502,1856-11-20,1856,Unprovoked,NaN,NaN,NaN,Swimming,Cornelius Conhlren,M,22,...,"Pacific Commercial Advertiser, 11/20/1856",1856.11.20.R-Conhlren.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1856.11.20.R,1856.11.20.R,313.0,NaN,NaN,11
3558,1855-07-28,1855,Unprovoked,NaN,NaN,NaN,Bathing,"a young boy, one of the crew of the Post Boy",M,NaN,...,"Maitland Mercury, 8/25/1855",1855.07.28-PostBoy-sailors.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1855.07.28,1855.07.28,308.0,NaN,NaN,7
3727,1970-08-02,1970,Indefined,NaN,Caribbean Sea,Between St. Kitts & Nevis,Sea Disaster Sinking of ferryboat Christina,NaN,NaN,NaN,...,"Rome News Tribune, 8/3/1970",1970.08.02-Christina-ferryboat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.08.02,1970.08.02,2928.0,NaN,NaN,8
3968,1965-10-21,1965,Unprovoked,NaN,NaN,Florida Strait,The boat Caribou II sank,Mario Castellanos,M,39,...,"Lodi News Sentinel, 10/30/1965",1965.10.21-Castellanos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1965.10.21,1965.10.21,2710.0,NaN,NaN,10
4031,1964-09-27,1964,Indefined,NaN,NaN,NaN,Spearfishing,Giancarlo Griffon,M,24,...,C. Moore. GSAF,1964.09.27-Griffon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1964.09.27,1964.09.27,2654.0,NaN,NaN,9
4428,1960-01-26,1960,Sea disaster,NaN,"Between Timor & Darwin, Australia",NaN,Portuguese Airliner with 9 people aboard went ...,NaN,NaN,NaN,...,"V.M. Coppleson (1962), p.260",1960.01.26-Portuguese airliner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.01.26,1960.01.26,2297.0,NaN,NaN,1
4569,1830-04-22,1830,Unprovoked,NaN,NaN,NaN,NaN,Jose,M,NaN,...,"The Torchlight & Public Advertiser, 4/22/1830",1830.04.22.R-Jose.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1830.04.22.R,1830.04.22.R,217.0,NaN,NaN,4
4664,1956-09-13,1956,Unprovoked,NaN,Near the Andaman & Nicobar Islands,NaN,Climbing back on ship,male,M,NaN,...,M. Hosina,1956.09.13-TunaBoat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.09.13,1956.09.13,2084.0,NaN,NaN,9
4869,1811-03-01,1811,Unprovoked,NaN,NaN,NaN,Fell overboard,John Walker,M,NaN,...,Journal of Captain Marryat,1811.03.01-John-Walker.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1811.03.01,1811.03.01,190.0,NaN,NaN,3
5003,1801-12-18,1801,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,NaN,...,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,178.0,NaN,NaN,12
5069,1787-07-05,1787,Unprovoked,NaN,St Helena,Landing Place,Swimming,Private Isaac Hicksled,M,NaN,...,"H.R. Janisch (1885), Extracts from the St. Hel...",1787.07.05-Hicksled.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1787.07.05,1787.07.05,172.0,NaN,NaN,7
5121,1944-10-24,1944,Sea disaster,NaN,NaN,225 miles east of Hong Kong,Japanese POW ship Arisan Maru with 1800 Americ...,NaN,M,NaN,...,internet (multiple),1944.10.24-ArisanMaru.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1944.10.24,1944.10.24,1673.0,NaN,NaN,10
5269,1742-12-17,1742,Unprovoked,NaN,NaN,Carlisle Bay,Swimming,2 impressed seamen,M,NaN,...,"C. Moore, GSAF",1742.12.17-AdviceSeamen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1742.12.17,1742.12.17,154.0,NaN,NaN,12
5422,1935-04-12,1935,Unprovoked,NaN,NaN,NaN,Diving,Pearl Purdy Scott,F,NaN,...,"Port Arthur News, 4/12/1935",1935.04.12.R-PearlPurdyScott.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1935.04.12.R,1935.04.12.R,1401.0,NaN,NaN,4
5544,1931-04-27,1931,Unprovoked,NaN,French Southern Territories,Île Saint-Paul,"Fishing, boat capsized",Quillezic,M,NaN,...,"Los Angeles Times, 4/27/1931",1931.04.27.R-Quillezic.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1931.04.27.R,1931.04.27.R,1292.0,NaN,NaN,4
5589,1929-12-09,1929,Unprovoked,NaN,NaN,NaN,NaN,Thomas Duggan,M,20,...,"The Age, 12/9/1929",1929.12.09.R-Duggan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1929.12.09.R,1929.12.09.R,1252.0,NaN,NaN,12
6399,2017-11-13,2017,Unprovoked,NaN,NaN,NaN,Surfing,Timur Yunusov,M,24,...,Instagram,2017.11.13.R-Timur.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.11.13.R,2017.11.13.R,6270.0,NaN,NaN,11

In [23]:
#Column: country
sharks_df.dropna(subset="country", inplace=True)

sharks_df
#Dataframe after deleting rows with null values in country

,date,year,type,country,state,location,activity,name,sex,age,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,2024-02-25,2024,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4,2024-02-14,2024,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6938,2013-12-02,2013,Unprovoked,USA,Hawaii,"Between Makena & Molokini, Maui",Kayaking / Fishing,Patrick Briney,M,57,...,"C. Sugidono, The Maui News, 12/2/2013",2013.12.02-Briney.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.12.02,2013.12.02,5732.0,NaN,NaN,12
6939,2013-11-30,2013,Unprovoked,AUSTRALIA,New South Wales,"Riecks Point, Campbell’s Beach,",Body boarding,Zac Young,M,19,...,"The Sydney Morning Herald, 11/30/2013",2013.11.30-ZacYoung.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.30,2013.11.30,5731.0,NaN,NaN,11
6941,2012-01-15,2012,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Second Beach, Port St. Johns",Swimming,Lungisani Msungubana,M,25,...,"News 24, 1/15/2012; R. Bonorchis, Bloomberg Ne...",2012.01.15-Msungubana.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.15,2012.01.15,5503.0,NaN,NaN,1
6942,2012-01-13,2012,Unprovoked,USA,Oregon,"Lincoln City, Lincoln County",Surfing,Steve Harnack,M,53,...,R. Collier,2012.01.13-Harnack.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.13,2012.01.13,5502.0,NaN,NaN,1
6943,2012-01-03,2012,Unprovoked,AUSTRALIA,New South Wales,North Avoca Beach,Surfing,Mike Wells,M,28,...,"Daily Telegraph, 1/3/2012",2012.01.03-Wells.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.03,2012.01.03,5501.0,NaN,NaN,1

In [24]:
#Column: country

from thefuzz import process

# Define the list of standard country names
standard_countries = [
    'AUSTRALIA', 'USA', 'INDIA', 'TRINIDAD', 'BAHAMAS', 'SOUTH AFRICA', 'MEXICO', 'NEW ZEALAND', 'EGYPT', 'BELIZE',
    'PHILIPPINES', 'CORAL SEA', 'SPAIN', 'PORTUGAL', 'SAMOA', 'COLOMBIA', 'ECUADOR', 'FRENCH POLYNESIA', 'NEW CALEDONIA',
    'TURKS AND CAICOS', 'CUBA', 'BRAZIL', 'SEYCHELLES', 'ARGENTINA', 'FIJI', 'MALDIVES', 'ENGLAND', 'JAPAN', 'INDONESIA',
    'JAMAICA', 'THAILAND', 'COLUMBIA', 'COSTA RICA', 'BRITISH OVERSEAS TERRITORY', 'CANADA', 'JORDAN', 'ST KITTS AND NEVIS',
    'ST MARTIN', 'PAPUA NEW GUINEA', 'REUNION ISLAND', 'ISRAEL', 'CHINA', 'IRELAND', 'ITALY', 'MALAYSIA', 'LIBYA', 'MAURITIUS',
    'SOLOMON ISLANDS', 'COMOROS', 'UNITED KINGDOM', 'UNITED ARAB EMIRATES', 'CAPE VERDE', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS',
    'ARUBA', 'MOZAMBIQUE', 'PUERTO RICO', 'ATLANTIC OCEAN', 'GREECE', 'FRANCE', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'DIEGO GARCIA',
    'TAIWAN', 'PALESTINIAN TERRITORIES', 'GUAM', 'NIGERIA', 'TONGA', 'SCOTLAND', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA',
    'KENYA', 'RUSSIA', 'UNITED ARAB EMIRATES (UAE)', 'AZORES', 'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA',
    'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL', 'YEMEN', 'GULF OF ADEN', 'SIERRA LEONE', 'LIBERIA', 'VANUATU',
    'HONDURAS', 'VENEZUELA', 'SRI LANKA', 'URUGUAY', 'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA', 'MARSHALL ISLANDS',
    'NORTHERN ARABIAN SEA', 'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO', 'IRAN', 'TUNISIA', 'NAMIBIA',
    'NORTH ATLANTIC OCEAN', 'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA', 'PACIFIC OCEAN', 'BRITISH ISLES', 'GRENADA',
    'IRAQ', 'TURKEY', 'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND', 'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
    'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA', 'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
    'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'NICARAGUA', 'MALDIVE ISLANDS', 'AMERICAN SAMOA', 'GABON', 'MAYOTTE', 'THE BALKANS',
    'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES', 'NORTHERN MARIANA ISLANDS', 'JAVA', 'SLOVENIA',
    'CURACAO', 'ICELAND', 'BARBADOS', 'MONACO', 'GUYANA', 'HAITI', 'SAN DOMINGO', 'KUWAIT', 'FALKLAND ISLANDS', 'CRETE',
    'CYPRUS', 'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY', 'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA', 'TUVALU',
    'GUINEA', 'ANDAMAN ISLANDS', 'COOK ISLANDS', 'TOBAGO', 'PERU', 'AFRICA', 'ALGERIA', 'COAST OF AFRICA', 'TASMAN SEA',
    'GHANA', 'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN', 'DJIBOUTI', 'BAHREIN', 'KOREA', 'ASIA'
]
# Define the fuzzy match function

def fuzzy_match(country, choices, scorer, cutoff=80):
    if isinstance(country, str):  # Ensure the country is a string
        match, score = process.extractOne(country, choices, scorer=scorer)
        if score >= cutoff:
            return match
    return country  # Return original value if no match or not a string
    
# Apply the fuzzy match function to the 'country' column
sharks_df['country'] = sharks_df['country'].apply(lambda x: fuzzy_match(x, standard_countries, scorer=process.fuzz.token_sort_ratio))

sharks_df

,date,year,type,country,state,location,activity,name,sex,age,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,2024-02-25,2024,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4,2024-02-14,2024,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6938,2013-12-02,2013,Unprovoked,USA,Hawaii,"Between Makena & Molokini, Maui",Kayaking / Fishing,Patrick Briney,M,57,...,"C. Sugidono, The Maui News, 12/2/2013",2013.12.02-Briney.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.12.02,2013.12.02,5732.0,NaN,NaN,12
6939,2013-11-30,2013,Unprovoked,AUSTRALIA,New South Wales,"Riecks Point, Campbell’s Beach,",Body boarding,Zac Young,M,19,...,"The Sydney Morning Herald, 11/30/2013",2013.11.30-ZacYoung.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.30,2013.11.30,5731.0,NaN,NaN,11
6941,2012-01-15,2012,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Second Beach, Port St. Johns",Swimming,Lungisani Msungubana,M,25,...,"News 24, 1/15/2012; R. Bonorchis, Bloomberg Ne...",2012.01.15-Msungubana.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.15,2012.01.15,5503.0,NaN,NaN,1
6942,2012-01-13,2012,Unprovoked,USA,Oregon,"Lincoln City, Lincoln County",Surfing,Steve Harnack,M,53,...,R. Collier,2012.01.13-Harnack.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.13,2012.01.13,5502.0,NaN,NaN,1
6943,2012-01-03,2012,Unprovoked,AUSTRALIA,New South Wales,North Avoca Beach,Surfing,Mike Wells,M,28,...,"Daily Telegraph, 1/3/2012",2012.01.03-Wells.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.03,2012.01.03,5501.0,NaN,NaN,1

In [25]:
#Column: country

sharks_df['country'] = sharks_df['country'].str.upper().str.strip()

In [26]:
#Column: country

sharks_df

,date,year,type,country,state,location,activity,name,sex,age,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,2024-02-25,2024,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4,2024-02-14,2024,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6938,2013-12-02,2013,Unprovoked,USA,Hawaii,"Between Makena & Molokini, Maui",Kayaking / Fishing,Patrick Briney,M,57,...,"C. Sugidono, The Maui News, 12/2/2013",2013.12.02-Briney.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.12.02,2013.12.02,5732.0,NaN,NaN,12
6939,2013-11-30,2013,Unprovoked,AUSTRALIA,New South Wales,"Riecks Point, Campbell’s Beach,",Body boarding,Zac Young,M,19,...,"The Sydney Morning Herald, 11/30/2013",2013.11.30-ZacYoung.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.30,2013.11.30,5731.0,NaN,NaN,11
6941,2012-01-15,2012,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Second Beach, Port St. Johns",Swimming,Lungisani Msungubana,M,25,...,"News 24, 1/15/2012; R. Bonorchis, Bloomberg Ne...",2012.01.15-Msungubana.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.15,2012.01.15,5503.0,NaN,NaN,1
6942,2012-01-13,2012,Unprovoked,USA,Oregon,"Lincoln City, Lincoln County",Surfing,Steve Harnack,M,53,...,R. Collier,2012.01.13-Harnack.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.13,2012.01.13,5502.0,NaN,NaN,1
6943,2012-01-03,2012,Unprovoked,AUSTRALIA,New South Wales,North Avoca Beach,Surfing,Mike Wells,M,28,...,"Daily Telegraph, 1/3/2012",2012.01.03-Wells.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.03,2012.01.03,5501.0,NaN,NaN,1

In [27]:
#Column: state

sharks_df['state'] = sharks_df['state'].str.upper().str.strip()

In [28]:
#Column: state

#Check how many null values in column "country"
print(f'Column "state" has {sharks_df.state.isna().sum()} null values.')

Column "state" has 307 null values.

In [29]:
#Column: state

sharks_df.loc[sharks_df["state"].isna()]

#We keep it. Last priority.

,date,year,type,country,state,location,activity,name,sex,age,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
5,2024-02-04,2024,provoked,TRINIDAD,NaN,NaN,Spearfishing,male,M,NaN,...,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
43,2023-09-06,2023,Watercraft,CORAL SEA,NaN,NaN,On a round-the-world expedition,9 m inflatable catamaran,M,NaN,...,"B. Myatt, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
129,2022-10-28,2022,Unprovoked,BAHAMAS,NaN,Cat Island,Diving,male,M,NaN,...,"Bahamas Press, 10/29/2022",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
140,1916-06-24,1916,Unprovoked,ATLANTIC OCEAN,NaN,NaN,Jumped overboard from Norwegian steamship Venator,Victor Matheson,M,NaN,...,"Washington Post, 6/24/1916, p.6",1916.06.24.R-Matheson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1916.06.24.R,1916.06.24.R,998.0,NaN,NaN,6
151,1915-07-06,1915,Unprovoked,MEXICO,NaN,Santa Maria Bar,Wading,J.W. McDonald,M,NaN,...,"Oakland Tribune, 7/6/1915",1915.07.06.a.R-McDonald.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1915.07.06.a.R,1915.07.06.a.R,988.0,NaN,NaN,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6880,2014-06-27,2014,Watercraft,ST MARTIN,NaN,20 miles from shore,Transatlantic Rowing,Victor Mooney,M,48,...,"Star Advertiser, 6/272014; Goree Challenge.com",2014.06.27-Mooney.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.06.27.R,2014.06.27.R,5790.0,NaN,NaN,6
6885,2014-06-09,2014,Unprovoked,BRAZIL,NaN,500 km off the coast of Pernambuco,Fishing,Sunarko,M,43,...,"msn, 6/11/2014",2014.06.09.c-Sunarko.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.06.09.c,2014.06.09.c,5785.0,NaN,NaN,6
6907,2014-04-12,2014,Watercraft,SOUTH AFRICA,NaN,NaN,Shark watching,Inflatable boat,NaN,NaN,...,"You Tube, posted 4/12/2014",.2014.04.12.R-inflatable,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.04.12.R,2014.04.12.R,5763.0,NaN,NaN,4
6920,2014-03-13,2014,Indefined,CAYMAN ISLANDS,NaN,NaN,Scuba diving / culling lionfish,Jason Dimitri,M,NaN,...,"You Tube, posted 4/12/2014",2014.03.13-Dimitri.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.03.13,2014.03.13,5750.0,NaN,NaN,3
6923,2014-02-17,2014,Watercraft,PAPUA NEW GUINEA,NaN,NaN,Sailing,OneDLL,M,21,...,"Sail-World.com, 2/17/2014",2014.02.17.R-OneDLL,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.02.17,2014.02.17,5747.0,NaN,NaN,2

In [30]:
#Replace Nun values to MODE

sharks_df['state'].fillna(sharks_df['state'].mode()[0], inplace=True)

In [31]:
#Column: state

#Check how many null values in column "country"
print(f'Column "state" has {sharks_df.state.isna().sum()} null values.')

Column "state" has 0 null values.

In [32]:
#Column: location

sharks_df['location'] = sharks_df['location'].str.upper().str.strip()

In [33]:
#Column: location

#Check how many null values in column "country"
print(f'Column "location" has {sharks_df.location.isna().sum()} null values.')

Column "location" has 345 null values.

In [34]:
#Column: location

sharks_df.location.fillna('Indefined', inplace = True)

#We keep it. Last priority.

In [35]:
#Column: location

#Check how many null values in column "country"
print(f'Column "location" has {sharks_df.location.isna().sum()} null values.')

Column "location" has 0 null values.

In [36]:
#Column: activity

sharks_df.dropna(subset="activity", inplace=True)
# tmp_sharks_df["Activity"].apply(lambda x: " ".join(x.split(" ")[:3:])).apply(lambda x: x if len(x.split()} > 2 else "").value_counts()
sharks_df["activity"] = sharks_df["activity"] \
    .str.replace(" for", "") \
    .str.replace(" a ", " ") \
    .str.replace(" on", "") \
    .str.replace(" and", "") \
    .str.replace(" or", "") \
    .str.replace(" of", "") \
    .str.replace(" with", "") \
    .str.replace(" the", "") \
    .str.replace(" from", "") \
    .str.replace(" in", "") \
    .str.replace(" his", "") \
    .str.replace(" her", "") \
    .str.replace(" to", "") \
    .str.replace(" &", "") \
    .str.replace(" /", "") \
    .str.replace("Freediving", "Free diving") \
    .str.capitalize() \
    .str.strip() \
    .apply(lambda x: " ".join(x.split(" ")[:3:])) \
    .str.strip()

print(sharks_df.info())

print(sharks_df.activity.value_counts())

sharks_df

<class 'pandas.core.frame.DataFrame'>
Index: 5534 entries, 0 to 6943
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            5534 non-null   datetime64[ns]
 1   year            5534 non-null   int32
 2   type            5534 non-null   object
 3   country         5534 non-null   object
 4   state           5534 non-null   object
 5   location        5534 non-null   object
 6   activity        5534 non-null   object
 7   name            5422 non-null   object
 8   sex             5204 non-null   object
 9   age             3587 non-null   object
 10  injury          5521 non-null   object
 11  unnamed:_11     5167 non-null   object
 12  time            3207 non-null   object
 13  species_        3223 non-null   object
 14  source          5523 non-null   object
 15  pdf             5403 non-null   object
 16  href_formula    5399 non-null   object
 17  href            5400 non-null   object
 18  case_number     5402 non-null   object
 19  case_number.1   5401 non-null   object
 20  original_order  5403 non-null   float64
 21  unnamed:_21     1 non-null      object
 22  unnamed:_22     2 non-null      object
 23  month           5534 non-null   int32
dtypes: datetime64[ns](1), float64(1), int32(2), object(20)
memory usage: 1.0+ MB
None
activity
Surfing                      1082
Swimming                      916
Fishing                       441
Spearfishing                  315
Wading                        158
                             ...
Sittting water child            1
Surfing treading water          1
Pêcheur de bichiques            1
Onboard 21' powerboat           1
Attempting remove fishing       1
Name: count, Length: 1202, dtype: int64

,date,year,type,country,state,location,activity,name,sex,age,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024,Unprovoked,AUSTRALIA,QUEENSLAND,BARGARA BEACH,Swimming,Brooklyn Sauer,F,13,...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024,Unprovoked,USA,HAWAII,"OLD MAN'S, WAIKIKI",Surfing,Matthew White,M,NaN,...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024,Unprovoked,USA,HAWAII,"RAINBOWS, OAHU",Swimming,NaN,F,11,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,2024-02-14,2024,Unprovoked,INDIA,MAHARASHTRA,"VAITARNA RIVER, PALGHAR DISTRICT",Fishing,Vicky Suresh Govari,M,32,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
5,2024-02-04,2024,provoked,TRINIDAD,FLORIDA,Indefined,Spearfishing,male,M,NaN,...,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6938,2013-12-02,2013,Unprovoked,USA,HAWAII,"BETWEEN MAKENA & MOLOKINI, MAUI",Kayaking fishing,Patrick Briney,M,57,...,"C. Sugidono, The Maui News, 12/2/2013",2013.12.02-Briney.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.12.02,2013.12.02,5732.0,NaN,NaN,12
6939,2013-11-30,2013,Unprovoked,AUSTRALIA,NEW SOUTH WALES,"RIECKS POINT, CAMPBELL’S BEACH,",Body boarding,Zac Young,M,19,...,"The Sydney Morning Herald, 11/30/2013",2013.11.30-ZacYoung.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.30,2013.11.30,5731.0,NaN,NaN,11
6941,2012-01-15,2012,Unprovoked,SOUTH AFRICA,EASTERN CAPE PROVINCE,"SECOND BEACH, PORT ST. JOHNS",Swimming,Lungisani Msungubana,M,25,...,"News 24, 1/15/2012; R. Bonorchis, Bloomberg Ne...",2012.01.15-Msungubana.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.15,2012.01.15,5503.0,NaN,NaN,1
6942,2012-01-13,2012,Unprovoked,USA,OREGON,"LINCOLN CITY, LINCOLN COUNTY",Surfing,Steve Harnack,M,53,...,R. Collier,2012.01.13-Harnack.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.13,2012.01.13,5502.0,NaN,NaN,1
6943,2012-01-03,2012,Unprovoked,AUSTRALIA,NEW SOUTH WALES,NORTH AVOCA BEACH,Surfing,Mike Wells,M,28,...,"Daily Telegraph, 1/3/2012",2012.01.03-Wells.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.03,2012.01.03,5501.0,NaN,NaN,1

In [37]:
aggregated_activities = sharks_df["activity"] \
    .value_counts().head(30)

print_with_hist(aggregated_activities)

MAX -> Surfing  1082             |  ******************************************************************************************
       Swimming  916             |  ****************************************************************************
       Fishing  441              |  ************************************
       Spearfishing  315         |  **************************
       Wading  158               |  *************
       Bathing  139              |  ***********
       Snorkeling  122           |  **********
       Standing  104             |  ********
       Diving  103               |  ********
       Scuba diving  91          |  *******
       Body boarding  70         |  *****
       Boogie boarding  57       |  ****
       Body surfing  50          |  ****
       Kayaking  41              |  ***
       Free diving  40           |  ***
       Treading water  29        |  **
       Fell overboard  24        |  **
       Pearl diving  23          |  *
       Surf skiing  23           |  *
       Windsurfing  18           |  *
       Kayak fishing  16         |  *
       Walking  16               |  *
       Floating  15              |  *
       Shark fishing  14         |  *
       Canoeing  14              |  *
       Playing  14               |  *
MIN -> Free diving abalone  13   |  *
MIN -> Sea disaster  13          |  *
MIN -> Surf fishing  13          |  *
MIN -> Rowing  13                |  *

In [38]:
#Column: name

sharks_df.drop('name', axis=1, inplace=True)

#Deleted this column.

In [39]:
#Column: name

sharks_df

#Data Frame after deleting this column

,date,year,type,country,state,location,activity,sex,age,injury,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024,Unprovoked,AUSTRALIA,QUEENSLAND,BARGARA BEACH,Swimming,F,13,"Minor injuries to back, abdomen and legs",...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024,Unprovoked,USA,HAWAII,"OLD MAN'S, WAIKIKI",Surfing,M,NaN,"No injury, shark bit surfboard",...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024,Unprovoked,USA,HAWAII,"RAINBOWS, OAHU",Swimming,F,11,Lacerations to left foot,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,2024-02-14,2024,Unprovoked,INDIA,MAHARASHTRA,"VAITARNA RIVER, PALGHAR DISTRICT",Fishing,M,32,Calf of lower left leg injured,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
5,2024-02-04,2024,provoked,TRINIDAD,FLORIDA,Indefined,Spearfishing,M,NaN,Shoulder bitten,...,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6938,2013-12-02,2013,Unprovoked,USA,HAWAII,"BETWEEN MAKENA & MOLOKINI, MAUI",Kayaking fishing,M,57,FATAL,...,"C. Sugidono, The Maui News, 12/2/2013",2013.12.02-Briney.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.12.02,2013.12.02,5732.0,NaN,NaN,12
6939,2013-11-30,2013,Unprovoked,AUSTRALIA,NEW SOUTH WALES,"RIECKS POINT, CAMPBELL’S BEACH,",Body boarding,M,19,FATAL,...,"The Sydney Morning Herald, 11/30/2013",2013.11.30-ZacYoung.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.30,2013.11.30,5731.0,NaN,NaN,11
6941,2012-01-15,2012,Unprovoked,SOUTH AFRICA,EASTERN CAPE PROVINCE,"SECOND BEACH, PORT ST. JOHNS",Swimming,M,25,FATAL,...,"News 24, 1/15/2012; R. Bonorchis, Bloomberg Ne...",2012.01.15-Msungubana.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.15,2012.01.15,5503.0,NaN,NaN,1
6942,2012-01-13,2012,Unprovoked,USA,OREGON,"LINCOLN CITY, LINCOLN COUNTY",Surfing,M,53,"No injury, surfboard damaged",...,R. Collier,2012.01.13-Harnack.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.13,2012.01.13,5502.0,NaN,NaN,1
6943,2012-01-03,2012,Unprovoked,AUSTRALIA,NEW SOUTH WALES,NORTH AVOCA BEACH,Surfing,M,28,Right forearm and wrist injured,...,"Daily Telegraph, 1/3/2012",2012.01.03-Wells.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.03,2012.01.03,5501.0,NaN,NaN,1

In [40]:
#Column: injury

sharks_df.drop('injury', axis=1, inplace=True)

#Deleted this column.

In [41]:
#Column: injury

sharks_df

#Data Frame after deleting this column

,date,year,type,country,state,location,activity,sex,age,unnamed:_11,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024,Unprovoked,AUSTRALIA,QUEENSLAND,BARGARA BEACH,Swimming,F,13,NaN,...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024,Unprovoked,USA,HAWAII,"OLD MAN'S, WAIKIKI",Surfing,M,NaN,N,...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024,Unprovoked,USA,HAWAII,"RAINBOWS, OAHU",Swimming,F,11,N,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,2024-02-14,2024,Unprovoked,INDIA,MAHARASHTRA,"VAITARNA RIVER, PALGHAR DISTRICT",Fishing,M,32,N,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
5,2024-02-04,2024,provoked,TRINIDAD,FLORIDA,Indefined,Spearfishing,M,NaN,N,...,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6938,2013-12-02,2013,Unprovoked,USA,HAWAII,"BETWEEN MAKENA & MOLOKINI, MAUI",Kayaking fishing,M,57,Y,...,"C. Sugidono, The Maui News, 12/2/2013",2013.12.02-Briney.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.12.02,2013.12.02,5732.0,NaN,NaN,12
6939,2013-11-30,2013,Unprovoked,AUSTRALIA,NEW SOUTH WALES,"RIECKS POINT, CAMPBELL’S BEACH,",Body boarding,M,19,Y,...,"The Sydney Morning Herald, 11/30/2013",2013.11.30-ZacYoung.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.30,2013.11.30,5731.0,NaN,NaN,11
6941,2012-01-15,2012,Unprovoked,SOUTH AFRICA,EASTERN CAPE PROVINCE,"SECOND BEACH, PORT ST. JOHNS",Swimming,M,25,Y,...,"News 24, 1/15/2012; R. Bonorchis, Bloomberg Ne...",2012.01.15-Msungubana.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.15,2012.01.15,5503.0,NaN,NaN,1
6942,2012-01-13,2012,Unprovoked,USA,OREGON,"LINCOLN CITY, LINCOLN COUNTY",Surfing,M,53,N,...,R. Collier,2012.01.13-Harnack.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.13,2012.01.13,5502.0,NaN,NaN,1
6943,2012-01-03,2012,Unprovoked,AUSTRALIA,NEW SOUTH WALES,NORTH AVOCA BEACH,Surfing,M,28,N,...,"Daily Telegraph, 1/3/2012",2012.01.03-Wells.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.03,2012.01.03,5501.0,NaN,NaN,1

In [42]:
#Column: unnamed:_11

sharks_df.drop('unnamed:_11', axis=1, inplace=True)

#Deleted this column.

In [43]:
#Column: unnamed:_11

sharks_df

#Data Frame after deleting this column

,date,year,type,country,state,location,activity,sex,age,time,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024,Unprovoked,AUSTRALIA,QUEENSLAND,BARGARA BEACH,Swimming,F,13,16h00,...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024,Unprovoked,USA,HAWAII,"OLD MAN'S, WAIKIKI",Surfing,M,NaN,NaN,...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024,Unprovoked,USA,HAWAII,"RAINBOWS, OAHU",Swimming,F,11,13h30,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,2024-02-14,2024,Unprovoked,INDIA,MAHARASHTRA,"VAITARNA RIVER, PALGHAR DISTRICT",Fishing,M,32,NaN,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
5,2024-02-04,2024,provoked,TRINIDAD,FLORIDA,Indefined,Spearfishing,M,NaN,06h30,...,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6938,2013-12-02,2013,Unprovoked,USA,HAWAII,"BETWEEN MAKENA & MOLOKINI, MAUI",Kayaking fishing,M,57,09h00,...,"C. Sugidono, The Maui News, 12/2/2013",2013.12.02-Briney.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.12.02,2013.12.02,5732.0,NaN,NaN,12
6939,2013-11-30,2013,Unprovoked,AUSTRALIA,NEW SOUTH WALES,"RIECKS POINT, CAMPBELL’S BEACH,",Body boarding,M,19,14h00,...,"The Sydney Morning Herald, 11/30/2013",2013.11.30-ZacYoung.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.30,2013.11.30,5731.0,NaN,NaN,11
6941,2012-01-15,2012,Unprovoked,SOUTH AFRICA,EASTERN CAPE PROVINCE,"SECOND BEACH, PORT ST. JOHNS",Swimming,M,25,15h40,...,"News 24, 1/15/2012; R. Bonorchis, Bloomberg Ne...",2012.01.15-Msungubana.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.15,2012.01.15,5503.0,NaN,NaN,1
6942,2012-01-13,2012,Unprovoked,USA,OREGON,"LINCOLN CITY, LINCOLN COUNTY",Surfing,M,53,NaN,...,R. Collier,2012.01.13-Harnack.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.13,2012.01.13,5502.0,NaN,NaN,1
6943,2012-01-03,2012,Unprovoked,AUSTRALIA,NEW SOUTH WALES,NORTH AVOCA BEACH,Surfing,M,28,20h00,...,"Daily Telegraph, 1/3/2012",2012.01.03-Wells.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.03,2012.01.03,5501.0,NaN,NaN,1

In [44]:
#Column: sex

sharks_df["sex"].replace(' M','M', inplace=True)        
sharks_df["sex"].replace('M ','M', inplace=True)
sharks_df["sex"].replace('M x 2','M', inplace=True)
sharks_df["sex"].replace('N','M', inplace=True) 
sharks_df["sex"].replace('lli','M', inplace=True) 
sharks_df["sex"].replace('.','M', inplace=True) 
sharks_df['sex'].fillna(sharks_df['sex'].mode()[0], inplace=True)


sharks_df["sex"].unique()

array(['F', 'M'], dtype=object)

In [45]:
#Column: sex

sharks_df.loc[sharks_df["sex"] == 'lli']

Empty DataFrame
Columns: [date, year, type, country, state, location, activity, sex, age, time, species_, source, pdf, href_formula, href, case_number, case_number.1, original_order, unnamed:_21, unnamed:_22, month]
Index: []

[0 rows x 21 columns]

In [46]:
#Column: sex

sharks_df.loc[sharks_df["sex"] == '.']

Empty DataFrame
Columns: [date, year, type, country, state, location, activity, sex, age, time, species_, source, pdf, href_formula, href, case_number, case_number.1, original_order, unnamed:_21, unnamed:_22, month]
Index: []

[0 rows x 21 columns]

In [47]:
#Column: sex

sharks_df
#Data Frame after cleaning this column

,date,year,type,country,state,location,activity,sex,age,time,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024,Unprovoked,AUSTRALIA,QUEENSLAND,BARGARA BEACH,Swimming,F,13,16h00,...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024,Unprovoked,USA,HAWAII,"OLD MAN'S, WAIKIKI",Surfing,M,NaN,NaN,...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024,Unprovoked,USA,HAWAII,"RAINBOWS, OAHU",Swimming,F,11,13h30,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,2024-02-14,2024,Unprovoked,INDIA,MAHARASHTRA,"VAITARNA RIVER, PALGHAR DISTRICT",Fishing,M,32,NaN,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
5,2024-02-04,2024,provoked,TRINIDAD,FLORIDA,Indefined,Spearfishing,M,NaN,06h30,...,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6938,2013-12-02,2013,Unprovoked,USA,HAWAII,"BETWEEN MAKENA & MOLOKINI, MAUI",Kayaking fishing,M,57,09h00,...,"C. Sugidono, The Maui News, 12/2/2013",2013.12.02-Briney.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.12.02,2013.12.02,5732.0,NaN,NaN,12
6939,2013-11-30,2013,Unprovoked,AUSTRALIA,NEW SOUTH WALES,"RIECKS POINT, CAMPBELL’S BEACH,",Body boarding,M,19,14h00,...,"The Sydney Morning Herald, 11/30/2013",2013.11.30-ZacYoung.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.30,2013.11.30,5731.0,NaN,NaN,11
6941,2012-01-15,2012,Unprovoked,SOUTH AFRICA,EASTERN CAPE PROVINCE,"SECOND BEACH, PORT ST. JOHNS",Swimming,M,25,15h40,...,"News 24, 1/15/2012; R. Bonorchis, Bloomberg Ne...",2012.01.15-Msungubana.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.15,2012.01.15,5503.0,NaN,NaN,1
6942,2012-01-13,2012,Unprovoked,USA,OREGON,"LINCOLN CITY, LINCOLN COUNTY",Surfing,M,53,NaN,...,R. Collier,2012.01.13-Harnack.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.13,2012.01.13,5502.0,NaN,NaN,1
6943,2012-01-03,2012,Unprovoked,AUSTRALIA,NEW SOUTH WALES,NORTH AVOCA BEACH,Surfing,M,28,20h00,...,"Daily Telegraph, 1/3/2012",2012.01.03-Wells.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.03,2012.01.03,5501.0,NaN,NaN,1

In [48]:
#Column: age

sharks_df["age"].unique()

array(['13', nan, '11', '32', '29', '10', '64', '62', '39', '22', '15',
       '16', '46', '21', '20', '44', '26', '47', '66', '55', '30', '59',
       '8', '50', '52', '45', '34', '38', '30s', '37', '9', '19', '35',
       '65', '20s', '77', '60', 38, '49', '42', '!2', '24', '73', '25',
       '18', '50s', '58', '67', '17', '14', '6', '41', '53', '68', '43',
       '40', '51', '31', '10 or 12', 26, '12', 42, 21, '7', '23', 64, 16,
       19, 55, '31 or 33', 30, 'Teen', 29, 15, 9, 13, 22, 24, 49, 28, 11,
       '33', '74', '27', 45, '56', 'teen', '63', '48', '28', '36',
       '28 & 26', '61', '57', '5', '54', '86', '70', '18 or 20', 60,
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', 32, 18, 20, 77, 40,
       52, 59, 34, 17, 50, 47, 51, 7, 8, 44, 63, 57, 61, 31, 46, 36, 35,
       56, 41, '36 & 26', '8 or 10', 58, 39, 12, 33, 23, 37, 54, 84, 14,
       48, '\xa0 ', ' ', 27, 10, 43, '30 or 36', '6½', 69, '21 & ?', 75,
       '33 or 37', '3', 73, 25, 53, '23 & 20', 5, 62, ' 30',
       '7      &    31', ' 28', '20?', '71', '69', '32 & 30', 65, 6, '87',
       'Elderly', '74 ', '45 ', '21 or 26', '2½', '20 ', '>50',
       '18 to 22', 'adult', '9 & 12', '? & 19', '(adult)', '33 & 37',
       '25 or 28', '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32',
       '50 & 30', '17 & 35', 'X', '13 or 18', '33 & 26', 70, '4',
       'MAKE LINE GREEN', ' 43', '81', '"young"', '17 & 16', 'F',
       'Both 11', '9 or 10', 'young', '36 & 23', '  ', '78', 'A.M.',
       '?    &   14', '40s', 68, 'M', '!6', '!!', 71, '45 and 15', 4,
       '28 & 22', '22, 57, 31', "20's", 67, 74, '9 & 60', '60s',
       'a minor', 3, 82, 66, 72, '18 months'], dtype=object)

In [49]:
#Column: age

sharks_df['age'].str.strip()
sharks_df["age"].replace('teen','10', inplace=True)
sharks_df["age"].replace('teen','10', inplace=True)
sharks_df["age"].replace('Teen','10', inplace=True)
sharks_df["age"].replace('20/30','25', inplace=True)
sharks_df["age"].replace('20/30','25', inplace=True)
sharks_df["age"] = sharks_df["age"].str.replace('s','')
sharks_df["age"] = sharks_df["age"].str.replace('!','')
sharks_df["age"] = sharks_df["age"].str.replace('?','')
sharks_df["age"].replace('a minor','14', inplace=True)
sharks_df["age"].replace('18 month','2', inplace=True)
sharks_df["age"].replace('>50','55', inplace=True)
sharks_df["age"].replace('adult','40', inplace=True)
sharks_df["age"].replace('(adult)','40', inplace=True)
sharks_df["age"].replace('M','0', inplace=True)
sharks_df["age"].replace("''",'0', inplace=True)
sharks_df["age"].replace('45 and 15','30', inplace=True)
sharks_df["age"].replace('28 & 22','25', inplace=True)
sharks_df["age"].replace('22, 57, 31','37', inplace=True)
sharks_df["age"].replace("20'",'20', inplace=True)
sharks_df["age"].replace('9 & 60','35', inplace=True)
sharks_df["age"].replace('18 or 20','18', inplace=True)
sharks_df["age"].replace('28 & 26','27', inplace=True)
sharks_df["age"].replace('12 or 13','13', inplace=True)
sharks_df["age"].replace('46 & 34','40', inplace=True)
sharks_df["age"].replace('28, 23 & 30','27', inplace=True)
sharks_df["age"].replace('36 & 26','31', inplace=True)
sharks_df["age"].replace('30 or 36','30', inplace=True)
sharks_df["age"].replace('6½','7', inplace=True)
sharks_df["age"].replace('21 & ','21', inplace=True)
sharks_df["age"].replace('8 or 10','8', inplace=True)
sharks_df["age"].replace('23 & 20','21', inplace=True)
sharks_df["age"].replace('7      &    31','19', inplace=True)
sharks_df["age"].replace('32 & 30','31', inplace=True)
sharks_df["age"].replace('Elderly','70', inplace=True)
sharks_df["age"].replace('\xa0 ','0', inplace=True)
sharks_df["age"].replace('37, 67, 35, 27,   & 27','39', inplace=True)
sharks_df["age"].replace(' ','0', inplace=True)
sharks_df["age"].replace('21 or 26','26', inplace=True)
sharks_df["age"].replace('18 to 22','20', inplace=True)
sharks_df["age"].replace('9 & 12','11', inplace=True)
sharks_df["age"].replace(' & 19','19', inplace=True)
sharks_df["age"].replace('33 & 37','35', inplace=True)
sharks_df["age"].replace('21, 34,24 & 35','29', inplace=True)
sharks_df["age"].replace('25 or 28','25', inplace=True)
sharks_df["age"].replace('30 & 32','31', inplace=True)
sharks_df["age"].replace('50 & 30','40', inplace=True)
sharks_df["age"].replace('17 & 35','26', inplace=True)
sharks_df["age"].replace('X','0', inplace=True)
sharks_df["age"].replace('13 or 18','15', inplace=True)
sharks_df["age"].replace('"young"','15', inplace=True)
sharks_df["age"].replace('17 & 16','16', inplace=True)
sharks_df["age"].replace('Both 11','11', inplace=True)
sharks_df["age"].replace('9 or 10','10', inplace=True)
sharks_df["age"].replace('33 & 26','30', inplace=True)
sharks_df["age"].replace('MAKE LINE GREEN','0', inplace=True)
sharks_df["age"].replace('F','0', inplace=True)
sharks_df["age"].replace('young','0', inplace=True)
sharks_df["age"].replace('36 & 23','0', inplace=True)
sharks_df["age"].replace('  ','0', inplace=True)
sharks_df["age"].replace('A.M.','0', inplace=True)
sharks_df["age"].replace('    &   14','0', inplace=True)
sharks_df["age"].replace('10 or 12','10', inplace=True)
sharks_df["age"].replace('31 or 33','32', inplace=True)
sharks_df["age"].replace('2½','3', inplace=True)
sharks_df["age"].replace('33 or 37','35', inplace=True)
sharks_df["age"].replace('','0', inplace=True)

sharks_df['age'] = sharks_df['age'].str.strip()

sharks_df["age"].unique()

array(['13', nan, '11', '32', '29', '10', '64', '62', '39', '22', '15',
       '16', '46', '21', '20', '44', '26', '47', '66', '55', '30', '59',
       '8', '50', '52', '45', '34', '38', '37', '9', '19', '35', '65',
       '77', '60', '49', '42', '2', '24', '73', '25', '18', '58', '67',
       '17', '14', '6', '41', '53', '68', '43', '40', '51', '31', '12',
       '7', '23', '33', '74', '27', '56', '63', '48', '28', '36', '61',
       '57', '5', '54', '86', '70', 'Teen', '0', '3', '71', '69', '87',
       '4', '81', '78'], dtype=object)

In [50]:
#Column: age

sharks_df['age'].fillna(sharks_df['age'].mode()[0], inplace=True)

In [51]:
#Column: age

sharks_df["age"].unique()

array(['13', '15', '11', '32', '29', '10', '64', '62', '39', '22', '16',
       '46', '21', '20', '44', '26', '47', '66', '55', '30', '59', '8',
       '50', '52', '45', '34', '38', '37', '9', '19', '35', '65', '77',
       '60', '49', '42', '2', '24', '73', '25', '18', '58', '67', '17',
       '14', '6', '41', '53', '68', '43', '40', '51', '31', '12', '7',
       '23', '33', '74', '27', '56', '63', '48', '28', '36', '61', '57',
       '5', '54', '86', '70', 'Teen', '0', '3', '71', '69', '87', '4',
       '81', '78'], dtype=object)

In [52]:
#Column: age

sharks_df['age'] = sharks_df['age'].astype(int)

ValueError: invalid literal for int() with base 10: 'Teen'

In [ ]:
#Column: age

sharks_df.dtypes

In [ ]:
sharks_df

In [ ]:
#Column: time

sharks_df.drop('time', axis=1, inplace=True)

In [ ]:
#Column: pdf 

sharks_df.drop('pdf', axis=1, inplace=True)

In [ ]:
#Column: href_formula 

sharks_df.drop('href_formula', axis=1, inplace=True)

In [ ]:
#Column: href 

sharks_df.drop('href', axis=1, inplace=True)

In [ ]:
#Column: case_number

sharks_df.drop('case_number', axis=1, inplace=True)

In [ ]:
#Column: case_number.1  

sharks_df.drop('case_number.1', axis=1, inplace=True)

In [ ]:
#Column: original_order

sharks_df.drop('original_order', axis=1, inplace=True)

In [ ]:
#Column: unnamed:_21

sharks_df.drop('unnamed:_21', axis=1, inplace=True)

In [ ]:
#Column: unnamed:_22

sharks_df.drop('unnamed:_22', axis=1, inplace=True)

In [ ]:
sharks_df

______________________________________________________________________________
______________________________________________________________________________
______________________________________________________________________________
______________________________________________________________________________
______________________________________________________________________________

In [ ]:
print(sharks_df.isna().sum())

In [ ]:
sharks_df

In [ ]:
sharks_df["original order"] = sharks_df["original order"].apply(lambda x : int(x) if x == str or x == float else x)

In [ ]:
sharks_df.dtypes

In [ ]:
sharks_df.drop('Unnamed: 11', axis=1, inplace=True)
sharks_df.drop('pdf', axis=1, inplace=True)
sharks_df.drop('href formula', axis=1, inplace=True)
sharks_df.drop('href', axis=1, inplace=True)
sharks_df.drop('Unnamed: 21', axis=1, inplace=True)
sharks_df.drop('Unnamed: 22', axis=1, inplace=True)

In [ ]:
sharks_df

In [ ]:
sharks_df.isnull().sum().sort_values()
sharks_df.dropna(subset=['Year'], inplace=True)
sharks_df['Year'] = sharks_df['Year'].astype(int)

In [ ]:
sharks_df.info()

In [ ]:
sharks_df["Year"] = sharks_df["Year"].apply(lambda x : int(x) if x == str or x == float else x) 
#Changed year to int

In [ ]:
sharks_df

In [ ]:
sharks_df.dropna(subset=['Year'])

In [ ]:
sharks_df.dropna(subset=['Date'])

In [ ]:
sharks_df = sharks_df.dropna(how = 'all')

In [ ]:
sharks_df.dtypes

In [ ]:
sharks_df["Year"].info()

In [ ]:
sharks_df["Year"].unique()

In [ ]:
sharks_df["Year"].value_counts()

In [ ]:
sharks_df["Year"] = sharks_df["Year"].apply(lambda x : int(x)  if x == float or x == str else x)

In [ ]:
sharks_df.dtypes

In [ ]:
sharks_df.nunique()

#years = [2024., 2023., 2022., 2021., 2020., 2019., 2018., 2017.,
       2016., 2015., 2014., 2013., 2012., 2011., 2010., 2009., 2008.,
      2007., 2006., 2005., 2004., 2003., 2002., 2001., 2000., 1999.,
      1998., 1997., 1996., 1995., 1984., 1994., 1993., 1992., 1991.,
       1990., 1989., 1969., 1988., 1987., 1986., 1985., 1983., 1982.,
       1981., 1980., 1979., 1978., 1977., 1976., 1975., 1974., 1973.,
       1972., 1971., 1970., 1968., 1967., 1966., 1965., 1964., 1963.,
      1962., 1961., 1960., 1959., 1958., 1957., 1956., 1955., 1954.,
       1953., 1952., 1951., 1950., 1949., 1948., 1848., 1947., 1946.,
       1945., 1944., 1943., 1942., 1941., 1940., 1939., 1938., 1937.,
       1936., 1935., 1934., 1933., 1932., 1931., 1930., 1929., 1928.,
       1927., 1926., 1925., 1924., 1923., 1922., 1921., 1920., 1919.,
       1918., 1917., 1916., 1915., 1914., 1913., 1912., 1911., 1910.,
       1909., 1908., 1907., 1906., 1905., 1904., 1903., 1902., 1901.,
       1900., 1899., 1898., 1897., 1896., 1895., 1894., 1893., 1892.,
       1891., 1890., 1889., 1888., 1887., 1886., 1885., 1884., 1883.,
       1882., 1881., 1880., 1879., 1878., 1877., 1876., 1875., 1874.,
       1873., 1872., 1871., 1870., 1869., 1868., 1867., 1866., 1865.,
       1864., 1863., 1862., 1861., 1860., 1859., 1858., 1857., 1856.,
       1855., 1853., 1852., 1851., 1850., 1849., 1847., 1846., 1845.,
       1844., 1842., 1841., 1840., 1839., 1837., 1836., 1835., 1834.,
       1832., 1831., 1830., 1829., 1828., 1827., 1826., 1825., 1823.,
       1822., 1819., 1818., 1817., 1816., 1815., 1812., 1811., 1810.,
       1808., 1807., 1805., 1804., 1803., 1802., 1801., 1800., 1797.,
       1792., 1791., 1788., 1787., 1786., 1785., 1784., 1783., 1780.,
       1779., 1776., 1771., 1767., 1764., 1758., 1753., 1751., 1749.,
       1755., 1748., 1742., 1738., 1733., 1723., 1721., 1703., 1700.,
       1642., 1691., 1640., 1638., 1637., 1617., 1595., 1580., 1555.,
       1554., 1543., 1518., 1500., 1000.,   77.,    5.,    0.]
seq = [0]
for i in years:
    seq += 1
    print(f"{seq}: {i}")

In [ ]:
sharks_df_test_2 = sharks_df.query("Year != 0000")

In [ ]:
sharks_df_test_2

In [ ]:
sharks_df_test_2 = sharks_df.query("Year != 0005.0")

In [ ]:
sharks_df_test_2

In [ ]:
sharks_df_test = sharks_df.query("Year != 0000")

In [ ]:
sharks_df_test

In [ ]:
sharks_df_filter = sharks_df[sharks_df["Year"].apply(lambda x: isinstance(x, int))]

In [ ]:
sharks_df_filter.info()

In [ ]:
sharks_float = Year.apply(lambda x: isinstance(x, float))

In [125]:
values = sharks_df["sharks_float"]

KeyError: 'sharks_float'

In [ ]:
#KLoV, from here I started to copy:

In [ ]:
# GROUPING AND CHECKING HYPOTESIS // ALL DF after cleaning processes:

In [ ]:
# 1ST HYPOTESIS: MEN ARE MOSTLY ATTACKTED BY SHARKS

In [64]:
group_sex = sharks_df.groupby("sex")["date"].count()
group_sex

sex
F     659
M    4875
Name: date, dtype: int64

In [ ]:
# 2ND HYPOTESIS: MOST SHARK ATTACKS OCCUR DURING THE SUMMER

In [67]:
group_month = sharks_df["month"].value_counts()
group_monthç

month
7     654
8     563
9     529
1     494
6     484
10    451
12    418
4     413
3     391
11    387
5     385
2     365
Name: count, dtype: int64

In [166]:
group_year = sharks_df["year"].value_counts()
group_year

year
2015    135
2017    131
2016    122
2011    120
2018    116
       ...
1771      1
1753      1
1751      1
1738      1
1828      1
Name: count, Length: 207, dtype: int64

In [66]:
group_sex = sharks_df["sex"].value_counts()
group_sex

sex
M    4875
F     659
Name: count, dtype: int64

In [162]:
group_month_country = sharks_df.groupby(["month","country"])[["date"]].count()
group_month_country.max()
max_month_country= group_month_country.idxmax()

In [163]:
group_month_country.max()

date    372
dtype: int64

In [164]:
max_month_country

date    (7, USA)
dtype: object

In [ ]:
# 3TH HYPOTESIS: MOST SHARK ATTACKS OCCUR DURING SURFING ACTIVITIES 
# 3.1 HYPOTESIS: MOST SHARK ATTACKS OCCUR DURING SURFING ACTIVITIES AND ON MEN

In [79]:
group_activity = sharks_df["activity"].value_counts()
group_activity

activity
Surfing                      1082
Swimming                      916
Fishing                       441
Spearfishing                  315
Wading                        158
                             ...
Sittting water child            1
Surfing treading water          1
Pêcheur de bichiques            1
Onboard 21' powerboat           1
Attempting remove fishing       1
Name: count, Length: 1202, dtype: int64

In [81]:
group_acti_sex = sharks_df.groupby(["activity","sex"])[["date"]].count()

In [82]:
group_acti_sex.max()

date    1010
dtype: int64

In [83]:
max_group_acti_sex = group_acti_sex.idxmax()
max_group_acti_sex

date    (Surfing, M)
dtype: object

In [ ]:
# 4RD HYPOTESIS: YONG PEOPLE, SPECIALLY IN AN AGE RANGE BETWEEN 18 AND 35 ARE MOSTLY ATTACKED BY SHARKS
# 4.1 HYPOTESIS: YONG PEOPLE, SPECIALLY MEN IN AN AGE RANGE BETWEEN 18 AND 35 ARE MOSTLY ATTACKED BY SHARKS

In [84]:
group_age = sharks_df["age"].value_counts()
group_age

age
15    3865
17      75
20      73
21      67
18      66
      ...
69       1
87       1
4        1
81       1
78       1
Name: count, Length: 78, dtype: int64

In [87]:
group_age_sex = sharks_df.groupby(["age","sex"])[["date"]].count()

In [88]:
max_group_age_sex = group_age_sex.idxmax()
max_group_age_sex

date    (15, M)
dtype: object

In [91]:
group_age_sex.max()

date    3466
dtype: int64

In [96]:
group_age_sex = group_age_sex.sort_values(by='date', ascending=False)
group_age_sex

         date
age sex
15  M    3466
    F     399
17  M      70
20  M      61
18  M      61
...       ...
87  M       1
73  F       1
86  M       1
81  M       1
0   F       1

[140 rows x 1 columns]

In [103]:
group_species = sharks_df["species_"].value_counts()
group_species

species_
White shark                                                      167
Shark involvement not confirmed                                   73
Tiger shark                                                       69
Invalid                                                           66
Shark involvement prior to death was not confirmed                62
                                                                ...
1.2 m [4'] shark (spinner shark?)                                  1
Tiger shark, 2.7m  [9']                                            1
"juvenile shark"                                                   1
Thought to involve an oceanic whitetip shark or a white shark      1
Tiger shark, 3m                                                    1
Name: count, Length: 1500, dtype: int64

In [104]:
group_species = sharks_df["type"].value_counts()
group_species

type
Unprovoked      4158
Provoked         522
Indefined        402
Watercraft       264
Sea disaster     186
provoked           2
Name: count, dtype: int64

In [146]:
sharks_df["age"].replace("provoked","Provoked", inplace=True)

In [170]:
group_species = sharks_df["type"].value_counts()
group_species

type
Unprovoked      4158
Provoked         522
Indefined        402
Watercraft       264
Sea disaster     186
provoked           2
Name: count, dtype: int64

In [171]:
# Ploting the total of years...
# We decided to focus our attention on the last 23 years, from 2000.
# GROUPING AND CHECKING HYPOTESIS FROM 2000 TO 2023

In [182]:
df_00_23 = sharks_df[sharks_df.year >= 2000]

In [183]:
df_00_23

,date,year,type,country,state,location,activity,sex,age,time,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024,Unprovoked,AUSTRALIA,QUEENSLAND,BARGARA BEACH,Swimming,F,13,16h00,...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024,Unprovoked,USA,HAWAII,"OLD MAN'S, WAIKIKI",Surfing,M,15,NaN,...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024,Unprovoked,USA,HAWAII,"RAINBOWS, OAHU",Swimming,F,11,13h30,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,2024-02-14,2024,Unprovoked,INDIA,MAHARASHTRA,"VAITARNA RIVER, PALGHAR DISTRICT",Fishing,M,32,NaN,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
5,2024-02-04,2024,provoked,TRINIDAD,FLORIDA,Indefined,Spearfishing,M,15,06h30,...,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6938,2013-12-02,2013,Unprovoked,USA,HAWAII,"BETWEEN MAKENA & MOLOKINI, MAUI",Kayaking fishing,M,57,09h00,...,"C. Sugidono, The Maui News, 12/2/2013",2013.12.02-Briney.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.12.02,2013.12.02,5732.0,NaN,NaN,12
6939,2013-11-30,2013,Unprovoked,AUSTRALIA,NEW SOUTH WALES,"RIECKS POINT, CAMPBELL’S BEACH,",Body boarding,M,19,14h00,...,"The Sydney Morning Herald, 11/30/2013",2013.11.30-ZacYoung.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2013.11.30,2013.11.30,5731.0,NaN,NaN,11
6941,2012-01-15,2012,Unprovoked,SOUTH AFRICA,EASTERN CAPE PROVINCE,"SECOND BEACH, PORT ST. JOHNS",Swimming,M,25,15h40,...,"News 24, 1/15/2012; R. Bonorchis, Bloomberg Ne...",2012.01.15-Msungubana.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.15,2012.01.15,5503.0,NaN,NaN,1
6942,2012-01-13,2012,Unprovoked,USA,OREGON,"LINCOLN CITY, LINCOLN COUNTY",Surfing,M,53,NaN,...,R. Collier,2012.01.13-Harnack.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.13,2012.01.13,5502.0,NaN,NaN,1
6943,2012-01-03,2012,Unprovoked,AUSTRALIA,NEW SOUTH WALES,NORTH AVOCA BEACH,Surfing,M,28,20h00,...,"Daily Telegraph, 1/3/2012",2012.01.03-Wells.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.01.03,2012.01.03,5501.0,NaN,NaN,1

In [179]:
sharks_df.year.isna().sum()

0

In [180]:
# 1ST HYPOTESIS: MEN ARE MOSTLY ATTACKTED BY SHARKS, FROM 2000 TO 2023

In [205]:
group_sex = df_00_23["sex"].value_counts()
group_sex

sex
M    2052
F     437
Name: count, dtype: int64

In [185]:
# 2ND HYPOTESIS: MOST SHARK ATTACKS OCCUR DURING THE SUMMER, FROM 2000 TO 2023

In [206]:
group_month = df_00_23["month"].value_counts()
group_month

month
7     311
9     255
6     242
8     233
10    226
4     211
5     199
3     179
1     172
12    163
11    157
2     141
Name: count, dtype: int64

In [207]:
group_sex = df_00_23["sex"].value_counts()
group_sex

sex
M    2052
F     437
Name: count, dtype: int64

In [208]:
group_month_country = df_00_23.groupby(["month","country"])[["date"]].count()
group_month_country.max()
max_month_country= group_month_country.idxmax()

In [209]:
group_month_country.max()

date    186
dtype: int64

In [210]:
max_month_country

date    (7, USA)
dtype: object

In [211]:
# 3TH HYPOTESIS: MOST SHARK ATTACKS OCCUR DURING SURFING ACTIVITIES , FROM 2000 TO 2023
# 3.1 HYPOTESIS: MOST SHARK ATTACKS OCCUR DURING SURFING ACTIVITIES AND ON MEN , FROM 2000 TO 2023

In [212]:
group_activity = df_00_23["activity"].value_counts()
group_activity

activity
Surfing                      770
Swimming                     381
Fishing                      173
Spearfishing                 152
Snorkeling                   109
                            ...
Scuba diving aquarium          1
Holdingto anflatable boat      1
Swimming boogie board          1
Crouching 2' water             1
Attempting remove fishing      1
Name: count, Length: 307, dtype: int64

In [213]:
group_acti_sex = df_00_23.groupby(["activity","sex"])[["date"]].count()

In [216]:
group_acti_sex.idxmax()

date    (Surfing, M)
dtype: object

In [196]:
# 4RD HYPOTESIS: YONG PEOPLE, SPECIALLY IN AN AGE RANGE BETWEEN 18 AND 35 ARE MOSTLY ATTACKED BY SHARKS, FROM 2000 TO 2023
# 4.1 HYPOTESIS: YONG PEOPLE, SPECIALLY MEN IN AN AGE RANGE BETWEEN 18 AND 35 ARE MOSTLY ATTACKED BY SHARKS, FROM 2000 TO 2023

In [217]:
group_age = df_00_23["age"].value_counts()
group_age

age
15    1464
20      43
21      35
24      34
30      32
      ...
67       1
5        1
73       1
86       1
71       1
Name: count, Length: 72, dtype: int64

In [198]:
group_age_sex = df_00_23.groupby(["age","sex"])[["date"]].count()

In [199]:
max_group_age_sex = group_age_sex.idxmax()
max_group_age_sex

date    (15, M)
dtype: object

In [200]:
group_age_sex.max()

date    1219
dtype: int64

In [201]:
group_age_sex = group_age_sex.sort_values(by='date', ascending=False)
group_age_sex

         date
age sex
15  M    1219
    F     245
20  M      33
24  M      31
21  M      30
...       ...
57  F       1
64  F       1
39  F       1
33  F       1
2   M       1

[127 rows x 1 columns]

In [202]:
group_species = df_00_23["species_"].value_counts()
group_species

species_
White shark                          97
Tiger shark                          48
Shark involvement not confirmed      47
Bull shark                           43
4' shark                             32
                                     ..
Sandtiger shark, 2.1 m [7']           1
Bronze whaler shark, 4.3 m [14']      1
Nurse shark, 3'                       1
Tiger shark, 2.4 m [8']               1
Tiger shark, 3m                       1
Name: count, Length: 786, dtype: int64

In [203]:
group_species = df_00_23["type"].value_counts()
group_species

type
Unprovoked      1972
Provoked         203
Indefined        179
Watercraft       118
Sea disaster      15
provoked           2
Name: count, dtype: int64

In [204]:
group_species = df_00_23["type"].value_counts()
group_species

type
Unprovoked      1972
Provoked         203
Indefined        179
Watercraft       118
Sea disaster      15
provoked           2
Name: count, dtype: int64

RangeIndex: 6969 entries, 0 to 6968
Data columns (total 23 columns):
  #  Day 1: Some insights and hypothesis about data types and possible clean-up
  
 #   Column          Non-Null Count  Dtype  

 !!! Null in every column (Serie)!!! Check them ALL :P
 *!!!Clean White spaces in Columns too (ex."Species "
---  ------          --------------  -----  
* 0   Date            6944 non-null   object   !Should be Type:Date?; We need to clean it (same format) ; Split the dates dd / mm / yy in other Series (add them!); Take a look on the most common format

* 1   Year            6942 non-null   float64  !Integer; Check that Year                                                == Date(Year)

 2   Type            6926 non-null   object !Type of Attack: Should be Categorized.

* 3   Country         6894 non-null   object !Clean countries (Spelling, lower and uppers, delete white spaces...)

* 4   State           6462 non-null   object !Clean countries (Spelling, lower and uppers, delete white spaces...)

* 5   Location        6379 non-null   object !Clean countries (Spelling, lower and uppers, delete white spaces...)

 6   Activity        6358 non-null   object !Reclasification ?How (1st idea in smaller groups with a % of similar words)

** 7   Name            6724 non-null   object !Clean countries (Spelling, lower and uppers, delete white spaces...) ; Take a look and check that the name is not repeated (ex. in class: Pepa Pig)

* 8   Sex             6365 non-null   object  !Clean ; only 2 or 3

* 9   Age             3950 non-null   object ! Should be an Integer

 10  Injury          6909 non-null   object !Wound_Reclasification ?How (1st idea in smaller groups with a % of similar words)

** 11  Unnamed: 11     6382 non-null   object !to delete

* 12  Time            3418 non-null   object !Should be Type:Date; We need to clean it (same format)

 13  Species         3812 non-null   object !Reclasification ?How (1st idea in smaller groups with a % of similar words)

 14  Source          6925 non-null   object ! for the Info_ Reclasification ?How (1st idea in smaller groups with a % of similar words) // Separate the Source from the date of the source

* 15  pdf             6799 non-null   object ?Do we need PDF if not bye bye!

* 16  href formula    6819 non-null   object !Unknown data; Hypothesis to erase!

* 17  href            6796 non-null   object !pdfs refering to the same file; Hypothesis: almost sure that we have to erase them!

* 18  Case Number     6798 non-null   object !some dates; Hypothesis: almost sure that we have to erase them!

* 19  Case Number.1   6797 non-null   object !some dates; Hypothesis: almost sure that we have to erase them!

* 20  original order  6799 non-null   float64 !float; Hypothesis: almost sure that we have to erase them!

* 21  Unnamed: 21     1 non-null      object !to delete

* 22  Unnamed: 22     2 non-null      object !to delete
dtypes: float64(2), object(21)

#For the presentation:
First approach after download the data and imported to Pandas:

In [53]:
for column in sharks_df.columns: #Take a look in all the columns/Series: unique values
    unique_values = sharks_df[column].unique()
    print(f"Valores únicos en la columna {column}: {unique_values}")
    print("")
    print("")

Valores únicos en la columna date: <DatetimeArray>
['2024-03-15 00:00:00', '2024-03-04 00:00:00', '2024-03-02 00:00:00',
 '2024-02-14 00:00:00', '2024-02-04 00:00:00', '2024-01-29 00:00:00',
 '2024-01-15 00:00:00', '2024-01-09 00:00:00', '2024-01-05 00:00:00',
 '2023-12-30 00:00:00',
 ...
 '2013-12-16 00:00:00', '2013-12-13 00:00:00', '2013-12-11 00:00:00',
 '2013-12-10 00:00:00', '2013-12-05 00:00:00', '2013-12-02 00:00:00',
 '2013-11-30 00:00:00', '2012-01-15 00:00:00', '2012-01-13 00:00:00',
 '2012-01-03 00:00:00']
Length: 4855, dtype: datetime64[ns]


Valores únicos en la columna year: [2024 2023 2022 1916 1915 1914 1913 1912 1911 2021 1910 1909 1908 1907
 1906 1905 1904 1903 1902 1901 2020 1900 1899 2019 1898 1897 1896 1895
 1894 1893 1892 1891 1890 1889 1888 1887 2013 1959 2018 2014 2012 1886
 2011 1885 2008 2010 1884 1883 2009 1882 2006 1881 2007 1880 2005 1879
 1878 2004 2003 1877 2002 1876 2001 1875 2000 1874 1999 1873 1998 1872
 1997 1996 1871 1995 1870 1984 1994 1869 1868 1993 1867 1992 1866 1991
 1865 1990 1864 1989 1988 1863 1987 1986 1985 1862 1983 1982 1962 1861
 1981 1860 1980 1979 1859 1978 1858 1977 1976 1857 1856 1975 1855 1974
 1973 1853 1972 1971 1852 1970 1969 1968 1850 1851 1967 1849 1966 1848
 1965 1964 1847 1954 1846 1963 1845 1844 1842 1961 1841 1840 1960 1839
 1837 1836 1835 1834 1832 1831 1830 1958 1829 1957 1828 1956 1826 1955
 1817 1953 1952 1810 1951 1808 1950 1949 1948 1947 1792 1788 1946 1786
 1945 1784 1944 1780 1943 1771 1942 1753 1941 1751 1940 1939 1738 1938
 1703 1937 1936 1935 1934 1933 1932 1931 1930 1929 1928 1927 1926 1925
 1924 1923 1922 1921 1920 1919 1918 1917 2017 2016 2015]


Valores únicos en la columna type: ['Unprovoked' 'provoked' 'Provoked' 'Indefined' 'Watercraft'
 'Sea disaster']


Valores únicos en la columna country: ['AUSTRALIA' 'USA' 'INDIA' 'TRINIDAD' 'BAHAMAS' 'SOUTH AFRICA' 'MEXICO'
 'NEW ZEALAND' 'EGYPT' 'BELIZE' 'CORAL SEA' 'SPAIN' 'PORTUGAL' 'SAMOA'
 'COLOMBIA' 'ECUADOR' 'FRENCH POLYNESIA' 'NEW CALEDONIA'
 'TURKS AND CAICOS' 'CUBA' 'BRAZIL' 'SEYCHELLES' 'FIJI' 'ATLANTIC OCEAN'
 'JAMAICA' 'CROATIA' 'MONTENEGRO' 'GUYANA' 'NIGERIA' 'COSTA RICA'
 'PHILIPPINES' 'SOLOMON ISLANDS' 'NORTH ATLANTIC OCEAN' 'MOZAMBIQUE'
 'PANAMA' 'INDONESIA' 'TUNISIA' 'PAPUA NEW GUINEA' 'CHINA' 'HAITI'
 'ENGLAND' 'MALTA' 'YEMEN' 'INDIAN OCEAN' 'ITALY' 'NICARAGUA' 'CYPRUS'
 'LIBYA' 'WEST INDIES' 'MARSHALL ISLANDS' 'SRI LANKA' 'BARBADOS' 'JAPAN'
 'FRANCE' 'BURMA' 'LEBANON' 'SOUTH ATLANTIC OCEAN' 'PACIFIC OCEAN'
 'MARTINIQUE' 'KIRIBATI' 'CANADA' 'PARAGUAY' 'BRITISH NEW GUINEA'
 'PERSIAN GULF' 'CEYLON' 'HONDURAS' 'REUNION' 'ISRAEL' 'BERMUDA'
 'DIEGO GARCIA' 'TAIWAN' 'PALESTINIAN TERRITORIES' 'TONGA' 'SCOTLAND'
 'TRINIDAD & TOBAGO' 'SAUDI ARABIA' 'CHILE' 'ANTIGUA' 'DOMINICAN REPUBLIC'
 'KENYA' 'RUSSIA' 'COLUMBIA' 'UNITED KINGDOM' 'MALAYSIA'
 'UNITED ARAB EMIRATES (UAE)' 'AZORES' 'SOUTH KOREA' 'VIETNAM'
 'MADAGASCAR' 'GUAM' 'URUGUAY' 'GEORGIA' 'SOMALIA' 'NEVIS'
 'BRITISH VIRGIN ISLANDS' 'NORWAY' 'SIERRA LEONE' 'ST MARTIN'
 'GRAND CAYMAN' 'THAILAND' 'LIBERIA' 'VANUATU' 'VENEZUELA' 'MICRONESIA'
 'GREECE' 'OKINAWA' 'TANZANIA' 'MAURITIUS' 'EGYPT / ISRAEL'
 'NORTHERN ARABIAN SEA' 'HONG KONG' 'EL SALVADOR' 'CARIBBEAN SEA' 'GUINEA'
 'SINGAPORE' 'EQUATORIAL GUINEA / CAMEROON' 'NAMIBIA' 'COOK ISLANDS'
 'SOUTH CHINA SEA' 'TOBAGO' 'WESTERN SAMOA' 'BRITISH ISLES' 'PALAU'
 'GRENADA' 'TURKEY' 'PERU' 'NEW BRITAIN' 'SUDAN' 'JOHNSTON ISLAND'
 'NEW GUINEA' 'AFRICA' 'NORTH PACIFIC OCEAN'
 'FEDERATED STATES OF MICRONESIA' 'BRITISH WEST INDIES' 'COAST OF AFRICA'
 'MID ATLANTIC OCEAN' 'SENEGAL' 'NORTH SEA' 'TASMAN SEA' 'AMERICAN SAMOA'
 'ANDAMAN / NICOBAR ISLANDAS' 'GABON' 'THE BALKANS' 'ARGENTINA'
 'GUATEMALA' 'NETHERLANDS ANTILLES' 'IRAN' 'NORTHERN MARIANA ISLANDS'
 'CENTRAL PACIFIC' 'SOLOMON ISLANDS / VANUATU' 'SOUTH PACIFIC OCEAN'
 'BAY OF BENGAL' 'IRAQ' 'ICELAND' 'ITALY / CROATIA' 'CAPE VERDE' 'IRELAND'
 'KUWAIT' 'MALDIVES' 'JORDAN' 'ST KITTS AND NEVIS' 'REUNION ISLAND'
 'BRITISH OVERSEAS TERRITORY' 'COMOROS' 'UNITED ARAB EMIRATES'
 'CAYMAN ISLANDS' 'ARUBA' 'PUERTO RICO']


Valores únicos en la columna state: ['QUEENSLAND' 'HAWAII' 'MAHARASHTRA' 'FLORIDA' 'NEW  SOUTH WALES'
 'PARADISE ISLAND' 'SOUTH AUSTRALIA' 'EASTERN CAPE PROVINCE' 'SONORA'
 'NEW SOUTH WALES' 'WESTERN AUSTRALIA' 'SOUTH ISLAND'
 'NEW PROVIDENCE   ISOAD' 'JALISCO' 'GRAND  BAHAMA ISLAND'
 'WESTERM AUSTRALIA' 'NORTH ISLAND' 'SOUTHERN RED SEA' 'QUINTANA ROO'
 'BELIZE DISTRICT' 'CALIFORNIA' 'SOUTH CAROLINA' 'SOUTH SINAI'
 'NORTH CAROLINA' 'VALENCIA' 'NORTE' "SAVAI'I ISLAND" 'NEW YORK'
 'SAN ANDRÉS ISLAND' 'GALAPAGOS ISLANDS' 'RED SEA PROTECTORATE' 'FREEPORT'
 'TAHITI' 'POUM' 'PROVIDENCIALES ISLAND' 'LUCAYAN LUCAYAN ARCHIPELAGO'
 'NEW JERSEY' 'MAYABEQUE' 'EASTEN CAPE PROVINCE' 'ARTEMISA' 'PERNAMBUCO'
 'PRASLIN ISLAND' 'SOUTH PROVINCE' 'TAVEUNI ISLAND' 'GULF OF CALIFORNIA'
 'KNZ' 'NEW SOUTH ALES' 'SAMOA' 'TEXAS' 'LOUISIANA' 'MISSISSIPPI'
 'WESTERN  AUSTRALIA' 'VICTORIA' 'TORRES STRAIT' 'TAMAULIPAS'
 'APOLIMA STRAIT' 'KINGSTON PARISH' 'ZADAR COUNTY' 'ADRIATIC SEA'
 'ESSEQUIBO' 'LAGOS' 'GEORGIA' 'CENTRAL PROVINCE' 'VITI LEVU GROUP'
 'MÁLAGA' 'DELAWARE' 'WESTERN CAPE PROVINCE' 'CHATHAM ISLANDS'
 'GEORGES BANK' 'ZAMBESI RIVER' 'ALABAMA' 'COLÓN PROVINCE'
 '30 NM FROM SINGAPORE' 'GUERRERO' 'ANDALUCIA' 'SFAX'
 'SOUTH ATLANTIC OCEAN' 'GALICIA' 'GULF OF SUEZ' 'NEW BRITAIN' 'JAVA'
 'HONG KONG' 'TIBURON PENINSULA' 'ENGLISH CHANNEL' 'SPLIT-DALMATIA COUNT,'
 'PRIMORJE-GORSKI KOTAR COUNTY' 'OAXACA' 'HARARE PROVINCE' 'LUZON ISLAND'
 'WESTMORELAND PARISH' 'ADEN' 'MARYLAND' 'MALUKU PROVINCE' 'KWAZULU-NATAL'
 'SUEZ CANAL' 'NUSA TENGGARA' 'TASMANIA' 'BETWEEN NOUMEA & SYDNEY'
 'ANCONA PROVINCE' 'HAVANA PROVINCE' 'VERACRUZ' 'RIO SAN JUAN' 'CALABRIA'
 'ISTRIA COUNTY' 'LIGURIA' 'SOUTHERN CYPRUS' 'SYRACUSE' 'WESTERN VISCAYAS'
 'RHODE ISLAND' 'MINDORO OCCIDENTAL' 'MEDITERRANEAN SEA' 'HOLQUIN'
 'NEGROS' 'IMPERIA PROVINCE' 'MUALA' 'EAST COAST' 'VERA CRUZ' 'RATAK'
 'SOCOTRA ISLANDS' 'MASSACHUSETTS' 'ST MICHAEL PARISH' 'BIMINI ISLANDS'
 'MOLUCCAS' 'BOCAS DEL TORO' 'VIRGINIA' 'VITA LEVU' 'PROVENCE'
 'BAY OF CAMPECHE' 'RANGOON' 'BAY OF BENGAL' 'BAYELSA STATE'
 'SOUTH ISLAND?' 'NORFOLK ISLAND' 'BRITTANY' 'OUT ISLANDS' 'LINE ISLANDS'
 'NOVA SCOTIA' 'WOODLARK ISLANDS' 'UPOLU ISLAND' 'MUNXAR REEF'
 'TAMIL NADU' 'BETWEEN PERTH & COLOMBO' 'GUJARAT' 'CORTÉS' 'OREGON'
 'D’ÉTANG-SALÉ' 'SOUTHERN DISTRICT' 'PAGET' 'BAY OF BISCAY'
 'ABACO ISLANDS' 'EXUMA ISLANDS' 'SAINT-PAUL' 'CATALONIA' 'TAITUNG'
 'SANTA CRUZ ISLAND' 'SAINT-GILLES' 'TUAMOTUS' 'ALAGOAS' 'ELEUTHERA'
 'ST. CATHERINE' 'PALAWAN' 'SOCIETY ISLANDS' 'MERCURY ISLANDS' 'SINALOA'
 'DELTA' "VAVA'U" 'INNER HEBRIDES' 'SAINT LEU' 'TROIS-BASSINS' 'TRINIDAD'
 'BRITISH COLOMBIA' 'SARDINIA' 'SAINT-BENOIT' 'TABUK PROVINCE'
 'ANTOFAGASTA PROVINCE' "ST JOHN'S" 'SANTA ELENA' 'BALI'
 'EAST NEW BRITAIN' 'BOIS-BLANC' 'MORAY' 'PUERTO RICO' 'SAMANÁ PROVINCE'
 'COAST PROVINCE' 'PRIMORSKY KRAI'
 'PETER THE GREAT BAY, KHASAN, PRIMORSKY KRAI (FAR EAST)'
 'TELYAKOVSKY BAY, KHASAN,  PRIMORSKY KRAI (FAR EAST)' 'PRASLIN'
 'GRAND BAHAMA ISLAND' 'SUCRE' 'MIDDLE CAICOS' 'CAICOS BANK' 'GUANACASTE'
 'SAINT-GILLES-LES-BAINS' 'CORNWALL' 'SAN ANDRÉS ARCHIPELAGO' 'KEDAH'
 'NORTH PROVINCE' 'UMM AL QAYWAYAN PROVINCE' 'VITU LEVU' 'LOYALTY ISLANDS'
 'SAINT GILLES' 'COLIMA' 'WEST END' 'SOUTH SINAI PENINSULA'
 'PALMYRA ATOLL' 'MAINE' "HA'API" 'JEJU PROVINCE' 'GRAND CANARY ISLAND'
 'BINH DINH PROVINCE' 'ANTSIRANANA PROVINCE' 'SINAI PENINSULA'
 'OFF VANUA LEVU' 'MERIZO' 'RIO GRANDE DO SUL' 'DUBAI' 'WESTERN PROVINCE'
 'EASTERN PROVINCE' 'EASTERN CAPE  PROVINCE' 'MALDONADO COAST'
 'MAPUTO PROVINCE' 'INHAMBANE PROVINCE' 'BOCAS' 'FIFE' 'DEVON'
 'MAKIRA-ULAWA PROVINCE' 'NORTHERN TERRITORY' 'MOMBASA' 'CATALUNYA'
 'ST. JOHNS REEF' 'OFF GREEN ISLAND' 'NORTH REGION' 'BATANGAS PROVINCE'
 'STRAIT OF MALACCA' 'GUANTANAMO PROVINCE' 'MARANHÃO' 'RED SEA'
 'BATANES PROVINE' 'LUZON' 'NORTH DEVON' 'US VIRGIN ISLANDS' 'SAN CARLOS'
 'CABO SAN LUCAS' 'BAHIA' 'EASTER ROSS' 'GUERRO' 'YASAWA ISLANDS'
 'NORTHERN BAHAMAS' 'GREEN BAY' 'MAROVO LAGOON'
 'TERRITORY OF COCOS (KEELING) ISLANDS' 'OSLO FJORD' 'KENT' 'BIRD ISLAND'
 'PROVIDENCIALES' 'MUHAFAZAT HADRAMAWT' 'COOK ISLANS' 'SURIGAO DEL NORTE'
 'WEST BENGAL' 'AMBERGRIS CAYE' 'SAINT-PIERRE' 'KENTUCKY' 'ALICANTE'
 'ANDROS ISLANDS' 'GUAM' 'WESTERN AREA' '300 MILES FROM ANTIGUA'
 '800 MILES FROM LAND' '600 NM WEST OF THE CANARY ISLANDS'
 'ANDAMAN ISLANDS' 'SIMPSON BAY' 'EAST WALL' 'SHANGHAI' 'MALAMPA PROVINCE'
 'BAJA CALIFORNIA' "SOUTH CH'UNGCH'ONG PROVINCE" 'BAY ISLANDS'
 'NEW MEXICO' 'SANTA ISABEL PROVINCE' 'SANTIAGO DE CUBA PROVINCE'
 'EAST JAVA' 'CAMAGUEY PROVINCE' 'CONSERVATÓRIA DISTRICT' 'CONNECTICUT'
 'OFF THE COAST OF WEST AFRICA' 'KURIL ISLANDS IN THE PACIFIC'
 'WAKAYAMA PREFECTURE' "NUKU'ALOFA" 'SAINT-BENOÎT'
 'SOUTH ISLAND, NEAR KARITANE NORTH OF DUNEDIN' 'ROCHA' 'NORTHLANDS'
 'ANZOATEGUI' 'COOK ISLANDS' 'TAVEUNI' 'JOHNSTON ATOLL' 'RIO DE JANEIRO'
 'NUEVA ESPARTA' 'SOUTHLAND' 'NORTH PACIFIC COAST' 'STRAIT OF MESSINA'
 'CAROLINE ISLANDS' 'CHESHIRE' 'LOUISIADE ARCHIPELAGO'
 'KWAZULU-NATAL BETWEEN PORT EDWARD AND PORT ST JOHNS'
 'MILNE BAY PROVINCE' 'CYCLADES ARCHIPELAGO' 'RAYONG PROVINCE'
 'ZAMBOANGA DEL SUR PROVINCE'
 'OFF THE WESTERN COAST OF PENINSULAR MALAYSIA' 'HOLQUIN PROVINCE'
 'NEW BRUNSWICK' 'MIYAKO ISLAND' 'ALASKA' 'MINERVA REEF' 'MADANG PROVINCE'
 'WORCESTERSHIRE' 'PHANG NGA PROVINCE' 'GILBERT ISLANDS' 'RALIK CHAIN'
 'NEWFOUNDLAND' 'GRAND BAIE' "L' ETANG SALÉ-LES-BAINS"
 'RIO GRANDE DE NORTE' 'SAINT-LEU' 'SOUTHERN JAPAN' 'MARCHES REGION'
 'BERRY ISLANDS' 'TRANSVAAL' 'GAZA' "GRAND'ANSE" 'LOMAIVITI PROVINE'
 'MIYAKO' 'SOUTH SINAI, GULF OF AQABA' 'CAT CAY' '22ºN, 88ºE' 'MISSOURI'
 '12 MILES OFF THE NORTH COAST' 'CHATHAM ISLANDS, EAST OF NEW  ZEALAND'
 'SAINT-DENIS' 'VAVA’U' 'CLEARWATER BAY' 'NEW TERRITORIES'
 'AICHI PREFECTURE' 'HOOGLY RIVER' 'BANAADIR REGION' 'LA LIBERTAD'
 'COSTA BLANCA' 'WALKERS CAY' 'TONGAPATU GROUP' 'WAKAYA ISLAND'
 'VILLA CLARA PROVINCE' 'EHIME PREFECTURE' 'SAINT-JOSEPH'
 'ANTARCTIC OCEAN' 'LA SALINE-LES-BAINS' 'LIGURIAN SEA' "L'ETANG-SALÉ"
 'KOWLOON PENINSULA' 'PORT SHELTER' 'ALPES MARITIME' 'LAUCALA ISLAND'
 'SAINTE-MARIE' 'EASTERN CATALONA' 'GREAT EXUMA ISLAND' 'SAINTE-SUZANNE'
 'TUSCANY' 'WASHINGTON' 'TYRRHENIAN SEA' 'VALPARISO PROVINCE'
 'VISCAYAN SEA' 'FOVEAUX STRAIT' 'NEW IRELAND' 'SAINT-LOUIS' 'VANUA LEVU'
 'CONAKRY REGION' 'MINDORO' 'BETWEEN DR AND PUERTO RICO'
 'BETWEEN HONIARA & ISABEL ISLAND' 'FLORIDA STRAITS' 'CÁDIZ'
 'ANDIKIRA FOKITHES' 'MALAGA' 'CENTRAL PHILIPPINES' 'NORTHWEST ITALY'
 'CAROLINA COAST' 'SAINT-PHILIPPE' 'FERNANDO PO ISLAND' 'CHUNGNAM'
 'ERONOGO REGION' 'COQUIMBO' 'CANARY ISLANDS' "ST. MARY'S PARISH"
 'ROMBLON PROVINCE' 'LAMU ARCHIPELAGO' 'LOS VILOS' 'MANGAIA ISLAND'
 'MADEIRA ISLANDS' 'NEW PROVIDENCE ISLAND' 'SOUTHERN THAILAND'
 'RALIK ARCHIPELAGO' 'SOUTH CHINA SEA 200 MILES FROM HONG KONG'
 'REGGIO CALABRIA PROVINCE' 'ISLE OF WIGHT' 'MIRS BAY' 'GENOA PROVINCE'
 'CORFU' 'SOUTH DEVON' 'INHAMBE PROVINCE' 'BETWEEN AUSTRALIA & USA'
 'NAMONUITO ATOLL' 'EASTERN CAROLINE ISLANDS'
 'WESTERN CAROLINE ISLANDS (NORTH PACIFIC OCEAN)' 'ST. ANDREW PARISH'
 'TONGATAPU' 'LIMPOPO RIVER' 'CLARENDON' 'MORO GULF' 'JOHOR'
 'MAGDALENA DEPARTMENT' 'MAFIA ISLAND' 'GULF PROVINCE' 'MOROBE PROVINCE'
 'ROMBION PROVINCE' 'BRINDISI PROVINCE' 'NEW IRELAND PROVINCE' 'HAMILTON'
 'MUGLA PROVINCE' 'BAY OF MAPUTO' 'DUKE OF YORK ISLANDS'
 'TARANTO PROVINCE' 'NORTHERN TAIWAN' 'ADMIRALTY ISLANDS, MANUS PROVINCE'
 'NORTH SUMATRA' "250 MILES SOUTHWEST OF O'AHU, HAWAII" 'CARIBBEAN SEA'
 'WEST COAST' 'EAST SEPIK' 'WESTERN CAROLINE ISLANDS'
 'BOUGAINVILLE (NORTH SOLOMONS)' 'OKAYAMA PREFECTURE' 'LAU GROUP'
 'CARIBBEAN COAST' 'LOMALOMA, LAU' 'BETWEEN SOUTHAMPTON & CANARY ISLANDS'
 'SOUTH COAST, EAST NEW BRITAIN' 'LAU PROVINCE' 'SICILY' 'YSABEL ISLAND'
 'THESSALY' 'LOMAIVITI  ISLAND GROUP' 'GRAND TURK ISLAND'
 'OFF COAST OF WEST AFRICA' 'SHARON' 'NORTHERN DISTRICT'
 'NEW IRELAND PROVINCE, BISMARCK ARCHIPELAGO' 'ISLAND OF ST. THOMAS'
 'MADANG' '10ºS, 142ºE' 'KWAJALEIN ATOLL' 'WESTERN LUZON ISLAND'
 '165  MILES FROM BERMUDA'
 '25 KM OFF THE COAST OF IRAN & 483KM FROM MOUTH OF PERSIAN GULF'
 'VENICE PROVINCE' 'SANDAUN PROVINCE' 'ANATOLIA'
 'EAST NEW BRITAIN PROVINCE' 'UNITED ARAB EMIRATES'
 'WAKE ISLAND (ENENKIO)' 'PENNSYLVANIA' '9.35N 79.35W' 'RONCADOR BANK'
 'MATANZAS PROVINCE (NORTH COAST)' '180 MILES SOUTHEAST OF OKINAWA'
 'ENIWETOK ATOLL' 'CAP-VERT PENINSULA' 'DELAGOA BAY'
 'IN THE ENGLISH CHANNEL' 'COOK STRAIT'
 'UNKNOWN, TREATED AT WICK, SCOTLAND' 'CORREGIDOR ISLAND'
 'SAN BLAS ISLANDS' '33N, 68W' 'CASAMANCE' 'CUMBERLAND' 'RIGO SUBDISTRICT'
 'MASBATE' 'SANMA PROVINCE' 'LOMAIVITI PROVINCE' "35º39 : 165º8'"
 'LEYTE ISLAND' 'NORTH PALAWAN' 'QUEAON' 'ISTRIA' 'PANAMA' 'GUYAMAS'
 'CUBA' 'MINDANAO' 'KIKORI RIVER MOUTH' 'GUADALCANAL PROVINCE'
 'AHIRKAPI COAST' 'TUTUILA ISLAND' 'BETWEEN HAWAII & WAKE ISLAND'
 'TAIPEI HSIEN' '1,000 MILES EAST OF HAWAII' 'YUCATAN CHANNEL' 'VITI LEVU'
 'ESTUAIRE PROVINCE' 'NEAR DAKAR, CAP VERT PENINSULA' 'ST. THOMAS BAY'
 'MADEIRA' '1000 MILES WEST OF HAWAII' 'IZO ISLANDS' 'WAKE ISLAND'
 'ISLE OF MAN' 'SLOVENIA' 'SOUTH SHORE' 'BUENOS AIRES PROVINCE'
 '330 TO 350 MILES EAST OF WAKE ISLAND' 'GULF OF PANAMA' 'GENOA  PROVINCE'
 'ABAU SUB DISTRICT, CENTRAL PROVINCE' 'TERAMO' 'CURACAO'
 'PORT LOUIS PROVINCE' 'BAY OF MAPUTU' 'SALERNO' 'SALERNO PROVINCE'
 'CORFU ISLAND' 'TARANTO' 'SAGO PREFECTURE' 'SHATT-AL-ARAB RIVER'
 'BETWEEN KWAJALEIN ATOLL & JOHNSTON ISLAND' 'ATTICA' 'ADANA PROVINCE'
 'BANDAR MA’SHUR SEA INLET' 'SAIPAN' 'KWAJALEIN' 'KHUZESTAN PROVINCE'
 'DAR-ES-SALAAM' 'RYUKYU' 'IN TRANSIT BETWEEN TINIAN AND LEYTE' 'TEL AVIV'
 '300 MILES EAST OF LUZON' 'BERNARDINO STRAIT NEAR GULF OF LEYTE'
 'OFF SAMAR ISLAND IN THE GULF OF LEYTE' 'NEAR THE FIJI ISLANDS'
 'NORTHWEST OF PAPUA NEW GUINEA' 'MAKORA-ULAWA PROVINCE' '04.05N-13.23W'
 'MIDWAY ATOLL' 'WEST OF CEYLON (SRI  LANKA)' 'OFF LIBYA'
 'NORTH OF PERNAMBUCO, BRAZIL' 'TRELAWNEY PROVINCE' 'IN CONVOY OB 274'
 'NORTH CHINA' 'LOWER SAN JUAN RIVER' 'NICOYA PENINSULA' 'BASRAH CITY'
 'SOUTHWEST COAST' 'ARGYLLSHIRE' 'ARRAN' 'ARGYLL' 'COLON PROVINCE'
 'FISHING GROUNDS' 'MAKIRA-ULUWA PROVINCE' 'ELQUI PROVINCE' 'ISTANBUL'
 'BARLAVENTO ISLANDS' 'VITI LEVU ISLAND' 'NEW PROVIDENCE DISTRICT'
 'BAY OF FUNDY' 'MANILA' 'BLACK RIVER' 'LIMÓN PROVINCE' 'PHOENIX ISLANDS'
 'CIENFUEGOS PROVINCE' 'PORTO SEGURO' 'SALINAS BAY'
 'GOLFO DI GENOVA IN THE LIGURIAN SEA' 'SANTS-MONTJIC'
 'SOUTH OF THE EQUATOR' 'VANCOUVER'
 '2 TO 3 MILES OFF TABOGUILLA ISLAND, PACIFIC OCEAN' 'DORSET'
 '150 MILES OFFSHORE' 'GALICA' 'DEMERARA COUNTY' 'LUCY' 'EAST YORKSHIRE'
 'CAPE HAITIEN' 'LEYTE' 'HALIFAX' 'TURTLE BOGUE' 'OFF IRELAND'
 'GRAN CANARIA' 'NOIRTH CAROLINA' 'OKINAWA'
 'HURGHADA, RED SEA GOVERNORATE' 'AMBERGRIS CAY' 'PHUKET'
 'ISLA DE SAN ANDRES' 'GUANACOSTE' 'SÃO PAULO.' 'CHANTHABURI PROVINCE'
 'BAHAMAS' 'GALAPAGOS' 'AQABA' 'WEST SUSSEX' 'NOUVILLE' 'AMBERGRIS KEY'
 'MARQUESAS' 'MAUI' 'THE NARROWS' 'RAA ATOLL' 'FRANKLIN COUNTY, FLORIDA'
 'VIRGIN ISLANDS' 'TUAMOTU ISLANDS' 'MUANG DISTRICT OF SATUN PROVINCE,'
 'EXUMAS' 'MOOREA' 'BAJA' 'CAYMAN ISLANDS' 'QUINTA ROO'
 'LUCAYAN ARCHIPELAGO' 'BÉLEP ISLANDS' 'NOUMEA' 'FERNANDO DE NORONHA'
 'LIAONING PROVINCE' 'UPOLO' 'ST. MARYS PARISH' 'COUNTY CORK'
 'CHIETI, PROVINCE' 'GUIZHOU PROVINCE'
 'SAN ANDRES AND PROVIDENCIA ARCHIPELAGO' 'THE EXUMA CAYS' 'HUA HIN'
 'COCOS ISLAND' 'ALIFU ALIFU ATOLL' 'NEW PROVIDENCE'
 'BOI ISLAND, VICTORIA' 'SEPANG' 'PAMPLEMOUSSES' 'SHIZUOKA PREFECTURE'
 'CASTELLÓN' '40 MILES OFF GRAND BAHAMA ISLAND' 'ASCENSION ISLAND'
 'MAJORCA' 'TABASCO' 'ANJOUAN' 'IBIZA ISLAND' 'SHARJAH,'
 'BAJA CALIFORNIA SUR' 'SAINT-ANDRE' 'BIMINI' 'TUAMOTOS'
 'ALICANTE PROVINCE' 'KOCHI PREFECTURE' 'ISLA PROVIDENCIA' 'SUEZ'
 'GRAND TERRE' 'SANTA CATARINA STATE' 'ALTAGRACIA PROVINCE' 'GRAND CAYMAN'
 'BALNEÁRIO CAMBORIÚ' 'FUJAIRAH EMIRATE' 'BORA BORA' 'LE PORT' 'RANGIROA'
 'CENTRAL TUAMOTU' 'GRANADA' 'CARGADOS CARAJOS SHOALS (ST. BRANDON)'
 'ATSUMI PENINSULA' 'WALLIS AND FUTUNA' 'BAIE DE SAINTE-MARIE'
 'OKINAWA PREFECTURE' '740 MILES SE OF TARAWA ATOLL']


Valores únicos en la columna location: ['BARGARA BEACH' "OLD MAN'S, WAIKIKI" 'RAINBOWS, OAHU' ...
 'RIECKS POINT,  CAMPBELL’S BEACH,' 'LINCOLN CITY, LINCOLN COUNTY'
 'NORTH AVOCA BEACH']


Valores únicos en la columna activity: ['Swimming' 'Surfing' 'Fishing' ... 'Scuba diving culling' 'Kitesurfing'
 'Attempting remove fishing']


Valores únicos en la columna sex: ['F' 'M']


Valores únicos en la columna age: ['13' '15' '11' '32' '29' '10' '64' '62' '39' '22' '16' '46' '21' '20'
 '44' '26' '47' '66' '55' '30' '59' '8' '50' '52' '45' '34' '38' '37' '9'
 '19' '35' '65' '77' '60' '49' '42' '2' '24' '73' '25' '18' '58' '67' '17'
 '14' '6' '41' '53' '68' '43' '40' '51' '31' '12' '7' '23' '33' '74' '27'
 '56' '63' '48' '28' '36' '61' '57' '5' '54' '86' '70' 'Teen' '0' '3' '71'
 '69' '87' '4' '81' '78']


Valores únicos en la columna time: ['16h00' nan '13h30' '06h30' '20h00' '13h00' '11h12' '16h30' '15h00'
 '02h00' '16h32' '11h00' 'Morning' '11h30' '10h30' '13h20' '14h00' '09h00'
 '10h20' '15h05' '17h00' '15h45' '07h45' '10h40' '07h50' '01h00' '10h00'
 'Afternoon' '19h30' 'Evening' '17h50' '09h30' '15h30' '08h45' '"Midday"'
 '16h25' '13h55' '13h50' '17h20' '13h45' '10h10' '14h35' 'Night' '19h15'
 '11h20' '07h15' '07h00' '18h00' '12h30' '08h00' '14h20' '17h30' '07h20'
 '14h50' '-16h30' '12h00' '17h17' '11h15' '19h00' '11h24' 'Early morning'
 '"Early evening"' '14h10' '14h15' '08h30' '23h00' 'Late Afternoon'
 '22h20' '05h00' '   ' '07h30' 'Before daybreak' '06h00' '15h19' '10h55'
 '18h15' '15h55' 'Late afternoon' '20h30' '12h40' '16h05' '16h45' '14h30'
 '15h20' '12h45' '12h50' '14h45' '08h20' '13h40' '03h00' '13h24'
 '09h00 - 09h30' '10h45' '0830' '09h40' '11h40' '08h10' '15h56' '18h30'
 'Just before noon' '07h56' '1600' '06h45' '14h40' '16h35' '09h05' '09h45'
 '19h45' '19h28' '12h38' '05h50' '15h50' '11h05' 'Dawn' '05h45' '13h25'
 '09h50' '12h25' '12h20' '13h26' '09h11' '12h15' '13h15' 'Midday' '17h45'
 'Early afternoon' '18h20' '15h35' 'AM' '13h51' '14h55' '08h50' 'A.M.'
 '08h05' '10h35' '15h15' '15h44' '10h15' 'Dusk' '21h00' 'Lunchtime'
 '06h15' '15j45' '05h30' '09h35' '10h27' '10h16' '0500' '18h45'
 'Before 07h00' '09h20' '10h00 -- 11h00' '11h45' '19h20' '12h05' '11h10'
 '18h50' '15h53' '"Just before 11h00"' '11h115' '08h15' '13h42' '20h15'
 '12h39' '17h35' '16h40' '07h05' 'Sunset' '  ' '13h05' '03h30' '11h50'
 '"Evening"' 'Just before sundown' '17h55' '22h30' '17h15' '16h10'
 '11h30 ' '06h10' '16h15' 'Between 05h00 and 08h00' '15h40' '07h08'
 '17h00 or 17h40' '>08h00' '--' '12h02' '12h55' '16h14' '17h11' '00h30'
 '14h37' '10h07' '13h53' '11h55' '13h23' '12h10' 'Just after 12h00'
 '02h30' '08h40' '11h56' '16h20' ' ' 'Early Morning'
 'Shortly after midnight' '14h25' '13h345' '\xa0 ' '06h47' '09h00 -10h00'
 '20h45 (Sunset)' 'Late morning' '18h40' '13h14' '13h06'
 'Shortly before 13h00' '15h49' '12h34' '11h53' '8:04 pm' '12h46' '22h00'
 '12h48' '17h42' '18h05' '12h35' 'Possibly same incident as 2000.08.21'
 'After Dusk' '11h57' 'P.M.' 'Noon' '17h40' '11h25' '18h25' '10h28'
 '09h15' '14h16' '09h55' '2 hours after Opperman' '09h30 ' 'Mid afternoon'
 'Mid morning' '11h48' 'dusk' '10h25' '11h00 / 11h30' '07h19' '13h37'
 '11h06' '"Night"' '18h30?' '11h58' '11h51' 'Before 10h30' '18h12' '07h10'
 '07h40' '12h33' '30 minutes after 1992.07.08.a' '>06h45' '15h06' '12h54'
 'Between 06h00 & 07h20' '16h55' '16h50' '05h40' '<07h30' '21h30'
 '17h00 Sunset' 'Nightfall' 'X' '08h57' '18h30 (Sunset)' '06j00' '08h35'
 '10h22' '06h00 -- 07h00' '02h45' '04h00' 'Prior to 10h37' 'Daybreak'
 '18h10' '>12h00' 'Mid-morning' '08h55' '16h30 or 18h00'
 'Just before dawn' ' 14h00' '01h50' 'Daytime' '06h50' 'Dark'
 '10h00 / 11h00' '23h30' '07h32' '15h00 or 15h45' '>17h00' 'Midnight'
 '19h00 / 20h00' '12h45 / 13h45' '14h00 - 15h00' 'night' '03h45 - 04h00'
 '13h10' '09h30 / 15h30' '08h00 / 09h30' '19h35' '13h35' 'Late night'
 '01h32' '10h30 or 13h30' '17h10' '17h00-18h00' '16h23' '15h00j'

In [54]:
#Take a look of uniques per Serie

In [55]:
sharks_df["Sex"].unique()  #Ex-Series with unique values obvious to modify:

KeyError: 'Sex'

In [56]:
sharks_df["Injury"]  #Ex- Series with potential to have less unique values:

KeyError: 'Injury'

In [57]:
sharks_df["Type"].unique()

KeyError: 'Type'

# Day 2

In [58]:
sharks_df.columns = pd.Series(sharks_df.columns).apply(lambda col: col.lower())  #columns names
sharks_df.rename(columns = lambda x: x.replace(' ', '_'), inplace=True)
sharks_df.columns

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'sex', 'age', 'time', 'species_', 'source', 'pdf', 'href_formula',
       'href', 'case_number', 'case_number.1', 'original_order', 'unnamed:_21',
       'unnamed:_22', 'month'],
      dtype='object')

In [59]:
sharks_df["sex"].unique()

array(['F', 'M'], dtype=object)

In [60]:
sharks_df["sex"].replace(' M','M', inplace=True)        #modify the sex series
sharks_df["sex"].replace('M ','M', inplace=True)
sharks_df["sex"].replace('M x 2','M', inplace=True)
sharks_df["sex"].replace('N','M', inplace=True) 
sharks_df["sex"].unique()

array(['F', 'M'], dtype=object)

In [61]:
sharks_df["age"].unique()

array(['13', '15', '11', '32', '29', '10', '64', '62', '39', '22', '16',
       '46', '21', '20', '44', '26', '47', '66', '55', '30', '59', '8',
       '50', '52', '45', '34', '38', '37', '9', '19', '35', '65', '77',
       '60', '49', '42', '2', '24', '73', '25', '18', '58', '67', '17',
       '14', '6', '41', '53', '68', '43', '40', '51', '31', '12', '7',
       '23', '33', '74', '27', '56', '63', '48', '28', '36', '61', '57',
       '5', '54', '86', '70', 'Teen', '0', '3', '71', '69', '87', '4',
       '81', '78'], dtype=object)

In [62]:
sharks_df['age'].str.strip()
sharks_df["age"].replace('teen','10', inplace=True)
sharks_df["age"].replace('teen','10', inplace=True)
sharks_df["age"].replace('Teen','10', inplace=True)
sharks_df["age"].replace('20/30','25', inplace=True)
sharks_df["age"].replace('20/30','25', inplace=True)
sharks_df["age"] = sharks_df["age"].str.replace('s','')
sharks_df["age"] = sharks_df["age"].str.replace('!','')
sharks_df["age"] = sharks_df["age"].str.replace('?','')
sharks_df["age"].unique()

array(['13', '15', '11', '32', '29', '10', '64', '62', '39', '22', '16',
       '46', '21', '20', '44', '26', '47', '66', '55', '30', '59', '8',
       '50', '52', '45', '34', '38', '37', '9', '19', '35', '65', '77',
       '60', '49', '42', '2', '24', '73', '25', '18', '58', '67', '17',
       '14', '6', '41', '53', '68', '43', '40', '51', '31', '12', '7',
       '23', '33', '74', '27', '56', '63', '48', '28', '36', '61', '57',
       '5', '54', '86', '70', '0', '3', '71', '69', '87', '4', '81', '78'],
      dtype=object)

In [63]:
#Check Check Check