In [900]:
pip install xlrd  #necessary to read the files in the personal Mac

Requirement already satisfied: xlrd in /opt/anaconda3/lib/python3.11/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [901]:
!pip install thefuzz

Requirement already satisfied: thefuzz in /opt/anaconda3/lib/python3.11/site-packages (0.22.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.0.0 in /opt/anaconda3/lib/python3.11/site-packages (from thefuzz) (3.9.3)

In [902]:
import pandas as pd

In [903]:
url = "/Users/elizavetazavartseva/Downloads/GSAF5.xls"

# It is need to add the location of the file in the computer and then the name of the file and .xls, like this: "/GSAF5.xls"

In [904]:
#url = "/Users/anca/Desktop/Bootcamp - Ironhack/Project - Shark Attack/GSAF5.xls"

# It is need to add the location of the file in the computer and then the name of the file and .xls, like this: "/GSAF5.xls"

In [905]:
sharks_df = pd.read_excel(url)

In [906]:
#define function for visual view

def print_with_hist(pd_series, size=12):
    min = 1000000000
    max = 0
    max_result_str_len = 0
    for i, k in pd_series.items():
        result_str_len = len(f"{i} {' '*(2-(len(str(i))-1))} {k}")
        if result_str_len > max_result_str_len:
            max_result_str_len = result_str_len
        if k > max:
            max = k
        if k < min:
            min = k
    
    for i, k in pd_series.items():
        result_str = f"{i} {' '*(2-(len(str(i))-1))} {k}"
        print(
            "MAX ->" if k == max else "MIN ->" if k == min else "      ", 
            result_str, 
            " " * (max_result_str_len - len(result_str)), 
            " | ",
            "*" * int((k / size)),
        )

more than 3 word to define as specific for activity;
cut until the end of word shark;
regular expression - until , Source.

In [908]:
#Cleaning Column Names

sharks_df.columns = pd.Series(sharks_df.columns).apply(lambda col: col.lower())
sharks_df.rename(columns = lambda x: x.replace(' ', '_'), inplace=True)

print(sharks_df.columns)

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'unnamed:_11', 'time', 'species_',
       'source', 'pdf', 'href_formula', 'href', 'case_number', 'case_number.1',
       'original_order', 'unnamed:_21', 'unnamed:_22'],
      dtype='object')

In [909]:
print(sharks_df.info())

sharks_df
#original Dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6969 entries, 0 to 6968
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            6944 non-null   object
 1   year            6942 non-null   float64
 2   type            6926 non-null   object
 3   country         6894 non-null   object
 4   state           6462 non-null   object
 5   location        6379 non-null   object
 6   activity        6358 non-null   object
 7   name            6724 non-null   object
 8   sex             6365 non-null   object
 9   age             3950 non-null   object
 10  injury          6909 non-null   object
 11  unnamed:_11     6382 non-null   object
 12  time            3418 non-null   object
 13  species_        3812 non-null   object
 14  source          6925 non-null   object
 15  pdf             6799 non-null   object
 16  href_formula    6819 non-null   object
 17  href            6796 non-null   object
 18  case_number     6798 non-null   object
 19  case_number.1   6797 non-null   object
 20  original_order  6799 non-null   float64
 21  unnamed:_21     1 non-null      object
 22  unnamed:_22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB
None

,date,year,type,country,state,location,activity,name,sex,age,...,species_,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [910]:
#Column: date

import datetime as dt   
#it's nessesary for work with date

sharks_df.dropna(subset="date", inplace=True)    
#delete all null values

sharks_df["date"] = sharks_df["date"] \
    .str.replace("-", " ") \
    .str.replace("Nox", "Nov") \
    .str.extract(".*(\d{2} [a-zA-Z]{3} \d{4}).*")
    # .str.apply(lambda x: dt.datetime.strptime(x,'%d %b %Y'))



# print(tmp_sharks_df["Date"])
# tmp_sharks_df["Date"] = tmp_sharks_df["Date"].apply(lambda x: dt.datetime.strptime(x,'%d %b %Y') if type(x)==str else pd.NaT)
# print(tmp_sharks_df["Date"])


sharks_df["date"] = pd.to_datetime(sharks_df["date"], format="%d %b %Y", errors='coerce')
sharks_df.dropna(subset="date", inplace=True)

In [911]:
print(sharks_df.info())

sharks_df
#Dataframe after clining Data

<class 'pandas.core.frame.DataFrame'>
Index: 5976 entries, 0 to 6932
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            5976 non-null   datetime64[ns]
 1   year            5974 non-null   float64
 2   type            5960 non-null   object
 3   country         5947 non-null   object
 4   state           5648 non-null   object
 5   location        5610 non-null   object
 6   activity        5561 non-null   object
 7   name            5814 non-null   object
 8   sex             5534 non-null   object
 9   age             3738 non-null   object
 10  injury          5954 non-null   object
 11  unnamed:_11     5497 non-null   object
 12  time            3297 non-null   object
 13  species_        3423 non-null   object
 14  source          5961 non-null   object
 15  pdf             5842 non-null   object
 16  href_formula    5838 non-null   object
 17  href            5839 non-null   object
 18  case_number     5841 non-null   object
 19  case_number.1   5840 non-null   object
 20  original_order  5842 non-null   float64
 21  unnamed:_21     1 non-null      object
 22  unnamed:_22     2 non-null      object
dtypes: datetime64[ns](1), float64(2), object(20)
memory usage: 1.1+ MB
None

,date,year,type,country,state,location,activity,name,sex,age,...,species_,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22
0,2024-03-15,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-03-04,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-03-02,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-02-25,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-02-14,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6887,1959-06-19,0.0,Unprovoked,USA,California,"Capistrano, Orange County",NaN,girl,F,NaN,...,"White shark, 1,900-lb","B. Walton, Sun (San Bernardino), 6/19/1959",ND-0060-Capistrano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0060,ND.0060,58.0,NaN,NaN
6888,1959-04-24,0.0,Unprovoked,BERMUDA,Paget,Paget Parish,Spearfishing,Ross Doe,M,NaN,...,NaN,Mentioned in letter from L. S. Mowbray dated 4...,ND-0059-RossDoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0059,ND.0059,57.0,NaN,NaN
6930,1916-07-17,0.0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,NaN,...,NaN,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0,NaN,NaN
6931,1913-07-19,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,NaN,...,NaN,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14.0,NaN,NaN
6932,1913-07-19,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,NaN,...,NaN,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13.0,NaN,NaN

In [912]:
#Add new colimn: month
sharks_df['month'] = sharks_df['date'].dt.month

sharks_df

,date,year,type,country,state,location,activity,name,sex,age,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,2024-02-25,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4,2024-02-14,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6887,1959-06-19,0.0,Unprovoked,USA,California,"Capistrano, Orange County",NaN,girl,F,NaN,...,"B. Walton, Sun (San Bernardino), 6/19/1959",ND-0060-Capistrano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0060,ND.0060,58.0,NaN,NaN,6
6888,1959-04-24,0.0,Unprovoked,BERMUDA,Paget,Paget Parish,Spearfishing,Ross Doe,M,NaN,...,Mentioned in letter from L. S. Mowbray dated 4...,ND-0059-RossDoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0059,ND.0059,57.0,NaN,NaN,4
6930,1916-07-17,0.0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,NaN,...,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0,NaN,NaN,7
6931,1913-07-19,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,NaN,...,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14.0,NaN,NaN,7
6932,1913-07-19,0.0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,NaN,...,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13.0,NaN,NaN,7

In [913]:
#Add new colimn: month
sharks_df['year'] = sharks_df['date'].dt.year

sharks_df

,date,year,type,country,state,location,activity,name,sex,age,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,2024-02-25,2024,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4,2024-02-14,2024,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6887,1959-06-19,1959,Unprovoked,USA,California,"Capistrano, Orange County",NaN,girl,F,NaN,...,"B. Walton, Sun (San Bernardino), 6/19/1959",ND-0060-Capistrano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0060,ND.0060,58.0,NaN,NaN,6
6888,1959-04-24,1959,Unprovoked,BERMUDA,Paget,Paget Parish,Spearfishing,Ross Doe,M,NaN,...,Mentioned in letter from L. S. Mowbray dated 4...,ND-0059-RossDoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0059,ND.0059,57.0,NaN,NaN,4
6930,1916-07-17,1916,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,NaN,...,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0,NaN,NaN,7
6931,1913-07-19,1913,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,NaN,...,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14.0,NaN,NaN,7
6932,1913-07-19,1913,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,NaN,...,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13.0,NaN,NaN,7

In [914]:
aggr_by_month = sharks_df['date'].groupby([sharks_df['date'].dt.month]).agg('count')

print_with_hist(aggr_by_month)

       1    535   |  ********************************************
MIN -> 2    389   |  ********************************
       3    423   |  ***********************************
       4    454   |  *************************************
       5    413   |  **********************************
       6    516   |  *******************************************
MAX -> 7    713   |  ***********************************************************
       8    610   |  **************************************************
       9    570   |  ***********************************************
       10   471   |  ***************************************
       11   419   |  **********************************
       12   463   |  **************************************

In [915]:
aggr_by_year = sharks_df['date'].groupby([sharks_df['date'].dt.year]).agg('count').sort_index(ascending=False)

print_with_hist(aggr_by_year)

       2024  10    |
       2023  100   |  ********
       2022  98    |  ********
       2021  109   |  *********
       2020  99    |  ********
       2019  112   |  *********
       2018  121   |  **********
       2017  138   |  ***********
       2016  129   |  **********
MAX -> 2015  141   |  ***********
       2014  118   |  *********
       2013  120   |  **********
       2012  114   |  *********
       2011  124   |  **********
       2010  101   |  ********
       2009  118   |  *********
       2008  116   |  *********
       2007  108   |  *********
       2006  98    |  ********
       2005  100   |  ********
       2004  89    |  *******
       2003  85    |  *******
       2002  87    |  *******
       2001  88    |  *******
       2000  90    |  *******
       1999  61    |  *****
       1998  59    |  ****
       1997  56    |  ****
       1996  55    |  ****
       1995  69    |  *****
       1994  54    |  ****
       1993  42    |  ***
       1992  50    |  ****
       1991  36    |  ***
       1990  38    |  ***
       1989  49    |  ****
       1988  53    |  ****
       1987  31    |  **
       1986  30    |  **
       1985  32    |  **
       1984  38    |  ***
       1983  45    |  ***
       1982  33    |  **
       1981  45    |  ***
       1980  28    |  **
       1979  21    |  *
       1978  24    |  **
       1977  23    |  *
       1976  37    |  ***
       1975  43    |  ***
       1974  33    |  **
       1973  21    |  *
       1972  33    |  **
       1971  20    |  *
       1970  23    |  *
       1969  24    |  **
       1968  38    |  ***
       1967  41    |  ***
       1966  51    |  ****
       1965  37    |  ***
       1964  58    |  ****
       1963  56    |  ****
       1962  78    |  ******
       1961  68    |  *****
       1960  71    |  *****
       1959  79    |  ******
       1958  40    |  ***
       1957  27    |  **
       1956  32    |  **
       1955  29    |  **
       1954  35    |  **
       1953  23    |  *
       1952  21    |  *
       1951  28    |  **
       1950  27    |  **
       1949  20    |  *
       1948  23    |  *
       1947  25    |  **
       1946  22    |  *
       1945  11    |
       1944  25    |  **
       1943  18    |  *
       1942  25    |  **
       1941  18    |  *
       1940  16    |  *
       1939  20    |  *
       1938  19    |  *
       1937  27    |  **
       1936  27    |  **
       1935  30    |  **
       1934  26    |  **
       1933  22    |  *
       1932  25    |  **
       1931  27    |  **
       1930  21    |  *
       1929  34    |  **
       1928  20    |  *
       1927  15    |  *
       1926  16    |  *
       1925  10    |
       1924  19    |  *
       1923  17    |  *
       1922  21    |  *
       1921  10    |
       1920  12    |  *
       1919  12    |  *
       1918  2     |
       1917  9     |
       1916  26    |  **
       1915  10    |
       1914  18    |  *
       1913  15    |  *
       1912  14    |  *
       1911  14    |  *
       1910  11    |
       1909  16    |  *
       1908  13    |  *
       1907  20    |  *
       1906  17    |  *
       1905  14    |  *
       1904  8     |
       1903  7     |
       1902  13    |  *
       1901  7     |
       1900  10    |
       1899  17    |  *
       1898  12    |  *
       1897  9     |
       1896  8     |
       1895  17    |  *
       1894  15    |  *
       1893  12    |  *
       1892  10    |
       1891  9     |
       1890  10    |
       1889  8     |
       1888  13    |  *
       1887  11    |
       1886  11    |
       1885  9     |
       1884  7     |
       1883  9     |
       1882  9     |
       1881  7     |
       1880  11    |
       1879  6     |
       1878  10    |
       1877  13    |  *
       1876  5     |
       1875  4     |
       1874  8     |
       1873  3     |
       1872  7     |
       1871  5     |
       1870  7     |
       1869  2     |
       1868  4     |
       1867  3     |
       1866  2     |
       1865  3     |
       1864  8     |
       1863  6     |
       1862  10    |
       1861  4     |
       1860  4     |
MIN -> 1859  1     |
       1858  6     |
MIN -> 1857  1     |
       1856  4     |
       1855  6     |
       1853  3     |
       1852  6     |
MIN -> 1851  1     |
       1850  2     |
       1849  7     |
       1848  3     |
       1847  6     |
       1846  3     |
       1845  5     |
       1844  2     |
       1842  2     |
MIN -> 1841  1     |
       1840  3     |
       1839  2     |
       1837  2     |
MIN -> 1836  1     |
       1835  2     |
MIN -> 1834  1     |
       1832  2     |
MIN -> 1831  1     |
       1830  4     |
       1829  2     |
MIN -> 1828  1     |
       1826  3     |
MIN -> 1823  1     |
MIN -> 1822  1     |
MIN -> 1819  1     |
MIN -> 1818  1     |
       1817  4     |
MIN -> 1811  1     |
MIN -> 1810  1     |
       1808  3     |
MIN -> 1807  1     |
MIN -> 1804  1     |
MIN -> 1801  1     |
MIN -> 1792  1     |
MIN -> 1788  1     |
MIN -> 1787  1     |
MIN -> 1786  1     |
MIN -> 1785  1     |
MIN -> 1784  1     |
MIN -> 1783  1     |
MIN -> 1780  1     |
MIN -> 1771  1     |
MIN -> 1753  1     |
MIN -> 1751  1     |
MIN -> 1742  1     |
MIN -> 1738  1     |
MIN -> 1703  1     |

In [916]:
#Column: year

#Updated it.

In [917]:
#Dataframe after updating Year

sharks_df

,date,year,type,country,state,location,activity,name,sex,age,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,2024-02-25,2024,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4,2024-02-14,2024,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6887,1959-06-19,1959,Unprovoked,USA,California,"Capistrano, Orange County",NaN,girl,F,NaN,...,"B. Walton, Sun (San Bernardino), 6/19/1959",ND-0060-Capistrano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0060,ND.0060,58.0,NaN,NaN,6
6888,1959-04-24,1959,Unprovoked,BERMUDA,Paget,Paget Parish,Spearfishing,Ross Doe,M,NaN,...,Mentioned in letter from L. S. Mowbray dated 4...,ND-0059-RossDoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0059,ND.0059,57.0,NaN,NaN,4
6930,1916-07-17,1916,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,NaN,...,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0,NaN,NaN,7
6931,1913-07-19,1913,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,NaN,...,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14.0,NaN,NaN,7
6932,1913-07-19,1913,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,NaN,...,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13.0,NaN,NaN,7

In [918]:
#Column: type

sharks_df['type'] = sharks_df['type'].str.capitalize().str.strip()

In [919]:
replace_dict = {
    'Questionable': 'Indefined',
    'Unconfirmed': 'Indefined',
    'Unconfirmed': 'Indefined',
    'Invalid': 'Indefined',
    'Unverified': 'Indefined',
    'Invalid': 'Indefined',
    'Under investigation': 'Indefined',
    'Boat': 'Indefined',
    '?': 'Indefined'

}

sharks_df['type'] = sharks_df['type'].replace(replace_dict)

sharks_df.type.fillna('Indefined', inplace = True)

In [920]:
#Types after cleaning

sharks_df['type'].unique()

#Replaced NaN to 'Indefined'
#Replaced 'Questionable', 'Unconfirmed', 'Unverified', 'Invalid', 'Under investigation' ... -> 'Indefined'

array(['Unprovoked', 'provoked', 'Provoked', 'Indefined', 'Watercraft',
       'Sea disaster'], dtype=object)

In [921]:
#Column: country
#Check how many null values in column "country"
print(f'Column "country" has {sharks_df.country.isna().sum()} null values.')

Column "country" has 29 null values.

In [922]:
#Column: country
sharks_df.loc[sharks_df["country"].isna()]

#Rows with null values.
#Do we need to keep it? Maybe just delete?

,date,year,type,country,state,location,activity,name,sex,age,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
673,2017-11-13,2017,Unprovoked,NaN,NaN,NaN,Surfing,Timur Yunusov,M,24,...,Instagram,2017.11.13.R-Timur.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.11.13.R,2017.11.13.R,6270.0,NaN,NaN,11
4014,1970-08-02,1970,Indefined,NaN,Caribbean Sea,Between St. Kitts & Nevis,Sea Disaster Sinking of ferryboat Christina,NaN,NaN,NaN,...,"Rome News Tribune, 8/3/1970",1970.08.02-Christina-ferryboat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.08.02,1970.08.02,2928.0,NaN,NaN,8
4232,1965-10-21,1965,Unprovoked,NaN,NaN,Florida Strait,The boat Caribou II sank,Mario Castellanos,M,39,...,"Lodi News Sentinel, 10/30/1965",1965.10.21-Castellanos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1965.10.21,1965.10.21,2710.0,NaN,NaN,10
4288,1964-09-27,1964,Indefined,NaN,NaN,NaN,Spearfishing,Giancarlo Griffon,M,24,...,C. Moore. GSAF,1964.09.27-Griffon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1964.09.27,1964.09.27,2654.0,NaN,NaN,9
4645,1960-01-26,1960,Sea disaster,NaN,"Between Timor & Darwin, Australia",NaN,Portuguese Airliner with 9 people aboard went ...,NaN,NaN,NaN,...,"V.M. Coppleson (1962), p.260",1960.01.26-Portuguese airliner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.01.26,1960.01.26,2297.0,NaN,NaN,1
4858,1956-09-13,1956,Unprovoked,NaN,Near the Andaman & Nicobar Islands,NaN,Climbing back on ship,male,M,NaN,...,M. Hosina,1956.09.13-TunaBoat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.09.13,1956.09.13,2084.0,NaN,NaN,9
5269,1944-10-24,1944,Sea disaster,NaN,NaN,225 miles east of Hong Kong,Japanese POW ship Arisan Maru with 1800 Americ...,NaN,M,NaN,...,internet (multiple),1944.10.24-ArisanMaru.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1944.10.24,1944.10.24,1673.0,NaN,NaN,10
5541,1935-04-12,1935,Unprovoked,NaN,NaN,NaN,Diving,Pearl Purdy Scott,F,NaN,...,"Port Arthur News, 4/12/1935",1935.04.12.R-PearlPurdyScott.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1935.04.12.R,1935.04.12.R,1401.0,NaN,NaN,4
5651,1931-04-27,1931,Unprovoked,NaN,French Southern Territories,Île Saint-Paul,"Fishing, boat capsized",Quillezic,M,NaN,...,"Los Angeles Times, 4/27/1931",1931.04.27.R-Quillezic.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1931.04.27.R,1931.04.27.R,1292.0,NaN,NaN,4
5691,1929-12-09,1929,Unprovoked,NaN,NaN,NaN,NaN,Thomas Duggan,M,20,...,"The Age, 12/9/1929",1929.12.09.R-Duggan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1929.12.09.R,1929.12.09.R,1252.0,NaN,NaN,12
6057,1909-01-17,1909,Indefined,NaN,NaN,Near the equator,Jumped overboard,Thomas Butler,M,36,...,"Star, 3/18/1909",1909.01.17-Butler.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1909.01.17,1909.01.17,886.0,NaN,NaN,1
6218,1898-09-19,1898,Unprovoked,NaN,NaN,NaN,Diving,Halletts,M,NaN,...,"Lincoln Evening News & Daily Call, 9/19/1898",1898.09.19.b.R-Halletts.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1898.09.19.b.R,1898.09.19.b.R,725.0,NaN,NaN,9
6219,1898-09-19,1898,Unprovoked,NaN,NaN,NaN,Diving,male,M,NaN,...,"Lincoln Evening News & Daily Call, 9/19/1898",1898.09.19.a.R.Sully.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1898.09.19.a.R,1898.09.19.a.R,724.0,NaN,NaN,9
6245,1897-03-15,1897,Unprovoked,NaN,Mediterranean Sea,NaN,Swimming,male,M,NaN,...,"Daily Northwestern, 5/15/1897",1897.03.15.b.R-Mediterranean.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1897.03.15.b.R,1897.03.15.b.R,698.0,NaN,NaN,3
6269,1895-06-13,1895,Unprovoked,NaN,NaN,NaN,Diving,Marsh,M,NaN,...,"Lima Times, 6/13/1895",1895.06.13.R-EnglishDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1895.06.13.R,1895.06.13.R,674.0,NaN,NaN,6
6375,1887-07-30,1887,Sea disaster,NaN,Gulf of California,NaN,"Sea disaster, wreck of the sloop Sara",2 males,M,NaN,...,"Austin Weekly Statesman, 8/11/1887",1887.07.30-TheSara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1887.07.30,1887.07.30,568.0,NaN,NaN,7
6404,1885-04-16,1885,Unprovoked,NaN,NaN,NaN,Swimming,2 males,M,NaN,...,"Gleaner (Jamaica), 4/16/1885",1885.04.16.R-GermanShip.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1885.04.16.R,1885.04.16.R,539.0,NaN,NaN,4
6442,1881-08-16,1881,Unprovoked,NaN,Western Banks,NaN,"Floating, holding onto an oar after dory capsized",George Sedgwick,M,20,...,"Lewiston Evening Journal, 8/16/1881",1881.08.16.R-Sedgwick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.08.16.R,1881.08.16.R,501.0,NaN,NaN,8
6444,1881-07-25,1881,Unprovoked,NaN,NaN,Santa Cruz,Bathing,Father Hudson,M,NaN,...,"Grey River Argus,10/3/1881, p.2",1881.06.25-FatherHudson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.06.25,1881.06.25,499.0,NaN,NaN,7
6473,1878-10-13,1878,Unprovoked,NaN,NaN,NaN,Jumped overboard after murdering 2 shipmates,Sherrington,M,NaN,...,The Maitland Mercury & Hunter River General Ad...,1878.10.13-Sherrington.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1878.10.13,1878.10.13,470.0,NaN,NaN,10
6519,1874-06-15,1874,Unprovoked,NaN,NaN,NaN,Salvaging a shipwreck,male,M,NaN,...,"Daily Southern Cross, 6/15/1874",1874.06.15.a.R-Achilles-tendon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1874.06.15.a.R,1874.06.15.a.R,424.0,NaN,NaN,6
6554,1869-04-10,1869,Indefined,NaN,NaN,NaN,Fell overboard,Christian Frederick,M,NaN,...,"Nelson Examiner & New Zealand Chronicle, 4/24/...",1869.04.10-Frederick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1869.04.10,1869.04.10,389.0,NaN,NaN,4
6630,1856-11-20,1856,Unprovoked,NaN,NaN,NaN,Swimming,Cornelius Conhlren,M,22,...,"Pacific Commercial Advertiser, 11/20/1856",1856.11.20.R-Conhlren.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1856.11.20.R,1856.11.20.R,313.0,NaN,NaN,11
6635,1855-07-28,1855,Unprovoked,NaN,NaN,NaN,Bathing,"a young boy, one of the crew of the Post Boy",M,NaN,...,"Maitland Mercury, 8/25/1855",1855.07.28-PostBoy-sailors.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1855.07.28,1855.07.28,308.0,NaN,NaN,7
6726,1830-04-22,1830,Unprovoked,NaN,NaN,NaN,NaN,Jose,M,NaN,...,"The Torchlight & Public Advertiser, 4/22/1830",1830.04.22.R-Jose.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1830.04.22.R,1830.04.22.R,217.0,NaN,NaN,4
6753,1811-03-01,1811,Unprovoked,NaN,NaN,NaN,Fell overboard,John Walker,M,NaN,...,Journal of Captain Marryat,1811.03.01-John-Walker.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1811.03.01,1811.03.01,190.0,NaN,NaN,3
6765,1801-12-18,1801,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,NaN,...,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,178.0,NaN,NaN,12
6771,1787-07-05,1787,Unprovoked,NaN,St Helena,Landing Place,Swimming,Private Isaac Hicksled,M,NaN,...,"H.R. Janisch (1885), Extracts from the St. Hel...",1787.07.05-Hicksled.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1787.07.05,1787.07.05,172.0,NaN,NaN,7
6789,1742-12-17,1742,Unprovoked,NaN,NaN,Carlisle Bay,Swimming,2 impressed seamen,M,NaN,...,"C. Moore, GSAF",1742.12.17-AdviceSeamen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1742.12.17,1742.12.17,154.0,NaN,NaN,12

In [923]:
#Column: country
sharks_df.dropna(subset="country", inplace=True)

sharks_df
#Dataframe after deleting rows with null values in country

,date,year,type,country,state,location,activity,name,sex,age,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,2024-02-25,2024,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4,2024-02-14,2024,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6887,1959-06-19,1959,Unprovoked,USA,California,"Capistrano, Orange County",NaN,girl,F,NaN,...,"B. Walton, Sun (San Bernardino), 6/19/1959",ND-0060-Capistrano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0060,ND.0060,58.0,NaN,NaN,6
6888,1959-04-24,1959,Unprovoked,BERMUDA,Paget,Paget Parish,Spearfishing,Ross Doe,M,NaN,...,Mentioned in letter from L. S. Mowbray dated 4...,ND-0059-RossDoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0059,ND.0059,57.0,NaN,NaN,4
6930,1916-07-17,1916,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,NaN,...,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0,NaN,NaN,7
6931,1913-07-19,1913,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,NaN,...,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14.0,NaN,NaN,7
6932,1913-07-19,1913,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,NaN,...,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13.0,NaN,NaN,7

In [924]:
#Column: country

from thefuzz import process

# Define the list of standard country names
standard_countries = [
    'AUSTRALIA', 'USA', 'INDIA', 'TRINIDAD', 'BAHAMAS', 'SOUTH AFRICA', 'MEXICO', 'NEW ZEALAND', 'EGYPT', 'BELIZE',
    'PHILIPPINES', 'CORAL SEA', 'SPAIN', 'PORTUGAL', 'SAMOA', 'COLOMBIA', 'ECUADOR', 'FRENCH POLYNESIA', 'NEW CALEDONIA',
    'TURKS AND CAICOS', 'CUBA', 'BRAZIL', 'SEYCHELLES', 'ARGENTINA', 'FIJI', 'MALDIVES', 'ENGLAND', 'JAPAN', 'INDONESIA',
    'JAMAICA', 'THAILAND', 'COLUMBIA', 'COSTA RICA', 'BRITISH OVERSEAS TERRITORY', 'CANADA', 'JORDAN', 'ST KITTS AND NEVIS',
    'ST MARTIN', 'PAPUA NEW GUINEA', 'REUNION ISLAND', 'ISRAEL', 'CHINA', 'IRELAND', 'ITALY', 'MALAYSIA', 'LIBYA', 'MAURITIUS',
    'SOLOMON ISLANDS', 'COMOROS', 'UNITED KINGDOM', 'UNITED ARAB EMIRATES', 'CAPE VERDE', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS',
    'ARUBA', 'MOZAMBIQUE', 'PUERTO RICO', 'ATLANTIC OCEAN', 'GREECE', 'FRANCE', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'DIEGO GARCIA',
    'TAIWAN', 'PALESTINIAN TERRITORIES', 'GUAM', 'NIGERIA', 'TONGA', 'SCOTLAND', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA',
    'KENYA', 'RUSSIA', 'UNITED ARAB EMIRATES (UAE)', 'AZORES', 'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA',
    'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL', 'YEMEN', 'GULF OF ADEN', 'SIERRA LEONE', 'LIBERIA', 'VANUATU',
    'HONDURAS', 'VENEZUELA', 'SRI LANKA', 'URUGUAY', 'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA', 'MARSHALL ISLANDS',
    'NORTHERN ARABIAN SEA', 'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO', 'IRAN', 'TUNISIA', 'NAMIBIA',
    'NORTH ATLANTIC OCEAN', 'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA', 'PACIFIC OCEAN', 'BRITISH ISLES', 'GRENADA',
    'IRAQ', 'TURKEY', 'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND', 'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
    'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA', 'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
    'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'NICARAGUA', 'MALDIVE ISLANDS', 'AMERICAN SAMOA', 'GABON', 'MAYOTTE', 'THE BALKANS',
    'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES', 'NORTHERN MARIANA ISLANDS', 'JAVA', 'SLOVENIA',
    'CURACAO', 'ICELAND', 'BARBADOS', 'MONACO', 'GUYANA', 'HAITI', 'SAN DOMINGO', 'KUWAIT', 'FALKLAND ISLANDS', 'CRETE',
    'CYPRUS', 'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY', 'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA', 'TUVALU',
    'GUINEA', 'ANDAMAN ISLANDS', 'COOK ISLANDS', 'TOBAGO', 'PERU', 'AFRICA', 'ALGERIA', 'COAST OF AFRICA', 'TASMAN SEA',
    'GHANA', 'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN', 'DJIBOUTI', 'BAHREIN', 'KOREA', 'ASIA'
]
# Define the fuzzy match function

def fuzzy_match(country, choices, scorer, cutoff=80):
    if isinstance(country, str):  # Ensure the country is a string
        match, score = process.extractOne(country, choices, scorer=scorer)
        if score >= cutoff:
            return match
    return country  # Return original value if no match or not a string
    
# Apply the fuzzy match function to the 'country' column
sharks_df['country'] = sharks_df['country'].apply(lambda x: fuzzy_match(x, standard_countries, scorer=process.fuzz.token_sort_ratio))

sharks_df

,date,year,type,country,state,location,activity,name,sex,age,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,2024-02-25,2024,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4,2024-02-14,2024,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6887,1959-06-19,1959,Unprovoked,USA,California,"Capistrano, Orange County",NaN,girl,F,NaN,...,"B. Walton, Sun (San Bernardino), 6/19/1959",ND-0060-Capistrano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0060,ND.0060,58.0,NaN,NaN,6
6888,1959-04-24,1959,Unprovoked,BERMUDA,Paget,Paget Parish,Spearfishing,Ross Doe,M,NaN,...,Mentioned in letter from L. S. Mowbray dated 4...,ND-0059-RossDoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0059,ND.0059,57.0,NaN,NaN,4
6930,1916-07-17,1916,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,NaN,...,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0,NaN,NaN,7
6931,1913-07-19,1913,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,NaN,...,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14.0,NaN,NaN,7
6932,1913-07-19,1913,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,NaN,...,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13.0,NaN,NaN,7

In [925]:
#Column: country

sharks_df['country'] = sharks_df['country'].str.upper().str.strip()

In [926]:
#Column: country

sharks_df

,date,year,type,country,state,location,activity,name,sex,age,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,2024-02-25,2024,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4,2024-02-14,2024,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6887,1959-06-19,1959,Unprovoked,USA,California,"Capistrano, Orange County",NaN,girl,F,NaN,...,"B. Walton, Sun (San Bernardino), 6/19/1959",ND-0060-Capistrano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0060,ND.0060,58.0,NaN,NaN,6
6888,1959-04-24,1959,Unprovoked,BERMUDA,Paget,Paget Parish,Spearfishing,Ross Doe,M,NaN,...,Mentioned in letter from L. S. Mowbray dated 4...,ND-0059-RossDoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0059,ND.0059,57.0,NaN,NaN,4
6930,1916-07-17,1916,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,"""youthful male""",M,NaN,...,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0,NaN,NaN,7
6931,1913-07-19,1913,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,a native fisherman,M,NaN,...,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14.0,NaN,NaN,7
6932,1913-07-19,1913,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,a young Scotsman,M,NaN,...,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13.0,NaN,NaN,7

In [927]:
#Column: state

sharks_df['state'] = sharks_df['state'].str.upper().str.strip()

In [928]:
#Column: state

#Check how many null values in column "country"
print(f'Column "state" has {sharks_df.state.isna().sum()} null values.')

Column "state" has 307 null values.

In [929]:
#Column: state

sharks_df.loc[sharks_df["state"].isna()]

#We keep it. Last priority.

,date,year,type,country,state,location,activity,name,sex,age,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
5,2024-02-04,2024,provoked,TRINIDAD,NaN,NaN,Spearfishing,male,M,NaN,...,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
43,2023-09-06,2023,Watercraft,CORAL SEA,NaN,NaN,On a round-the-world expedition,9 m inflatable catamaran,M,NaN,...,"B. Myatt, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
129,2022-10-28,2022,Unprovoked,BAHAMAS,NaN,Cat Island,Diving,male,M,NaN,...,"Bahamas Press, 10/29/2022",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
140,2022-09-06,2022,Unprovoked,BAHAMAS,NaN,Green Cay,Snorkeling,Caroline DiPlacido,F,58,...,"B. Myatt, GSAF",2022.09.06-Bahamas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.09.06,2022.09.06,6801.0,NaN,NaN,9
172,2022-06-24,2022,Unprovoked,JAMAICA,NaN,NaN,Fishing,Michael Simpson,M,NaN,...,"The Gleaner, 6/30/2022","2022,06,24-Simpson.pdf",http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.06.24,2022.06.24,6769.0,NaN,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6772,1786-08-10,1786,Unprovoked,BARBADOS,NaN,NaN,Washing himself,a sailor from the York Merchant,M,NaN,...,"Belfast Evening Post, 8/10/1786",1786.08.10.R-Barbados.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1786.08.10.R,1786.08.10.R,171.0,NaN,NaN,8
6774,1784-12-12,1784,Unprovoked,JAMAICA,NaN,Kingston,Swimming,Richard Page,M,NaN,...,"The Pennsylvaia Gazette, 3/16/1785",1784.12.12-Page.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1784.12.12,1784.12.12,169.0,NaN,NaN,12
6775,1783-03-02,1783,Sea disaster,MARTINIQUE,NaN,Foundering of the privateer Holker,NaN,NaN,M,NaN,...,"C.Moore, GSAF",1783.03.02-Martinique.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1783.03.02,1783.03.02,168.0,NaN,NaN,3
6780,1771-07-12,1771,Unprovoked,USA,NaN,Damiscotte,Fishing,male,M,NaN,...,"C. Moore, GSAF",1771.07.12.R-Damiscotte.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1771.07.12.R,1771.07.12.R,163.0,NaN,NaN,7
6784,1753-10-27,1753,Unprovoked,JAMAICA,NaN,Kingston Harbor,Fell overboard,male,M,NaN,...,"Maryland Gazette, 1/31/1754",1753.10.27.R-Jamaica.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1753.10.27.R,1753.10.27.R,159.0,NaN,NaN,10

In [930]:
#Replace Nun values to MODE

sharks_df['state'].fillna(sharks_df['state'].mode()[0], inplace=True)

In [931]:
#Column: state

#Check how many null values in column "country"
print(f'Column "state" has {sharks_df.state.isna().sum()} null values.')

Column "state" has 0 null values.

In [932]:
#Column: location

sharks_df['location'] = sharks_df['location'].str.upper().str.strip()

In [933]:
#Column: location

#Check how many null values in column "country"
print(f'Column "location" has {sharks_df.location.isna().sum()} null values.')

Column "location" has 345 null values.

In [934]:
#Column: location

sharks_df.location.fillna('Indefined', inplace = True)

#We keep it. Last priority.

In [935]:
#Column: location

#Check how many null values in column "country"
print(f'Column "location" has {sharks_df.location.isna().sum()} null values.')

Column "location" has 0 null values.

In [936]:
#Column: activity

sharks_df.dropna(subset="activity", inplace=True)
# tmp_sharks_df["Activity"].apply(lambda x: " ".join(x.split(" ")[:3:])).apply(lambda x: x if len(x.split()} > 2 else "").value_counts()
sharks_df["activity"] = sharks_df["activity"] \
    .str.replace(" for", "") \
    .str.replace(" a ", " ") \
    .str.replace(" on", "") \
    .str.replace(" and", "") \
    .str.replace(" or", "") \
    .str.replace(" of", "") \
    .str.replace(" with", "") \
    .str.replace(" the", "") \
    .str.replace(" from", "") \
    .str.replace(" in", "") \
    .str.replace(" his", "") \
    .str.replace(" her", "") \
    .str.replace(" to", "") \
    .str.replace(" &", "") \
    .str.replace(" /", "") \
    .str.replace("Freediving", "Free diving") \
    .str.capitalize() \
    .str.strip() \
    .apply(lambda x: " ".join(x.split(" ")[:3:])) \
    .str.strip()

print(sharks_df.info())

print(sharks_df.activity.value_counts())

sharks_df

<class 'pandas.core.frame.DataFrame'>
Index: 5534 entries, 0 to 6932
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            5534 non-null   datetime64[ns]
 1   year            5534 non-null   int32
 2   type            5534 non-null   object
 3   country         5534 non-null   object
 4   state           5534 non-null   object
 5   location        5534 non-null   object
 6   activity        5534 non-null   object
 7   name            5422 non-null   object
 8   sex             5204 non-null   object
 9   age             3587 non-null   object
 10  injury          5521 non-null   object
 11  unnamed:_11     5167 non-null   object
 12  time            3207 non-null   object
 13  species_        3223 non-null   object
 14  source          5523 non-null   object
 15  pdf             5403 non-null   object
 16  href_formula    5399 non-null   object
 17  href            5400 non-null   object
 18  case_number     5402 non-null   object
 19  case_number.1   5401 non-null   object
 20  original_order  5403 non-null   float64
 21  unnamed:_21     1 non-null      object
 22  unnamed:_22     2 non-null      object
 23  month           5534 non-null   int32
dtypes: datetime64[ns](1), float64(1), int32(2), object(20)
memory usage: 1.0+ MB
None
activity
Surfing                        1082
Swimming                        916
Fishing                         441
Spearfishing                    315
Wading                          158
                               ...
Boat ship josephine               1
Swimming alongside schooner       1
Wreck aphrodite                   1
Dragging shark                    1
Bathing/swimming                  1
Name: count, Length: 1202, dtype: int64

,date,year,type,country,state,location,activity,name,sex,age,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024,Unprovoked,AUSTRALIA,QUEENSLAND,BARGARA BEACH,Swimming,Brooklyn Sauer,F,13,...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024,Unprovoked,USA,HAWAII,"OLD MAN'S, WAIKIKI",Surfing,Matthew White,M,NaN,...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024,Unprovoked,USA,HAWAII,"RAINBOWS, OAHU",Swimming,NaN,F,11,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,2024-02-14,2024,Unprovoked,INDIA,MAHARASHTRA,"VAITARNA RIVER, PALGHAR DISTRICT",Fishing,Vicky Suresh Govari,M,32,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
5,2024-02-04,2024,provoked,TRINIDAD,FLORIDA,Indefined,Spearfishing,male,M,NaN,...,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6794,1703-03-26,1703,Unprovoked,BARBADOS,SOUTHWEST COAST,CARLISLE BAY,Swimming,"Samuel Jennings, a deserter from the British f...",M,19,...,"W.R.Cutter, Vol.1, p.252",1703.03.26-Jennings.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1703.03.26,1703.03.26,149.0,NaN,NaN,3
6888,1959-04-24,1959,Unprovoked,BERMUDA,PAGET,PAGET PARISH,Spearfishing,Ross Doe,M,NaN,...,Mentioned in letter from L. S. Mowbray dated 4...,ND-0059-RossDoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0059,ND.0059,57.0,NaN,NaN,4
6930,1916-07-17,1916,Unprovoked,USA,NORTH CAROLINA,SOMEWHERE BETWEEN HATTERAS AND BEAUFORT,Swimming,"""youthful male""",M,NaN,...,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0,NaN,NaN,7
6931,1913-07-19,1913,Unprovoked,SOUTH AFRICA,KWAZULU-NATAL,DURBAN,Fishing,a native fisherman,M,NaN,...,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14.0,NaN,NaN,7
6932,1913-07-19,1913,Unprovoked,SOUTH AFRICA,KWAZULU-NATAL,DURBAN,Wading,a young Scotsman,M,NaN,...,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13.0,NaN,NaN,7

In [937]:
aggregated_activities = sharks_df["activity"] \
    .value_counts().head(30)

print_with_hist(aggregated_activities)

MAX -> Surfing  1082             |  ******************************************************************************************
       Swimming  916             |  ****************************************************************************
       Fishing  441              |  ************************************
       Spearfishing  315         |  **************************
       Wading  158               |  *************
       Bathing  139              |  ***********
       Snorkeling  122           |  **********
       Standing  104             |  ********
       Diving  103               |  ********
       Scuba diving  91          |  *******
       Body boarding  70         |  *****
       Boogie boarding  57       |  ****
       Body surfing  50          |  ****
       Kayaking  41              |  ***
       Free diving  40           |  ***
       Treading water  29        |  **
       Fell overboard  24        |  **
       Pearl diving  23          |  *
       Surf skiing  23           |  *
       Windsurfing  18           |  *
       Kayak fishing  16         |  *
       Walking  16               |  *
       Floating  15              |  *
       Shark fishing  14         |  *
       Canoeing  14              |  *
       Playing  14               |  *
MIN -> Rowing  13                |  *
MIN -> Sea disaster  13          |  *
MIN -> Surf fishing  13          |  *
MIN -> Free diving abalone  13   |  *

In [938]:
#Column: name

sharks_df.drop('name', axis=1, inplace=True)

#Deleted this column.

In [939]:
#Column: name

sharks_df

#Data Frame after deleting this column

,date,year,type,country,state,location,activity,sex,age,injury,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024,Unprovoked,AUSTRALIA,QUEENSLAND,BARGARA BEACH,Swimming,F,13,"Minor injuries to back, abdomen and legs",...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024,Unprovoked,USA,HAWAII,"OLD MAN'S, WAIKIKI",Surfing,M,NaN,"No injury, shark bit surfboard",...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024,Unprovoked,USA,HAWAII,"RAINBOWS, OAHU",Swimming,F,11,Lacerations to left foot,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,2024-02-14,2024,Unprovoked,INDIA,MAHARASHTRA,"VAITARNA RIVER, PALGHAR DISTRICT",Fishing,M,32,Calf of lower left leg injured,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
5,2024-02-04,2024,provoked,TRINIDAD,FLORIDA,Indefined,Spearfishing,M,NaN,Shoulder bitten,...,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6794,1703-03-26,1703,Unprovoked,BARBADOS,SOUTHWEST COAST,CARLISLE BAY,Swimming,M,19,"Hand and foot severely bitten, surgically ampu...",...,"W.R.Cutter, Vol.1, p.252",1703.03.26-Jennings.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1703.03.26,1703.03.26,149.0,NaN,NaN,3
6888,1959-04-24,1959,Unprovoked,BERMUDA,PAGET,PAGET PARISH,Spearfishing,M,NaN,Shoulder abraded by skin of shark,...,Mentioned in letter from L. S. Mowbray dated 4...,ND-0059-RossDoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0059,ND.0059,57.0,NaN,NaN,4
6930,1916-07-17,1916,Unprovoked,USA,NORTH CAROLINA,SOMEWHERE BETWEEN HATTERAS AND BEAUFORT,Swimming,M,NaN,"""Lost leg""",...,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0,NaN,NaN,7
6931,1913-07-19,1913,Unprovoked,SOUTH AFRICA,KWAZULU-NATAL,DURBAN,Fishing,M,NaN,"FATAL, body not recovered but shark was caught...",...,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14.0,NaN,NaN,7
6932,1913-07-19,1913,Unprovoked,SOUTH AFRICA,KWAZULU-NATAL,DURBAN,Wading,M,NaN,"FATAL, leg stripped of flesh",...,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13.0,NaN,NaN,7

In [940]:
#Column: injury

sharks_df.drop('injury', axis=1, inplace=True)

#Deleted this column.

In [941]:
#Column: injury

sharks_df

#Data Frame after deleting this column

,date,year,type,country,state,location,activity,sex,age,unnamed:_11,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024,Unprovoked,AUSTRALIA,QUEENSLAND,BARGARA BEACH,Swimming,F,13,NaN,...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024,Unprovoked,USA,HAWAII,"OLD MAN'S, WAIKIKI",Surfing,M,NaN,N,...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024,Unprovoked,USA,HAWAII,"RAINBOWS, OAHU",Swimming,F,11,N,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,2024-02-14,2024,Unprovoked,INDIA,MAHARASHTRA,"VAITARNA RIVER, PALGHAR DISTRICT",Fishing,M,32,N,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
5,2024-02-04,2024,provoked,TRINIDAD,FLORIDA,Indefined,Spearfishing,M,NaN,N,...,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6794,1703-03-26,1703,Unprovoked,BARBADOS,SOUTHWEST COAST,CARLISLE BAY,Swimming,M,19,N,...,"W.R.Cutter, Vol.1, p.252",1703.03.26-Jennings.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1703.03.26,1703.03.26,149.0,NaN,NaN,3
6888,1959-04-24,1959,Unprovoked,BERMUDA,PAGET,PAGET PARISH,Spearfishing,M,NaN,N,...,Mentioned in letter from L. S. Mowbray dated 4...,ND-0059-RossDoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0059,ND.0059,57.0,NaN,NaN,4
6930,1916-07-17,1916,Unprovoked,USA,NORTH CAROLINA,SOMEWHERE BETWEEN HATTERAS AND BEAUFORT,Swimming,M,NaN,N,...,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0,NaN,NaN,7
6931,1913-07-19,1913,Unprovoked,SOUTH AFRICA,KWAZULU-NATAL,DURBAN,Fishing,M,NaN,Y,...,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14.0,NaN,NaN,7
6932,1913-07-19,1913,Unprovoked,SOUTH AFRICA,KWAZULU-NATAL,DURBAN,Wading,M,NaN,Y,...,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13.0,NaN,NaN,7

In [942]:
#Column: unnamed:_11

sharks_df.drop('unnamed:_11', axis=1, inplace=True)

#Deleted this column.

In [943]:
#Column: unnamed:_11

sharks_df

#Data Frame after deleting this column

,date,year,type,country,state,location,activity,sex,age,time,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024,Unprovoked,AUSTRALIA,QUEENSLAND,BARGARA BEACH,Swimming,F,13,16h00,...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024,Unprovoked,USA,HAWAII,"OLD MAN'S, WAIKIKI",Surfing,M,NaN,NaN,...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024,Unprovoked,USA,HAWAII,"RAINBOWS, OAHU",Swimming,F,11,13h30,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,2024-02-14,2024,Unprovoked,INDIA,MAHARASHTRA,"VAITARNA RIVER, PALGHAR DISTRICT",Fishing,M,32,NaN,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
5,2024-02-04,2024,provoked,TRINIDAD,FLORIDA,Indefined,Spearfishing,M,NaN,06h30,...,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6794,1703-03-26,1703,Unprovoked,BARBADOS,SOUTHWEST COAST,CARLISLE BAY,Swimming,M,19,Night,...,"W.R.Cutter, Vol.1, p.252",1703.03.26-Jennings.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1703.03.26,1703.03.26,149.0,NaN,NaN,3
6888,1959-04-24,1959,Unprovoked,BERMUDA,PAGET,PAGET PARISH,Spearfishing,M,NaN,NaN,...,Mentioned in letter from L. S. Mowbray dated 4...,ND-0059-RossDoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0059,ND.0059,57.0,NaN,NaN,4
6930,1916-07-17,1916,Unprovoked,USA,NORTH CAROLINA,SOMEWHERE BETWEEN HATTERAS AND BEAUFORT,Swimming,M,NaN,NaN,...,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0,NaN,NaN,7
6931,1913-07-19,1913,Unprovoked,SOUTH AFRICA,KWAZULU-NATAL,DURBAN,Fishing,M,NaN,NaN,...,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14.0,NaN,NaN,7
6932,1913-07-19,1913,Unprovoked,SOUTH AFRICA,KWAZULU-NATAL,DURBAN,Wading,M,NaN,NaN,...,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13.0,NaN,NaN,7

In [944]:
#Column: sex

sharks_df["sex"].replace(' M','M', inplace=True)        
sharks_df["sex"].replace('M ','M', inplace=True)
sharks_df["sex"].replace('M x 2','M', inplace=True)
sharks_df["sex"].replace('N','M', inplace=True) 
sharks_df["sex"].replace('lli','M', inplace=True) 
sharks_df["sex"].replace('.','M', inplace=True) 
sharks_df['sex'].fillna(sharks_df['sex'].mode()[0], inplace=True)


sharks_df["sex"].unique()

array(['F', 'M'], dtype=object)

In [945]:
#Column: sex

sharks_df.loc[sharks_df["sex"] == 'lli']

Empty DataFrame
Columns: [date, year, type, country, state, location, activity, sex, age, time, species_, source, pdf, href_formula, href, case_number, case_number.1, original_order, unnamed:_21, unnamed:_22, month]
Index: []

[0 rows x 21 columns]

In [946]:
#Column: sex

sharks_df.loc[sharks_df["sex"] == '.']

Empty DataFrame
Columns: [date, year, type, country, state, location, activity, sex, age, time, species_, source, pdf, href_formula, href, case_number, case_number.1, original_order, unnamed:_21, unnamed:_22, month]
Index: []

[0 rows x 21 columns]

In [993]:
sharks_df

,date,year,type,country,state,location,activity,sex,age,time,...,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22,month
0,2024-03-15,2024,Unprovoked,AUSTRALIA,QUEENSLAND,BARGARA BEACH,Swimming,F,13,16h00,...,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
1,2024-03-04,2024,Unprovoked,USA,HAWAII,"OLD MAN'S, WAIKIKI",Surfing,M,NaN,NaN,...,"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,2024-03-02,2024,Unprovoked,USA,HAWAII,"RAINBOWS, OAHU",Swimming,F,11,13h30,...,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
4,2024-02-14,2024,Unprovoked,INDIA,MAHARASHTRA,"VAITARNA RIVER, PALGHAR DISTRICT",Fishing,M,32,NaN,...,"Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
5,2024-02-04,2024,provoked,TRINIDAD,FLORIDA,Indefined,Spearfishing,M,NaN,06h30,...,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6794,1703-03-26,1703,Unprovoked,BARBADOS,SOUTHWEST COAST,CARLISLE BAY,Swimming,M,19,Night,...,"W.R.Cutter, Vol.1, p.252",1703.03.26-Jennings.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1703.03.26,1703.03.26,149.0,NaN,NaN,3
6888,1959-04-24,1959,Unprovoked,BERMUDA,PAGET,PAGET PARISH,Spearfishing,M,NaN,NaN,...,Mentioned in letter from L. S. Mowbray dated 4...,ND-0059-RossDoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0059,ND.0059,57.0,NaN,NaN,4
6930,1916-07-17,1916,Unprovoked,USA,NORTH CAROLINA,SOMEWHERE BETWEEN HATTERAS AND BEAUFORT,Swimming,M,NaN,NaN,...,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0014,ND.0014,15.0,NaN,NaN,7
6931,1913-07-19,1913,Unprovoked,SOUTH AFRICA,KWAZULU-NATAL,DURBAN,Fishing,M,NaN,NaN,...,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0013,ND.0013,14.0,NaN,NaN,7
6932,1913-07-19,1913,Unprovoked,SOUTH AFRICA,KWAZULU-NATAL,DURBAN,Wading,M,NaN,NaN,...,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0012,ND.0012,13.0,NaN,NaN,7

______________________________________________________________________________
______________________________________________________________________________
______________________________________________________________________________
______________________________________________________________________________
______________________________________________________________________________

In [191]:
print(sharks_df.isna().sum())

Date                25
Year                27
Type                43
Country             75
State              507
Location           590
Activity           611
Name               245
Sex                604
Age               3019
Injury              60
Unnamed: 11        587
Time              3551
Species           3157
Source              44
pdf                170
href formula       150
href               173
Case Number        171
Case Number.1      172
original order     170
Unnamed: 21       6968
Unnamed: 22       6967
dtype: int64

In [192]:
sharks_df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [193]:
sharks_df["original order"] = sharks_df["original order"].apply(lambda x : int(x) if x == str or x == float else x)

In [194]:
sharks_df.dtypes

Date               object
Year              float64
Type               object
Country            object
State              object
Location           object
Activity           object
Name               object
Sex                object
Age                object
Injury             object
Unnamed: 11        object
Time               object
Species            object
Source             object
pdf                object
href formula       object
href               object
Case Number        object
Case Number.1      object
original order    float64
Unnamed: 21        object
Unnamed: 22        object
dtype: object

In [195]:
sharks_df.drop('Unnamed: 11', axis=1, inplace=True)
sharks_df.drop('pdf', axis=1, inplace=True)
sharks_df.drop('href formula', axis=1, inplace=True)
sharks_df.drop('href', axis=1, inplace=True)
sharks_df.drop('Unnamed: 21', axis=1, inplace=True)
sharks_df.drop('Unnamed: 22', axis=1, inplace=True)

In [196]:
sharks_df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Time,Species,Source,Case Number,Case Number.1,original order
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,"Minor injuries to back, abdomen and legs",16h00,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",NaN,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,Lacerations to left foot,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,Leg bitten,11h30,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,NaN,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [211]:
sharks_df.isnull().sum().sort_values()
sharks_df.dropna(subset=['Year'], inplace=True)
sharks_df['Year'] = sharks_df['Year'].astype(int)

In [213]:
sharks_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6942 entries, 0 to 6943
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            6942 non-null   object
 1   Year            6942 non-null   int64
 2   Type            6924 non-null   object
 3   Country         6892 non-null   object
 4   State           6460 non-null   object
 5   Location        6378 non-null   object
 6   Activity        6356 non-null   object
 7   Name            6722 non-null   object
 8   Sex             6363 non-null   object
 9   Age             3949 non-null   object
 10  Injury          6907 non-null   object
 11  Time            3418 non-null   object
 12  Species         3811 non-null   object
 13  Source          6923 non-null   object
 14  Case Number     6796 non-null   object
 15  Case Number.1   6795 non-null   object
 16  original order  6797 non-null   float64
dtypes: float64(1), int64(1), object(15)
memory usage: 976.2+ KB

In [120]:
sharks_df["Year"] = sharks_df["Year"].apply(lambda x : int(x) if x == str or x == float else x) 
#Changed year to int

In [122]:
sharks_df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Time,Species,Source,Case Number,Case Number.1,original order
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,"Minor injuries to back, abdomen and legs",16h00,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",NaN,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,Lacerations to left foot,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,Leg bitten,11h30,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,NaN,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [124]:
sharks_df.dropna(subset=['Year'])

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Time,Species,Source,Case Number,Case Number.1,original order
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,"Minor injuries to back, abdomen and legs",16h00,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",NaN,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,Lacerations to left foot,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,Leg bitten,11h30,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,NaN,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6939,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND.0005,ND.0005,6.0
6940,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND.0004,ND.0004,5.0
6941,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND.0003,ND.0003,4.0
6942,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,NaN,NaN,"The Sun, 10/20/1938",ND.0002,ND.0002,3.0
6943,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",NaN,NaN,S.W. Baker,ND.0001,ND.0001,2.0

In [126]:
sharks_df.dropna(subset=['Date'])

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Time,Species,Source,Case Number,Case Number.1,original order
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,"Minor injuries to back, abdomen and legs",16h00,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",NaN,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,Lacerations to left foot,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,Leg bitten,11h30,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,NaN,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6939,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND.0005,ND.0005,6.0
6940,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND.0004,ND.0004,5.0
6941,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND.0003,ND.0003,4.0
6942,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,NaN,NaN,"The Sun, 10/20/1938",ND.0002,ND.0002,3.0
6943,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",NaN,NaN,S.W. Baker,ND.0001,ND.0001,2.0

In [128]:
sharks_df = sharks_df.dropna(how = 'all')

In [130]:
sharks_df.dtypes

Date               object
Year              float64
Type               object
Country            object
State              object
Location           object
Activity           object
Name               object
Sex                object
Age                object
Injury             object
Time               object
Species            object
Source             object
Case Number        object
Case Number.1      object
original order    float64
dtype: object

In [132]:
sharks_df["Year"].info()

<class 'pandas.core.series.Series'>
Index: 6944 entries, 0 to 6943
Series name: Year
Non-Null Count  Dtype
--------------  -----
6942 non-null   float64
dtypes: float64(1)
memory usage: 108.5 KB

In [134]:
sharks_df["Year"].unique()

array([2024., 2023., 2022., 2021., 2020., 2019., 2018., 2017.,   nan,
       2016., 2015., 2014., 2013., 2012., 2011., 2010., 2009., 2008.,
       2007., 2006., 2005., 2004., 2003., 2002., 2001., 2000., 1999.,
       1998., 1997., 1996., 1995., 1984., 1994., 1993., 1992., 1991.,
       1990., 1989., 1969., 1988., 1987., 1986., 1985., 1983., 1982.,
       1981., 1980., 1979., 1978., 1977., 1976., 1975., 1974., 1973.,
       1972., 1971., 1970., 1968., 1967., 1966., 1965., 1964., 1963.,
       1962., 1961., 1960., 1959., 1958., 1957., 1956., 1955., 1954.,
       1953., 1952., 1951., 1950., 1949., 1948., 1848., 1947., 1946.,
       1945., 1944., 1943., 1942., 1941., 1940., 1939., 1938., 1937.,
       1936., 1935., 1934., 1933., 1932., 1931., 1930., 1929., 1928.,
       1927., 1926., 1925., 1924., 1923., 1922., 1921., 1920., 1919.,
       1918., 1917., 1916., 1915., 1914., 1913., 1912., 1911., 1910.,
       1909., 1908., 1907., 1906., 1905., 1904., 1903., 1902., 1901.,
       1900., 1899., 1898., 1897., 1896., 1895., 1894., 1893., 1892.,
       1891., 1890., 1889., 1888., 1887., 1886., 1885., 1884., 1883.,
       1882., 1881., 1880., 1879., 1878., 1877., 1876., 1875., 1874.,
       1873., 1872., 1871., 1870., 1869., 1868., 1867., 1866., 1865.,
       1864., 1863., 1862., 1861., 1860., 1859., 1858., 1857., 1856.,
       1855., 1853., 1852., 1851., 1850., 1849., 1847., 1846., 1845.,
       1844., 1842., 1841., 1840., 1839., 1837., 1836., 1835., 1834.,
       1832., 1831., 1830., 1829., 1828., 1827., 1826., 1825., 1823.,
       1822., 1819., 1818., 1817., 1816., 1815., 1812., 1811., 1810.,
       1808., 1807., 1805., 1804., 1803., 1802., 1801., 1800., 1797.,
       1792., 1791., 1788., 1787., 1786., 1785., 1784., 1783., 1780.,
       1779., 1776., 1771., 1767., 1764., 1758., 1753., 1751., 1749.,
       1755., 1748., 1742., 1738., 1733., 1723., 1721., 1703., 1700.,
       1642., 1691., 1640., 1638., 1637., 1617., 1595., 1580., 1555.,
       1554., 1543., 1518., 1500., 1000.,   77.,    5.,    0.])

In [136]:
sharks_df["Year"].value_counts()

Year
2015.0    143
2017.0    139
2016.0    131
0.0       129
2011.0    128
         ...
1753.0      1
1807.0      1
1805.0      1
1804.0      1
1758.0      1
Name: count, Length: 259, dtype: int64

In [138]:
sharks_df["Year"] = sharks_df["Year"].apply(lambda x : int(x)  if x == float or x == str else x)

/var/folders/1_/fmystfg15lbf3t1n1mmy4psw0000gn/T/ipykernel_53756/191627599.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks_df["Year"] = sharks_df["Year"].apply(lambda x : int(x)  if x == float or x == str else x)

In [140]:
sharks_df.dtypes

Date               object
Year              float64
Type               object
Country            object
State              object
Location           object
Activity           object
Name               object
Sex                object
Age                object
Injury             object
Time               object
Species            object
Source             object
Case Number        object
Case Number.1      object
original order    float64
dtype: object

In [142]:
sharks_df.nunique()

Date              6003
Year               259
Type                12
Country            225
State              902
Location          4514
Activity          1587
Name              5683
Sex                  8
Age                243
Injury            4079
Time               410
Species           1675
Source            5302
Case Number       6777
Case Number.1     6775
original order    6797
dtype: int64

#years = [2024., 2023., 2022., 2021., 2020., 2019., 2018., 2017.,
       2016., 2015., 2014., 2013., 2012., 2011., 2010., 2009., 2008.,
      2007., 2006., 2005., 2004., 2003., 2002., 2001., 2000., 1999.,
      1998., 1997., 1996., 1995., 1984., 1994., 1993., 1992., 1991.,
       1990., 1989., 1969., 1988., 1987., 1986., 1985., 1983., 1982.,
       1981., 1980., 1979., 1978., 1977., 1976., 1975., 1974., 1973.,
       1972., 1971., 1970., 1968., 1967., 1966., 1965., 1964., 1963.,
      1962., 1961., 1960., 1959., 1958., 1957., 1956., 1955., 1954.,
       1953., 1952., 1951., 1950., 1949., 1948., 1848., 1947., 1946.,
       1945., 1944., 1943., 1942., 1941., 1940., 1939., 1938., 1937.,
       1936., 1935., 1934., 1933., 1932., 1931., 1930., 1929., 1928.,
       1927., 1926., 1925., 1924., 1923., 1922., 1921., 1920., 1919.,
       1918., 1917., 1916., 1915., 1914., 1913., 1912., 1911., 1910.,
       1909., 1908., 1907., 1906., 1905., 1904., 1903., 1902., 1901.,
       1900., 1899., 1898., 1897., 1896., 1895., 1894., 1893., 1892.,
       1891., 1890., 1889., 1888., 1887., 1886., 1885., 1884., 1883.,
       1882., 1881., 1880., 1879., 1878., 1877., 1876., 1875., 1874.,
       1873., 1872., 1871., 1870., 1869., 1868., 1867., 1866., 1865.,
       1864., 1863., 1862., 1861., 1860., 1859., 1858., 1857., 1856.,
       1855., 1853., 1852., 1851., 1850., 1849., 1847., 1846., 1845.,
       1844., 1842., 1841., 1840., 1839., 1837., 1836., 1835., 1834.,
       1832., 1831., 1830., 1829., 1828., 1827., 1826., 1825., 1823.,
       1822., 1819., 1818., 1817., 1816., 1815., 1812., 1811., 1810.,
       1808., 1807., 1805., 1804., 1803., 1802., 1801., 1800., 1797.,
       1792., 1791., 1788., 1787., 1786., 1785., 1784., 1783., 1780.,
       1779., 1776., 1771., 1767., 1764., 1758., 1753., 1751., 1749.,
       1755., 1748., 1742., 1738., 1733., 1723., 1721., 1703., 1700.,
       1642., 1691., 1640., 1638., 1637., 1617., 1595., 1580., 1555.,
       1554., 1543., 1518., 1500., 1000.,   77.,    5.,    0.]
seq = [0]
for i in years:
    seq += 1
    print(f"{seq}: {i}")

In [145]:
sharks_df_test_2 = sharks_df.query("Year != 0000")

In [147]:
sharks_df_test_2

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Time,Species,Source,Case Number,Case Number.1,original order
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,"Minor injuries to back, abdomen and legs",16h00,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",NaN,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,Lacerations to left foot,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,Leg bitten,11h30,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,NaN,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6810,Ca 1588.04.00,1518.0,Unprovoked,MEXICO,Yucatan,Cozumel,Swmming,A cacique (a chief),M,NaN,Toes severed,NaN,NaN,"C. Moore, GSAF",1518.04.00.R,1518.04.00.R,135.0
6811,Ca 1200-1500 A.D.,1500.0,Unprovoked,MEXICO,NaN,NaN,NaN,male,M,NaN,Foot severed,NaN,NaN,J. Castro,1200.00.00,1200.00.00,134.0
6812,Ca.789-1033 A.D,1000.0,Unprovoked,USA,Puerto Rico,Archeological site,NaN,male,M,29,FATAL,NaN,Tiger shark,P. Seigel,1000.00.00,1000.00.00,133.0
6813,Ca. 77 A.D.,77.0,Unprovoked,NaN,Ionian Sea,NaN,Sponge diving,males,M,NaN,FATAL,NaN,NaN,Perils mentioned by Pliny the Elder (23 A.D. t...,0077.00.00,0077.00.00,132.0
6814,Ca. 5 A.D.,5.0,Unprovoked,AUSTRALIA,New South Wales,Bondi,NaN,male,M,NaN,Aboriginal rock carving depicts man being atta...,NaN,NaN,Waverly Library,5BC-Australia,5BC,131.0

In [149]:
sharks_df_test_2 = sharks_df.query("Year != 0005.0")

In [151]:
sharks_df_test_2

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Time,Species,Source,Case Number,Case Number.1,original order
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,"Minor injuries to back, abdomen and legs",16h00,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",NaN,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,Lacerations to left foot,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,Leg bitten,11h30,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,NaN,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6939,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND.0005,ND.0005,6.0
6940,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND.0004,ND.0004,5.0
6941,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND.0003,ND.0003,4.0
6942,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,NaN,NaN,"The Sun, 10/20/1938",ND.0002,ND.0002,3.0
6943,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",NaN,NaN,S.W. Baker,ND.0001,ND.0001,2.0

In [167]:
sharks_df_test = sharks_df.query("Year != 0000")

In [169]:
sharks_df_test

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Time,Species,Source,Case Number,Case Number.1,original order
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,"Minor injuries to back, abdomen and legs",16h00,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",NaN,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,Lacerations to left foot,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,Leg bitten,11h30,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,NaN,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6810,Ca 1588.04.00,1518.0,Unprovoked,MEXICO,Yucatan,Cozumel,Swmming,A cacique (a chief),M,NaN,Toes severed,NaN,NaN,"C. Moore, GSAF",1518.04.00.R,1518.04.00.R,135.0
6811,Ca 1200-1500 A.D.,1500.0,Unprovoked,MEXICO,NaN,NaN,NaN,male,M,NaN,Foot severed,NaN,NaN,J. Castro,1200.00.00,1200.00.00,134.0
6812,Ca.789-1033 A.D,1000.0,Unprovoked,USA,Puerto Rico,Archeological site,NaN,male,M,29,FATAL,NaN,Tiger shark,P. Seigel,1000.00.00,1000.00.00,133.0
6813,Ca. 77 A.D.,77.0,Unprovoked,NaN,Ionian Sea,NaN,Sponge diving,males,M,NaN,FATAL,NaN,NaN,Perils mentioned by Pliny the Elder (23 A.D. t...,0077.00.00,0077.00.00,132.0
6814,Ca. 5 A.D.,5.0,Unprovoked,AUSTRALIA,New South Wales,Bondi,NaN,male,M,NaN,Aboriginal rock carving depicts man being atta...,NaN,NaN,Waverly Library,5BC-Australia,5BC,131.0

In [157]:
sharks_df_filter = sharks_df[sharks_df["Year"].apply(lambda x: isinstance(x, int))]

In [159]:
sharks_df_filter.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            0 non-null      object
 1   Year            0 non-null      float64
 2   Type            0 non-null      object
 3   Country         0 non-null      object
 4   State           0 non-null      object
 5   Location        0 non-null      object
 6   Activity        0 non-null      object
 7   Name            0 non-null      object
 8   Sex             0 non-null      object
 9   Age             0 non-null      object
 10  Injury          0 non-null      object
 11  Time            0 non-null      object
 12  Species         0 non-null      object
 13  Source          0 non-null      object
 14  Case Number     0 non-null      object
 15  Case Number.1   0 non-null      object
 16  original order  0 non-null      float64
dtypes: float64(2), object(15)
memory usage: 0.0+ bytes

In [183]:
sharks_float = Year.apply(lambda x: isinstance(x, float))

NameError: name 'Year' is not defined

In [181]:
values = sharks_df["sharks_float"]

KeyError: 'sharks_float'

RangeIndex: 6969 entries, 0 to 6968
Data columns (total 23 columns):
  #  Day 1: Some insights and hypothesis about data types and possible clean-up
  
 #   Column          Non-Null Count  Dtype  

 !!! Null in every column (Serie)!!! Check them ALL :P
 *!!!Clean White spaces in Columns too (ex."Species "
---  ------          --------------  -----  
* 0   Date            6944 non-null   object   !Should be Type:Date?; We need to clean it (same format) ; Split the dates dd / mm / yy in other Series (add them!); Take a look on the most common format

* 1   Year            6942 non-null   float64  !Integer; Check that Year                                                == Date(Year)

 2   Type            6926 non-null   object !Type of Attack: Should be Categorized.

* 3   Country         6894 non-null   object !Clean countries (Spelling, lower and uppers, delete white spaces...)

* 4   State           6462 non-null   object !Clean countries (Spelling, lower and uppers, delete white spaces...)

* 5   Location        6379 non-null   object !Clean countries (Spelling, lower and uppers, delete white spaces...)

 6   Activity        6358 non-null   object !Reclasification ?How (1st idea in smaller groups with a % of similar words)

** 7   Name            6724 non-null   object !Clean countries (Spelling, lower and uppers, delete white spaces...) ; Take a look and check that the name is not repeated (ex. in class: Pepa Pig)

* 8   Sex             6365 non-null   object  !Clean ; only 2 or 3

* 9   Age             3950 non-null   object ! Should be an Integer

 10  Injury          6909 non-null   object !Wound_Reclasification ?How (1st idea in smaller groups with a % of similar words)

** 11  Unnamed: 11     6382 non-null   object !to delete

* 12  Time            3418 non-null   object !Should be Type:Date; We need to clean it (same format)

 13  Species         3812 non-null   object !Reclasification ?How (1st idea in smaller groups with a % of similar words)

 14  Source          6925 non-null   object ! for the Info_ Reclasification ?How (1st idea in smaller groups with a % of similar words) // Separate the Source from the date of the source

* 15  pdf             6799 non-null   object ?Do we need PDF if not bye bye!

* 16  href formula    6819 non-null   object !Unknown data; Hypothesis to erase!

* 17  href            6796 non-null   object !pdfs refering to the same file; Hypothesis: almost sure that we have to erase them!

* 18  Case Number     6798 non-null   object !some dates; Hypothesis: almost sure that we have to erase them!

* 19  Case Number.1   6797 non-null   object !some dates; Hypothesis: almost sure that we have to erase them!

* 20  original order  6799 non-null   float64 !float; Hypothesis: almost sure that we have to erase them!

* 21  Unnamed: 21     1 non-null      object !to delete

* 22  Unnamed: 22     2 non-null      object !to delete
dtypes: float64(2), object(21)

#For the presentation:
First approach after download the data and imported to Pandas:

In [35]:
for column in sharks_df.columns: #Take a look in all the columns/Series: unique values
    unique_values = sharks_df[column].unique()
    print(f"Valores únicos en la columna {column}: {unique_values}")
    print("")
    print("")

Valores únicos en la columna Date: ['15 Mar 2024' '04 Mar 2024' '02 Mar-2024' ... '1900-1905' '1883-1889'
 '1845-1853']


Valores únicos en la columna Year: [2024. 2023. 2022. 2021. 2020. 2019. 2018. 2017.   nan 2016. 2015. 2014.
 2013. 2012. 2011. 2010. 2009. 2008. 2007. 2006. 2005. 2004. 2003. 2002.
 2001. 2000. 1999. 1998. 1997. 1996. 1995. 1984. 1994. 1993. 1992. 1991.
 1990. 1989. 1969. 1988. 1987. 1986. 1985. 1983. 1982. 1981. 1980. 1979.
 1978. 1977. 1976. 1975. 1974. 1973. 1972. 1971. 1970. 1968. 1967. 1966.
 1965. 1964. 1963. 1962. 1961. 1960. 1959. 1958. 1957. 1956. 1955. 1954.
 1953. 1952. 1951. 1950. 1949. 1948. 1848. 1947. 1946. 1945. 1944. 1943.
 1942. 1941. 1940. 1939. 1938. 1937. 1936. 1935. 1934. 1933. 1932. 1931.
 1930. 1929. 1928. 1927. 1926. 1925. 1924. 1923. 1922. 1921. 1920. 1919.
 1918. 1917. 1916. 1915. 1914. 1913. 1912. 1911. 1910. 1909. 1908. 1907.
 1906. 1905. 1904. 1903. 1902. 1901. 1900. 1899. 1898. 1897. 1896. 1895.
 1894. 1893. 1892. 1891. 1890. 1889. 1888. 1887. 1886. 1885. 1884. 1883.
 1882. 1881. 1880. 1879. 1878. 1877. 1876. 1875. 1874. 1873. 1872. 1871.
 1870. 1869. 1868. 1867. 1866. 1865. 1864. 1863. 1862. 1861. 1860. 1859.
 1858. 1857. 1856. 1855. 1853. 1852. 1851. 1850. 1849. 1847. 1846. 1845.
 1844. 1842. 1841. 1840. 1839. 1837. 1836. 1835. 1834. 1832. 1831. 1830.
 1829. 1828. 1827. 1826. 1825. 1823. 1822. 1819. 1818. 1817. 1816. 1815.
 1812. 1811. 1810. 1808. 1807. 1805. 1804. 1803. 1802. 1801. 1800. 1797.
 1792. 1791. 1788. 1787. 1786. 1785. 1784. 1783. 1780. 1779. 1776. 1771.
 1767. 1764. 1758. 1753. 1751. 1749. 1755. 1748. 1742. 1738. 1733. 1723.
 1721. 1703. 1700. 1642. 1691. 1640. 1638. 1637. 1617. 1595. 1580. 1555.
 1554. 1543. 1518. 1500. 1000.   77.    5.    0.]


Valores únicos en la columna Type: ['Unprovoked' ' Provoked' 'Provoked' 'Questionable' 'Watercraft'
 'Sea Disaster' nan '?' 'Unconfirmed' 'Unverified' 'Invalid'
 'Under investigation' 'Boat']


Valores únicos en la columna Country: ['AUSTRALIA' 'USA' 'INDIA' 'TRINIDAD' 'BAHAMAS' 'SOUTH AFRICA' 'MEXICO'
 'NEW ZEALAND' 'EGYPT' 'Mexico' 'BELIZE' 'PHILIPPINES' 'Coral Sea' 'SPAIN'
 'PORTUGAL' 'SAMOA' 'COLOMBIA' 'ECUADOR' 'FRENCH POLYNESIA'
 'NEW CALEDONIA' 'TURKS and CaICOS' 'CUBA' 'BRAZIL' 'SEYCHELLES'
 'ARGENTINA' 'FIJI' 'MeXICO' 'Maldives' 'South Africa' 'ENGLAND' 'JAPAN'
 'INDONESIA' 'JAMAICA' 'MALDIVES' 'THAILAND' 'COLUMBIA' 'COSTA RICA'
 'New Zealand' 'British Overseas Territory' 'CANADA' 'JORDAN'
 'ST KITTS / NEVIS' 'ST MARTIN' 'PAPUA NEW GUINEA' 'REUNION ISLAND'
 'ISRAEL' 'CHINA' 'IRELAND' 'ITALY' 'MALAYSIA' 'LIBYA' nan 'MAURITIUS'
 'SOLOMON ISLANDS' 'ST HELENA, British overseas territory' 'COMOROS'
 'REUNION' 'UNITED KINGDOM' 'UNITED ARAB EMIRATES' 'CAPE VERDE' 'Fiji'
 'DOMINICAN REPUBLIC' 'CAYMAN ISLANDS' 'ARUBA' 'MOZAMBIQUE' 'PUERTO RICO'
 'ATLANTIC OCEAN' 'GREECE' 'ST. MARTIN' 'FRANCE' 'TRINIDAD & TOBAGO'
 'KIRIBATI' 'DIEGO GARCIA' 'TAIWAN' 'PALESTINIAN TERRITORIES' 'GUAM'
 'NIGERIA' 'TONGA' 'SCOTLAND' 'CROATIA' 'SAUDI ARABIA' 'CHILE' 'ANTIGUA'
 'KENYA' 'RUSSIA' 'TURKS & CAICOS' 'UNITED ARAB EMIRATES (UAE)' 'AZORES'
 'SOUTH KOREA' 'MALTA' 'VIETNAM' 'MADAGASCAR' 'PANAMA' 'SOMALIA' 'NEVIS'
 'BRITISH VIRGIN ISLANDS' 'NORWAY' 'SENEGAL' 'YEMEN' 'GULF OF ADEN'
 'Sierra Leone' 'ST. MAARTIN' 'GRAND CAYMAN' 'Seychelles' 'LIBERIA'
 'VANUATU' 'MEXICO ' 'HONDURAS' 'VENEZUELA' 'SRI LANKA' ' TONGA' 'URUGUAY'
 'MICRONESIA' 'CARIBBEAN SEA' 'OKINAWA' 'TANZANIA' 'MARSHALL ISLANDS'
 'EGYPT / ISRAEL' 'NORTHERN ARABIAN SEA' 'HONG KONG' 'EL SALVADOR'
 'ANGOLA' 'BERMUDA' 'MONTENEGRO' 'IRAN' 'TUNISIA' 'NAMIBIA'
 'NORTH ATLANTIC OCEAN' 'SOUTH CHINA SEA' 'BANGLADESH' 'PALAU'
 'WESTERN SAMOA' 'PACIFIC OCEAN ' 'BRITISH ISLES' 'GRENADA' 'IRAQ'
 'TURKEY' 'SINGAPORE' 'NEW BRITAIN' 'SUDAN' 'JOHNSTON ISLAND'
 'SOUTH PACIFIC OCEAN' 'NEW GUINEA' 'RED SEA' 'NORTH PACIFIC OCEAN'
 'FEDERATED STATES OF MICRONESIA' 'MID ATLANTIC OCEAN' 'ADMIRALTY ISLANDS'
 'BRITISH WEST INDIES' 'SOUTH ATLANTIC OCEAN' 'PERSIAN GULF'
 'RED SEA / INDIAN OCEAN' 'PACIFIC OCEAN' 'NORTH SEA' 'NICARAGUA '
 'MALDIVE ISLANDS' 'AMERICAN SAMOA' 'ANDAMAN / NICOBAR ISLANDAS' 'GABON'
 'MAYOTTE' 'NORTH ATLANTIC OCEAN ' 'THE BALKANS' 'SUDAN?' 'MARTINIQUE'
 'INDIAN OCEAN' 'GUATEMALA' 'NETHERLANDS ANTILLES'
 'NORTHERN MARIANA ISLANDS' 'IRAN / IRAQ' 'JAVA' 'SIERRA LEONE'
 ' PHILIPPINES' 'NICARAGUA' 'CENTRAL PACIFIC' 'SOLOMON ISLANDS / VANUATU'
 'SOUTHWEST PACIFIC OCEAN' 'BAY OF BENGAL' 'MID-PACIFC OCEAN' 'SLOVENIA'
 'CURACAO' 'ICELAND' 'ITALY / CROATIA' 'BARBADOS' 'MONACO' 'GUYANA'
 'HAITI' 'SAN DOMINGO' 'KUWAIT' 'YEMEN ' 'FALKLAND ISLANDS' 'CRETE'
 'CYPRUS' 'EGYPT ' 'WEST INDIES' 'BURMA' 'LEBANON' 'PARAGUAY'
 'BRITISH NEW GUINEA' 'CEYLON' 'OCEAN' 'GEORGIA' 'SYRIA' 'TUVALU'
 'INDIAN OCEAN?' 'GUINEA' 'ANDAMAN ISLANDS' 'EQUATORIAL GUINEA / CAMEROON'
 'COOK ISLANDS' 'TOBAGO' 'PERU' 'AFRICA' 'ALGERIA' 'Coast of AFRICA'
 'TASMAN SEA' 'GHANA' 'GREENLAND' 'MEDITERRANEAN SEA' 'SWEDEN' 'ROATAN'
 'Between PORTUGAL & INDIA' 'DJIBOUTI' 'BAHREIN' 'KOREA' 'RED SEA?'
 'ASIA?' 'CEYLON (SRI LANKA)']


Valores únicos en la columna State: ['Queensland' 'Hawaii' 'Western Australia' 'Maharashtra' nan
 'New  South Wales' 'Paradise Island' 'South Australia'
 'Eastern Cape Province' 'Sonora' 'New South Wales' 'South Island'
 'Guerrero' 'New Providence   Isoad' 'Jalisco' 'Grand  Bahama Island'
 'Florida' 'Westerm Australia' 'North Island' 'Southern Red Sea'
 'Quintana Roo' 'Belize District' 'California' 'South Carolina'
 'South Sinai' 'Bolinao' 'North Carolina' 'Valencia' 'Norte'
 "Savai'i island" 'New York' 'San Andrés Island' 'Galapagos Islands'
 'Red Sea Protectorate' 'Freeport' 'Tahiti' 'Poum' 'Providenciales Island'
 'Lucayan Lucayan Archipelago' 'New Jersey' 'Mayabeque'
 'Easten Cape Province' 'Artemisa' 'Pernambuco' 'Praslin Island'
 'South Province' 'Patagonia' 'Taveuni Island' 'Gulf of California'
 'Vaavu Atoll' 'KNZ' 'New South ales' 'Samoa' 'Texas' 'Louisiana'
 'Mississippi' 'Western  Australia' 'Victoria' 'Western Cape Province'
 'Cornwall' 'Noirth Carolina' 'Okinawa' 'Bali'
 'Hurghada, Red Sea Governorate' 'Ambergris Cay' 'Bora Bora' 'Georgia'
 'Phuket' 'Alabama' 'KZN' 'Isla De San Andres' 'Guanacoste'
 'KwaZulu-Natal' 'São Paulo.' 'Turks and Caicos' 'Nova Scotia' 'Maryland'
 'Chanthaburi Province' 'BAHAMAS' 'Galapagos' 'Aqaba' 'West Sussex'
 'Nouville' 'Ambergris Key' 'Westmoreland Parish' 'Marquesas'
 'Loyalty Islands' 'Maui' 'The Narrows' 'Raa Atoll' 'Oregon'
 ' Grand Bahama Island' 'Franklin County, Florida' 'Virgin Islands'
 'Tasmania' 'Tuamotu Islands' 'Maine' 'Bahamas' 'Exumas' 'Delaware'
 'Abaco Islands' 'Muang district of Satun province, ' 'Canary Islands'
 'Vanua Levu' 'Southland' 'Phang Nga Province' 'Praslin'
 'Central Province' 'Holquin' 'Moorea' 'Baja ' 'Saint-Gilles' 'Guam'
 'Northern Territory ' 'Cayman Islands' 'Rhode Island' 'Chatham Islands'
 'Quinta Roo' 'Lucayan Archipelago' 'Bélep Islands' 'Noumea'
 'Fernando de Noronha' 'Liaoning Province' 'New South Wales ' 'Upolo'
 'St. Marys Parish' 'Massachusetts' 'County Cork' 'Chieti, Province'
 'Guizhou Province' 'San Andres and Providencia Archipelago'
 'The Exuma Cays' 'Colima' 'Hua Hin' 'Cocos Island' 'Alifu Alifu Atoll'
 'New Providence' 'Alagoas' 'Boi Island, Victoria' 'Sepang'
 'Holquin Province' 'Pamplemousses ' ' Upolu Island' 'Shizuoka Prefecture'
 'Castellón' 'New Providence District' '40 miles off Grand Bahama Island'
 'Ascension Island' 'Majorca' 'Washington' 'Tabasco' 'Anjouan'
 'Ibiza Island' 'South Devon' 'New Providence ' 'Sharjah, '
 'Baja California Sur' 'Saint-Leu' 'Luzon Island' 'Tamaulipas'
 'Saint-Andre' 'Bimini' 'Tuamotos' 'North Province'
 'New Providence Island' 'Alicante Province' 'Hong Kong'
 'Kochi Prefecture' 'Isla Providencia' 'Suez' 'Grand Terre'
 'Boa Vista Island' 'Santa Catarina State' 'Altagracia Province'
 'Grand Cayman' 'Balneário Camboriú' 'Fujairah Emirate'
 'Grand Canary Island' 'Inhambane Province' 'Alicante' 'Guanacaste'
 'Grand Bahama Island' 'Le Port' 'Rangiroa' 'Saint-Gilles-les-Bains'
 'Sardinia' 'Sinaloa' 'Central Tuamotu' 'd’Étang-Salé' 'Granada'
 'Cargados Carajos Shoals (St. Brandon)' 'Catalonia' 'West End'
 'Atsumi peninsula' 'Palmyra Atoll' 'Wallis and Futuna'
 'Baie de Sainte-Marie' 'Society Islands' 'Trinidad' 'Okinawa Prefecture'
 '740 miles SE of Tarawa Atoll' 'Southern District' 'Bay of Biscay'
 'Exuma Islands' 'Saint-Paul' 'Taitung ' 'Kingston Parish'
 'Santa Cruz Island' 'Tuamotus' 'Eleuthera' 'St. Catherine' 'Palawan'
 'Mercury Islands' 'Delta' "Vava'u" 'Inner Hebrides' 'Saint Leu'
 'Trois-Bassins' 'British Colombia' 'Saint-Benoit' 'Tabuk Province'
 'Antofagasta Province' "St John's" 'Santa Elena' 'East New Britain'
 'Bois-Blanc ' 'Moray' 'Puerto Rico' 'Samaná Province' 'Coast Province'
 'Primorsky Krai' 'Peter the Great Bay, Khasan, Primorsky Krai (Far East)'
 'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)' 'Sucre'
 'Middle Caicos' 'Caicos Bank' 'San Andrés archipelago' 'Kedah'
 'Umm al Qaywayan Province' 'Vitu Levu' 'South Sinai Peninsula'
 ' Loyalty Islands' 'Saint Gilles ' 'Virginia' "Ha'api "
 'Western Province' 'Jeju Province' 'Binh Dinh Province'
 'Antsiranana Province' 'Sinai Peninsula' 'Off Vanua Levu' 'Merizo'
 'Rio Grande Do Sul' 'Dubai' 'Torres Strait' 'Eastern Province'
 'Eastern Cape  Province' 'Maputo Province' 'Bocas' 'Fife' 'Devon'
 'Makira-Ulawa Province' 'Mombasa' 'Catalunya' 'St. Johns Reef'
 'Off Green Island' 'North Region' 'Batangas province' 'Strait of Malacca'
 'Guantanamo Province' 'Maranhão' 'Red Sea' 'Batanes Provine' 'Luzon'
 'Northern Territory' ' Split-Dalmatia Count,' 'North Devon'
 'US Virgin Islands' 'San Carlos' 'Cabo San Lucas' 'Sussex' 'Bahia'
 'Easter Ross' 'Guerro' 'Yasawa Islands' 'Northern Bahamas' 'Tokyo Bay'
 'Baja California' 'Green Bay' 'Marovo Lagoon'
 'Territory of Cocos (Keeling) Islands' 'Oslo Fjord' 'Kent' 'Bird Island'
 'Providenciales' 'Bimini Islands' 'Muhafazat Hadramawt' 'Cook islans'
 'Surigao del Norte' 'Between Somalia & Yemen' 'Ambergris Caye'
 'Saint-Pierre' 'Kentucky' 'Andros Islands' 'Western Area'
 '300 miles from Antigua' '800 miles from land'
 '600 nm west of the Canary Islands' 'Simpson Bay' 'East Wall'
 'Inner Islands' 'Shanghai' 'Malampa Province'
 "South Ch'ungch'ong Province" 'Bay Islands' 'New Mexico'
 'Santa Isabel Province' 'Santiago de Cuba Province' 'Camaguey Province'
 'Conservatória District' 'South Carolina ' 'Kuril Islands in the Pacific'
 'Wakayama Prefecture' "Nuku'alofa" 'Saint-Benoît'
 'South Island, near Karitane north of Dunedin' 'Rocha' 'Northlands'
 'Anzoategui' 'Cook Islands' 'Tamil Nadu' 'Pearl Islands' 'Taveuni'
 'Johnston Atoll' 'Baatan' 'Rio de Janeiro' 'Nueva Esparta'
 'North Pacific coast' 'Caroline Islands' 'Cheshire'
 'Louisiade Archipelago'
 'KwaZulu-Natal between Port Edward and Port St Johns'
 'Milne Bay Province' 'Cikobia Island (north of Vanua Levu)'
 'Rayong Province' 'Zamboanga del Sur Province' 'Rio Grande de Norte'
 'Off the western coast of peninsular Malaysia' 'New Brunswick'
 'Miyako Island' 'Alaska' 'Minerva Reef' 'Madang Province'
 'Worcestershire' 'Phang nga Province' 'Alinglaplap Atoll' 'Adriatic Sea'
 'Ralik Chain' 'Grand Baie' "L' Etang Salé-les-Bains" 'Southern Japan'
 'Cap Vert Peninsula' 'Marches region' 'Berry Islands' 'Transvaal' 'Gaza'
 "Grand'Anse" 'Beaufonds' 'Miyako' "L'Etang-Sale" 'Chatham Islands '
 'South Sinai, Gulf of Aqaba' 'Cat Cay' 'Missouri'
 '12 miles off the north coast' 'Saint-Paul '
 'Chatham Islands, east of New  Zealand' 'Saint-Denis' 'Vava’u'
 'Clearwater Bay' 'New Territories' 'Aichi Prefecture' 'Tafea Province'
 'Kagoshima Prefecture' 'Saint-Joseph' 'Banaadir Region' 'La Libertad'
 'Costa Blanca' 'Walkers Cay' 'On the Kowloon penisula, south of Sai Kung'
 'Ehime Prefecture' 'Tongapatu Group' 'West Africa' 'Wakaya Island'
 'North Carolina ' 'Mexico / Caribbean Sea' 'Antarctic Ocean'
 'La Saline-les-Bains' 'Sea of Japan' 'Tavenui' 'Ligurian Sea'
 "L'Etang-Salé" 'Kowloon Peninsula' 'Port Shelter' 'Laucala Island'
 'Sainte-Marie' 'Great Exuma Island' 'Sainte-Suzanne' 'Tuscany'
 'Tyrrhenian Sea' 'New Ireland' 'Valpariso Province' 'Viscayan Sea'
 'Manfredonia ' 'Tokyo Prefecture' 'Saint-Louis' 'Mindoro'
 'Between DR and Puerto Rico' 'Between Honiara & Isabel Island'
 'Florida Straits' 'Gulf of Lyons' 'Cádiz' 'Sicily' 'Andikira Fokithes'
 'Central Philippines' 'Northwest Italy' 'English Channel'
 'North & South Carolina' 'Carolina coast' 'Kumamoto Prefecture' 'Biserta'
 'Saint-Philippe' 'Chungnam' 'Eronogo Region' 'Coquimbo'
 'Pagasitikos Gulf' "St. Mary's Parish" 'Romblon Province'
 'Lamu Archipelago' 'Los Vilos' 'Island of Kos' "Ha'api" 'Madeira Islands'
 'Ho Ha Wan Marine Park' 'Southern Thailand' 'Golfo de Venezia'
 'Ralik Archipelago' 'South China Sea 200 miles from Hong Kong'
 'Reggio Calabria Province' 'Mirs Bay ' 'Genoa Province'
 'Ganges-Brahmaputra delta' ' Split-Dalmatia County' 'Florida '
 'Primorje-Gorski Kotar County ' 'Aulong Island'
 'Western Caroline Islands' 'Upolu Island' 'Antibes' 'Illeginni Atoll'
 'Istria County' 'Between Beira & Maputo' 'Istria ' 'Khuzestan Province'
 'Inhambe Province' 'Namonuito Atoll' 'Eastern Caroline Islands'
 'Western Caroline Islands (North Pacific Ocean)' 'Caribbean Sea'
 'St. Andrew Parish' '200 nm southeast of Manila' 'Limpopo River'
 'New Ireland Province' 'Zadar County' 'Basrah' 'Clarendon' 'Moro Gulf'
 'Johor' 'Magdalena Department' 'Mafia Island' 'Gulf Province'
 'Morobe Province' 'Limón Province' 'Rombion Province' 'Veracruz'
 'Brindisi Province' 'Kagawa Prefecture' 'Liguria' 'Hamilton'
 'Out Islands' 'Mugla Province' 'Gibraltar' 'New Britain' 'Bay of Maputo'
 'Duke of York Islands' 'Taranto province' 'Northern Taiwan'
 'Admiralty Islands, Manus Province' 'North Sumatra'
 "250 miles southwest of O'ahu, Hawaii" 'West coast' 'East Sepik'
 'Near Bougainville (North Solomons)' 'East of the Gulf of Aqaba'
 'Bougainville (North Solomons)' 'Victoria ' 'Okayama Prefecture'
 'San Blas' 'Connecticut' 'Lau Group' 'Caribbean Coast' 'Vita Levu'
 'San Blas Islands' 'Puntarenas Province' 'Lomaloma, Lau'
 'Between Southampton & Canary Islands' 'South Coast, East New Britain'
 ' Lau Province' 'Ysabel Island' 'Santo Domingo' 'San Blas coast'
 'Thessaly' 'Lomaiviti  Island Group' 'Rodrigues' 'Manus Island'
 'Pinas Bay' 'Grand Turk Island' 'Off coast of West Africa' 'Sharon'
 'Antalya Province' 'Northern District'
 'New Ireland Province, Bismarck Archipelago' 'Cyclades' 'Viti Levu'
 'Off the Coromandel Peninsula, North Island' 'Madang'
 'Guadalcanal Province' '10ºS, 142ºE' 'Kwajalein Atoll' 'East Flores'
 'Guerrrero' 'Western Luzon Island' 'Shefa Province'
 '165  miles from Bermuda'
 '25 km off the coast of Iran & 483km from mouth of Persian Gulf'
 'Venice Province' 'Sandaun Province' 'Anatolia'
 'East New Britain Province' 'United Arab Emirates'
 'Wake Island (EnenKio)' '19S, 178?E' 'Pennsylvania' '9.35N 79.35W'
 'Roncador Bank' 'Western District' 'Enroute from Suez to Aden (Yemen)'
 '180 miles southeast of Okinawa' 'Eniwetok Atoll' 'Cap-Vert Peninsula'
 'Delagoa Bay' 'In the English Channel ' 'Cook Strait'
 'Unknown, treated at Wick, SCOTLAND' 'Corregidor Island' 'Paget'
 '33N, 68W' 'Casamance' 'Madang (WO)' 'Between Timor & Darwin, Australia'
 'Pacific coast' 'St. Georges ' 'Eastern  Province'
 'Northwest of Viti Levu' 'West New Britain Province' 'Rigo subdistrict'
 'Masbate' '400 miles southeast of Sri Lanka' 'Lomaiviti Province'
 'Kadavu' 'Leyte Island' 'Orissa' 'Hokkaido Prefecture' 'North Palawan'
 'Queaon' 'Istria' 'PANAMA' 'In the Gulf Stream ' 'Mersin Province'
 'Guyamas' 'Between England & South Africa' 'Mindanao'
 ' Kikori River mouth' 'South Chungcheong Province' 'Ahirkapi coast'
 'Tutuila Island' 'Primorje-Gorski Kotar County'
 'Between Hawaii & Wake Island' 'Taipei Hsien' 'Ibaraki Prefecture'
 'South Pacific Ocean' 'Canal Zone' '1,000 miles east of Hawaii' 'Honiara'
 'Yucatan Channel' 'Havana Province' 'Karun River'
 'Abau Subdistrict,Central Province' 'New Britain, Bismarck Archipelago'
 'Estuaire Province' 'Near Dakar, Cap Vert Peninsula'
 'Near the Andaman & Nicobar Islands' 'Mozambique Channel' 'Tyrrenian Sea'
 'Congreve Channel' 'St. Thomas Bay' 'Madeira'
 'Between Comores & Madagascar' 'Corfu Island' '1000 miles west of Hawaii'
 'Izo Islands' ' Primorje-Gorski Kotar County' 'Open sea' 'Aden'
 'New Ireland, Bismarck Archipelago' '18S / 50E' 'Illinois'
 'Isles del Rosario' 'Wake Island' 'Isle of Man' 'Nagasaki Prefecture'
 'Liguaria' 'Slovenia' 'South shore ' 'Buenos Aires Province'
 '330 to 350 miles east of Wake Island' 'Gulf of Panama' 'Genoa  Province'
 'Abau Sub District, Central Province' 'Teramo' 'Red Sea State' 'Curacao'
 'Port Louis Province' 'Montserrado' 'Bay of Maputu' 'Sofala Province'
 'Salerno' 'Salerno Province' 'Taranto' 'Naples Province' ' La Libertad'
 'Sago Prefecture' 'Savona' 'Southern Province' 'Jakarta Harbour'
 'Singapore Harbor' 'Calabria' 'Shatt-el-Arab River' 'Shatt-al-Arab River'
 'Calvados Archipelago' 'Shat-Al-Arab River'
 'Between Kwajalein Atoll & Johnston Island' 'Attica' 'Adana Province'
 'Bandar Ma’shur sea inlet' 'Saipan' 'Carpathian Sea' 'Kwajalein'
 'Dar-es-Salaam ' '"Head of the Gulf"' 'Ryukyu' ' North Carolina'
 'In transit between Tinian and Leyte' 'Northern Java' 'Tel Aviv'
 'Colon Province' '300 miles east of Luzon'
 'Bernardino Strait near Gulf of Leyte'
 'Off Samar Island in the Gulf of Leyte' 'Lake Nicaragua (fresh water)'
 'Pacific Ocean' 'Near the Fiji Islands' '40 miles south of Naples '
 'Northwest of Papua New Guinea' 'Between Hawaii and U.S.A.'
 'Off South American coast' 'Makora-Ulawa Province' '04.05N-13.23W'
 'Midway Atoll' '300 miles east of St. Thomas (Virgin Islands)'
 'West of Ceylon (Sri  Lanka)' 'East Java' 'Camiguin Island'
 'Cay Sal Bank' '(Southwestern Pacific)' 'Panama City' 'Off Libya'
 'North of Pernambuco, Brazil' 'Off coast of Ecuador' 'Trelawney Province'
 'In Convoy OB 274' 'New Georgia' 'Panama Bay (Pacific Ocean)' 'Bwagaoia'
 'Western Papuan Gulf' 'Torres Strait ' 'Carabobo' 'Ascension Bay'
 'North China' 'Lower San Juan River' 'Nicoya Peninsula' 'Basrah City'
 'West Bengal' 'Queensland ' 'Argyllshire' 'Arran' 'Argyll'
 'Fishing Grounds' 'Newfoundland' 'Isle of Wight' 'Makira-Uluwa Province'
 'Northern (Oro) Province' 'Herzliyah' 'Elqui Province' 'Istanbul'
 'St Michael Parish' 'Barlavento Islands' 'Viti Levu Island'
 'Bay of Fundy' 'Manila' 'French Southern Territories' 'Niua '
 'Black River' 'Phoenix Islands' 'Cienfuegos Province' 'Santiago Island'
 'Near Puntarenas' 'Porto Seguro' 'Salinas Bay'
 'Golfo di Genova in the Ligurian Sea' 'Sants-Montjic'
 'South of the Equator ' 'Bay of Monaco' 'Valencia ' 'Vancouver'
 '2 to 3 miles off Taboguilla Island, Pacific Ocean' 'Dorset'
 '150 miles offshore' 'Galica' 'Demerara County' 'Vera Cruz' ' Manila Bay'
 'Lucy' 'East Yorkshire' 'Cavite Province, Luzon' 'Cape Haitien' 'Leyte'
 'Halifax' 'Turtle Bogue'
 '60 miles north of San Domingo in the West Indies' 'Colon' 'Off Ireland'
 'Mediterranean Sea' 'Gran Canaria' 'Apolima Strait' 'Essequibo' 'Lagos '
 'Trieste' '5aint-Denis' 'Viti Levu group' 'Balearics' 'Málaga '
 'Georges Bank' 'Zambesi River' 'Colón Province' '30 nm from Singapore'
 'Andalucia' 'Sfax' 'South Atlantic Ocean' 'Galicia' 'Gulf of Suez' 'Java'
 'Tiburon Peninsula' 'Oaxaca' 'Harare Province' 'Khánh Hòa Province'
 'Maluku Province' 'Suez Canal' ' Nusa Tenggara' 'Between Noumea & Sydney'
 'Villa Clara Province' 'Ancona Province' 'Quezon' 'Rio San Juan'
 'Southern Cyprus' 'Syracuse' 'Western Viscayas' 'Mindoro Occidental'
 'Negros ' 'Imperia Province' 'Muala' 'East coast' 'Ratak '
 'Socotra Islands' 'Off Cape Haitien' 'Moluccas' 'Bocas del Toro'
 'Provence' 'Bay of Campeche' 'Rangoon' 'Bay of Bengal' 'Bayelsa State'
 'South Island?' 'Norfolk Island' 'Brittany' 'Line Islands'
 'Woodlark Islands' 'Munxar Reef' 'Northern Peloponnese'
 'Between Perth & Colombo' 'Gujarat' 'Lukovo' 'Cortés'
 'Somewhere between Philadelphia and Hiogo, Japan' ' New Jersey'
 "Côte d'Azur  " 'Maldonado coast' 'Western Banks' 'Andaman Islands'

In [36]:
#Take a look of uniques per Serie

In [37]:
sharks_df["Sex"].unique()  #Ex-Series with unique values obvious to modify:

array(['F', 'M', nan, ' M', 'M ', 'lli', 'M x 2', 'N', '.'], dtype=object)

In [38]:
sharks_df["Injury"]  #Ex- Series with potential to have less unique values:

0                Minor injuries to back, abdomen and legs
1                          No injury, shark bit surfboard
2                                Lacerations to left foot
3                                              Leg bitten
4                          Calf of lower left leg injured
                              ...
6939                                                FATAL
6940                                                FATAL
6941                                                FATAL
6942                                                FATAL
6943    FATAL. "Shark bit him in half, carrying away t...
Name: Injury, Length: 6944, dtype: object

In [39]:
sharks_df["Type"].unique()

array(['Unprovoked', ' Provoked', 'Provoked', 'Questionable',
       'Watercraft', 'Sea Disaster', nan, '?', 'Unconfirmed',
       'Unverified', 'Invalid', 'Under investigation', 'Boat'],
      dtype=object)

# Day 2

In [41]:
sharks_df.columns = pd.Series(sharks_df.columns).apply(lambda col: col.lower())  #columns names
sharks_df.rename(columns = lambda x: x.replace(' ', '_'), inplace=True)
sharks_df.columns

/var/folders/1_/fmystfg15lbf3t1n1mmy4psw0000gn/T/ipykernel_53756/1720144071.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks_df.rename(columns = lambda x: x.replace(' ', '_'), inplace=True)

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'time', 'species_', 'source',
       'case_number', 'case_number.1', 'original_order'],
      dtype='object')

In [42]:
sharks_df["sex"].unique()

array(['F', 'M', nan, ' M', 'M ', 'lli', 'M x 2', 'N', '.'], dtype=object)

In [43]:
sharks_df["sex"].replace(' M','M', inplace=True)        #modify the sex series
sharks_df["sex"].replace('M ','M', inplace=True)
sharks_df["sex"].replace('M x 2','M', inplace=True)
sharks_df["sex"].replace('N','M', inplace=True) 
sharks_df["sex"].unique()

/var/folders/1_/fmystfg15lbf3t1n1mmy4psw0000gn/T/ipykernel_53756/208651882.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks_df["sex"].replace(' M','M', inplace=True)        #modify the sex series
/var/folders/1_/fmystfg15lbf3t1n1mmy4psw0000gn/T/ipykernel_53756/208651882.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks_df["sex"].replace('M ','M', inplace=True)
/var/folders/1_/fmystfg15lbf3t1n1mmy4psw0000gn/T/ipykernel_53756/208651882.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks_df["sex"].replace('M x 2','M', inplace=True)
/var/folders/1_/fmystfg15lbf3t1n1mmy4psw0000gn/T/ipykernel_53756/208651882.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks_df["sex"].replace('N','M', inplace=True)

array(['F', 'M', nan, 'lli', '.'], dtype=object)

In [799]:
sharks_df["age"].unique()

TypeError: '<' not supported between instances of 'int' and 'str'

In [45]:
sharks_df['age'].str.strip()
sharks_df["age"].replace('teen','10', inplace=True)
sharks_df["age"].replace('teen','10', inplace=True)
sharks_df["age"].replace('Teen','10', inplace=True)
sharks_df["age"].replace('20/30','25', inplace=True)
sharks_df["age"].replace('20/30','25', inplace=True)
sharks_df["age"] = sharks_df["age"].str.replace('s','')
sharks_df["age"] = sharks_df["age"].str.replace('!','')
sharks_df["age"] = sharks_df["age"].str.replace('?','')
sharks_df["age"].unique()

/var/folders/1_/fmystfg15lbf3t1n1mmy4psw0000gn/T/ipykernel_53756/3474665602.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks_df["age"].replace('teen','10', inplace=True)
/var/folders/1_/fmystfg15lbf3t1n1mmy4psw0000gn/T/ipykernel_53756/3474665602.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks_df["age"].replace('teen','10', inplace=True)
/var/folders/1_/fmystfg15lbf3t1n1mmy4psw0000gn/T/ipykernel_53756/3474665602.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks_df["age"].replace('Teen','10', inplace=True)
/var/folders/1_/fmystfg15lbf3t1n1mmy4psw0000gn/T/ipykernel_53756/3474665602.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks_df["age"].replace('20/30','25', inplace=True)
/var/folders/1_/fmystfg15lbf3t1n1mmy4psw0000gn/T/ipykernel_53756/3474665602.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks_df["age"].replace('20/30','25', inplace=True)
/var/folders/1_/fmystfg15lbf3t1n1mmy4psw0000gn/T/ipykernel_53756/3474665602.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks_df["age"] = sharks_df["age"].str.replace('s','')
/var/folders/1_/fmystfg15lbf3t1n1mmy4psw0000gn/T/ipykernel_53756/3474665602.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks_df["age"] = sharks_df["age"].str.replace('!','')
/var/folders/1_/fmystfg15lbf3t1n1mmy4psw0000gn/T/ipykernel_53756/3474665602.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sharks_df["age"] = sharks_df["age"].str.replace('?','')

array(['13', nan, '11', '46', '32', '29', '10', '64', '62', '39', '22',
       '15', '16', '21', '66', '52', '20', '44', '26', '47', '55', '30',
       '59', '8', '50', '45', '34', '38', '37', '9', '19', '25', '35',
       '65', '77', '60', '49', '42', '2', '24', '73', '18', '58', '67',
       '17', '14', '6', '41', '53', '68', '43', '40', '51', '31', 'M', '',
       '45 and 15', '28 & 22', '22, 57, 31', "20'", '9 & 60', 'a minor',
       '23', '12', '36', '63', '71', '48', '70', '18 month', '57', '7',
       '28', '33', '61', '74', '27', '3', '56', '28 & 26', '5', '54',
       '86', '18 or 20', '12 or 13', '46 & 34', '28, 23 & 30', 'Teen',
       '36 & 26', '8 or 10', '\xa0 ', ' ', '30 or 36', '6½', '21 & ',
       '33 or 37', 'mid-30', '23 & 20', ' 30', '7      &    31', ' 28',
       "60'", '69', '32 & 30', '16 to 18', '87', 'Elderly', 'mid-20',
       'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50', '18 to 22',
       'adult', '9 & 12', ' & 19', '9 month', '25 to 35', '23 & 26',
       '(adult)', '33 & 37', '25 or 28', '37, 67, 35, 27,   & 27',
       '21, 34,24 & 35', '30 & 32', '50 & 30', '17 & 35', 'X',
       '"middle-age"', '13 or 18', '34 & 19', '33 & 26', '2 to 3 month',
       '4', 'MAKE LINE GREEN', ' 43', '81', '"young"', '7 or 8',
       '17 & 16', 'F', 'Both 11', '9 or 10', 'young', '36 & 23', '  ',
       '78', 'A.M.', '    &   14', '10 or 12', '31 or 33', '2½', '1',
       '13 or 14'], dtype=object)

In [46]:
#Check Check Check